<template>
	<header class="app-header"
			:class="{'is-sidebar-open': isSidebarMenuOpen, 'has-burger': isLoggedIn }">
		<div class="wrapper">
			<burger-menu v-if="isLoggedIn" @toggle-sidebar-menu="toggleSidebarMenu" />
			<header-logo :class="{ 'right-of-burger': isLoggedIn }"
				:is-partner="isPartner"
				:path="logoPath" />
			<no-ssr>
				<header-menu v-if="isLoggedIn" :account="account" :unread-notification="102" :unread-message="4"></header-menu>
				<div v-else-if="showHeaderButtons" class="app-header__button-area">
					<!-- <router-link to="/partner" class="app-header__be-partner-button">
						{{ $t('header.be_partner_button') }}
					</router-link>
					<a class="app-header__sign-up-button" @click="onClickSignUpButton">
						{{ $t('header.sign_up_button') }}
					</a> -->
					<a class="app-header__login-button" @click="onClickLoginButton">
						{{ $t('header.button') }}
					</a>
				</div>
			</no-ssr>
			<div v-if="isLoggedIn && !isPartner" class="app-header__parent-links">
				<nuxt-link to="/activity">{{ $t('header.activities') }}</nuxt-link>
				<nuxt-link to="/provider">{{ $t('header.partners') }}</nuxt-link>
			</div>
			<transition name="fade">
				<popup-login v-if="showPopUpLogin" @popup-login-close="onClickLoginPopupClose" :form-type="formType" />
			</transition>
		</div>
	</header>
</template>

<script>
import accountAPI from '@/api/account'

import BurgerMenu from './burger/index.vue';
import HeaderMenu from './menu/index.vue';
import HeaderLogo from './header-logo/index.vue';
import PopupLogin from '~/components/popup/login';

export default {
	name: "AppHeader",
	props: ["isSidebarMenuClose"],
	data() {
		return {
			totalUnreadChat: 4,
			isSidebarMenuOpen: false,
			showPopUpLogin: false,
			formType: 'login'
		}
	},
	props: {

	},
	components: {
		BurgerMenu,
		HeaderMenu,
		HeaderLogo,
		PopupLogin
	},
	methods: {
		toggleSidebarMenu() {
			this.isSidebarMenuOpen = !this.isSidebarMenuOpen;
		},
		onClickLoginButton() {
			this.formType = 'login'
			this.showPopUpLogin = true;
		},
		onClickSignUpButton() {
			this.formType = 'signup'
			this.showPopUpLogin = true
		},
		onClickLoginPopupClose() {
			this.showPopUpLogin = false;
		}
	},
	computed: {
		showHeaderButtons() {
			const path = this.$route.path
			function isSameUrl(a, b) {
				return a == b || a == (b + '/')
			}
			if (isSameUrl(path, '/login'))
				return false
			return !this.$store.state.account.token
		},
		isLoggedIn() {
			return !!this.$store.state.account.account
		},
		account() {
			return (this.$store.state.account.account ?
				this.$store.state.account.account :
				null)
		},
		logoPath() {
			if (this.isLoggedIn) {
				if (this.isPartner) return 'dashboard'
				else return 'home'
			} else {
				return ''
			}
		},
		isPartner() {
			if (this.$store.state.account.account) {
				return this.$store.state.account.account.type == 'partner'
			}
			return false
		}
	},
	mounted() {
		let accountApi = new accountAPI(this.$axios)
		if (this.$store.state.account.token) {
			return accountApi.getProfile().then((response)=> {
				return this.$store.dispatch('setAccount',response.data.data)
			},(error)=>{

			})
		}
	},
	watch: {
		isSidebarMenuClose() {
			if (this.isSidebarMenuClose){
				this.$emit("isSidebarMenuClosed")
				this.toggleSidebarMenu()
			}
		}
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
