.app-header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: $c-white;
  z-index: 99;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06);
  padding-left: 14px;
  padding-right: 18px;
  &.is-sidebar-open {
    .burger-menu .bar {
      opacity: 0;
      &:first-child {
        opacity: 1;
        transform: rotate(45deg);
        margin-left: -8px;
        margin-top: 0;
      }
      &:last-child {
        opacity: 1;
        transform: rotate(-45deg);
        margin-left: -8px;
        margin-top: 0;
      }
    }
    .burger-content {
      visibility: visible;
      opacity: 1;
      .burger-container {
        transform: translateX(0);
      }
    }
  }
  &.has-burger {
    padding-left: 0px;
    @include mq-medium-up {
      padding-left: 12px;
    }
  }
  @include mq-medium-up {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.app-header__button-area {
	position: absolute;
	right: 16px;
	margin-top: 12px;

	@include mq-medium-up {
	  float: right;
	  display: inline;
	  right: auto;
	  position: static;
	  margin-top: 13px;
	}
}

.app-header__be-partner-button,
.app-header__sign-up-button,
.app-header__login-button {
	width: 125px;
  height: 36px;
  line-height: 36px;
	border-radius: 3px;
	font-size: 14px;
	display: inline-block;
  text-align: center;
	font-size: 14px;
	cursor: pointer;
}

.app-header__be-partner-button {
	display: none;
	background-color: white;
	color: #8c67cd;
	margin-right: 16px;

	@include mq-medium-up {
		display: inline-block;
	}
}

.app-header__sign-up-button {
	display: none;
	background-color: white;
	border: 1px solid #534d5c;
	margin-right: 16px;

	@include mq-medium-up {
		display: inline-block;
	}
}

.app-header__login-button {
	background-color: #faa61a;
	color: white;
}

.app-header__parent-links {
	display: none;

	a {
		display: inline-block;
		width: 96px;
		text-align: center;
	}

	a:link, a:visited, a:hover, a:active {
		color: #534d5c;
	}

	@include mq-medium-up {
		display: block;
		float: right;
		height: 60px;
		line-height: 60px;
		font-size: 14px;
		margin-right: 40px;
	}
}