<template>
	<p class="form-error" :style="{ visibility: isVisible ? 'visible': 'hidden' }">{{ text }}</p>
</template>

<script>
export default {
	name: "InputError",
	props: {
		isVisible: {
			type: Boolean,
			default: false
		},
		text: {
			type: String,
			required: true
		}
	}
}
</script>

<style scoped lang="scss">
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
