<template>
	<div class="pagination">
		<ul>
			<li v-for="page in paginations(activePage, totalPage)" :class="{'active': page==activePage}">
				<a v-if="page!='...'" @click="goToPage(page)" href="#">{{page}}</a>
				<p v-else>{{page}}</p>
			</li>
		</ul>
	</div>
</template>

<script>
import { paginations } from '~/plugins/helpers'

export default {
	name: "Pagination",
	props: ["currentPage","totalPage"],
	data(){
		return {
			activePage: 1
		}
	},
	methods:{
		paginations(current,total){
			return paginations(current,total)
		},
		goToPage(page){
			this.activePage = page
			this.$emit("goToPage",page)
		}
	}
}
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
