@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.pagination {
	margin-top: 10px;
	margin-bottom: 45px;
	ul {
	  overflow: hidden;
	  float: right;
	  margin-right: -10px;

	  @include mq-medium-only {
		margin-right: 0px;
	  }
	  li {
		float: left;
		a, p {
		  text-decoration: none;
		  display: inline-block;
		  width: 24px;
		  height: 24px;
		  border-radius: 3px;
		  background-color: #ffffff;
		  font-family: $f-circularstd;
		  font-size: 14px;
		  font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 24px;
		  text-align: center;
		  color: #666666;
		  margin-right: 10px;
		}
		&.active a {
		  background-color: #7d6ea9;
		  color: #ffffff;
		  &:hover {
			background-color: #7d6ea9;
			color: #ffffff;
		  }
		}
		&.arrow a {
		  color: #7d6ea9;
		}
		&:hover a {
		  background-color: #fafafa;
		}
	  }
	}
  }