<template>
	<div class="headmenu is-mobile mb-20">
		<img :src="(account && account.accountable.cover)" v-if="(account && account.accountable.cover)" />
		<span v-else class="initial">{{ initial }}</span>
		<h3>{{ displayName }}</h3>
		<div class="parent-info" v-if="isParent">
			<p>{{ $t('header.upcoming_bookings') }} <span>{{ upcomingBookings }}</span></p>
			<p>{{ $t('header.remaining_passes') }} <span>{{ remainingPasses }}</span></p>
			<p>{{ $t('header.valid_until') }} <span>{{ remainingPassesValidUntil }}</span></p>
		</div>
	</div>
</template>
re
<script>
import bookingApi from '@/api/booking'

import { initialOf, capitalize } from '~/plugins/helpers'

export default {
	name: "SidebarHead",
	props: ["account"],
	computed: {
		initial() {
			if (this.account) {
				if (this.account.display_name === null) {
					return ''
				} else {
					return initialOf(this.account.display_name)
				}
			} else {
				return ""
			}
		},
		isParent() {
			return this.account && this.account.type == 'parent'
		},
		displayName() {
			return this.account && capitalize(this.account.display_name) || this.$t('general.default_name')
		},
		upcomingBookings() {
			if (this.$store.state.booking.bookingsMeta) return this.$store.state.booking.bookingsMeta.total
			else return 0
		},
		remainingPasses() {
			if (this.$store.state.membership) return this.$store.state.membership.remainingPasses
		},
		remainingPassesValidUntil() {
			if (this.$store.state.membership && this.$store.state.membership.remainingPassesValidUntil) {
				return this.$moment(this.$store.state.membership.remainingPassesValidUntil).format('DD/MM/YY')
			} else {
				return '-'
			}
		}
	},
	mounted() {
		if (!this.isParent) return
		let bookingAPI = new bookingApi(this.$axios)
		bookingAPI.getParentUpcomingBookings().then(response => {
			this.$store.dispatch('setBookings', response.data.data)
		}).catch(err => console.log(err))
		bookingAPI.getMemberships().then(response => {
			this.$store.dispatch('setMemberships', response.data.data)
		}).catch(err => console.log(err))
	}
};
</script>

<style lang="scss" src="./style.scss" scoped />
