@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.headmenu{
	padding: 20px;
	background-color: #fafafa;
	overflow: hidden;
	img {
		width: 52px;
		height: 52px;
		border-radius: 100%;
		float: left;
	}
	span.initial {
		display: block;
		float: left;
		color: #f5821f;
		background-color: #f6cc99;
		border-radius: 100%;
		width: 52px;
		height: 52px;
		line-height: 52px;
		text-align: center;
		font-size: 18px;
	}
	h3 {
		display: block;
		margin-top: 4px;
		margin-left: 62px;
		width: 240px;
		font-family: $f-circularstd;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #282133;

		&:last-child {
			height: 52px;
			line-height: 52px;
			margin-top: 0px;
		}
	}
	.parent-info {
		margin-top: 11px;

		p {
			font-size: 13px;
			color: #7e7a85;
			margin-left: 62px;
			margin-top: 3px;
			position: relative;
		}

		span {
			font-size: 14px;
			color: #fe9139;
			display: inline-block;
			position: absolute;
			right: 0;
			width: 80px;
			text-align: right;
		}
	}
}