<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box w-680">
				<div class="popup-header">
					<h3>{{$t('dashboard.statistic.class_participants.participant_list')}}</h3>
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content">
					<div class="participant-list">
						<h3>{{activityName}}</h3>
						<time>{{$moment(startDate).format("DD MMM YY, HH:mm")}}</time>
						<table>
							<thead>
								<tr>
									<th class="no">{{$t('dashboard.statistic.class_participants.number')}}</th>
									<th colspan="3">
										<div class="parent-child">
											<div class="parent">{{$t('dashboard.statistic.class_participants.booking_code')}}</div>
											<div class="parent">{{$t('dashboard.statistic.class_participants.parent_name')}}</div>
											<div class="child">{{$t('dashboard.statistic.class_participants.child_name')}}</div>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(participant,index) in participants" :key="participant.id">
									<td class="no">{{index+1}}</td>
									<td>
										<div class="parent-child">
											<div class="parent">{{participant.booking_code}}</div>
											<div class="parent">{{participant.parent_name}}</div>
											<div class="child">{{showChildrenNames(participant.children)}}</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<pagination v-if="(meta && meta.total_page != 0)" :totalPage="(meta && meta.total_page)" :currentPage="page" @goToPage="goToPage" />
					</div>
				</div>
				
			</div>
		</div>
	</div>
</template>

<script>
import bookingAPI from '@/api/booking'
import Pagination from '~/components/pagination/index.vue'

export default {
	name: "PopupListParticipant",
	props:["classId","activityName","startDate"],
	data(){
		return {
			page: 1
		}
	},
	components:{
		Pagination
	},
	computed:{
		participants(){
			return this.$store.state.booking.participants
		},
		meta(){
			return this.$store.state.booking.participantsMeta
		}
	},
	methods: {
		closePopup(){
			this.$emit("popUpParticipantListClose")
			document.body.classList.remove('is-modal-open');
		},
		fetchClassParticpants(classId,page){
			if (classId)
				this.classId = classId
			if (page)
				this.page = page
			let bookingApi = new bookingAPI(this.$axios)
			return bookingApi.getClassParticipant(this.classId,this.page).then((response)=>{
				return this.$store.dispatch('setParticipants',response.data.data)
			},(error)=>{

			}) 
		},
		goToPage(page){
			this.page=page
			this.fetchClassParticpants(this.classId,this.page)
		},
		showChildrenNames(children){
			let names = ''
			children.forEach((child,index) => {
				names+= child.child_name + " (" +child.child_age+")"
				if (index != children.length-1)
					names+= ", "
			});
			return names
		}
	},
	mounted(){
		this.fetchClassParticpants()
	},
	beforeCreate: function() {
		document.body.className += ' is-modal-open';
	}
};
</script>

<style lang="scss" scoped src="./style.scss" />
