@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.popup-content{
	.participant-list{
		padding: 25px 22px;
		@include mq-medium-only{
			padding: 15px 15px;
		}
		h3{
			font-family: $f-circularstd;
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			color: #534d5c;
			padding: 0 15px;
			@include mq-medium-only{
				padding: 0 0;
			}
		}
		time{
			display: block;
			margin-top: 5px;
			font-family: $f-circularstd;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			color: #7e7a85;
			padding: 0 15px;
			@include mq-medium-only{
				padding: 0 0;
			}
		}
		table{
			width: 100%;
			margin-top: 20px;
			th, td{
				font-family: $f-circularstd;
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #666666;
				min-height: 40px;
				vertical-align: top;
				padding: 10px 0;
				text-align: left;
				&:first-child{
					padding-left: 13px;
				}
			}
			th{
				background-color: #f4f5f8;
				border: solid 1px #f4f5f8;
				border-width: 1px 0 0;
				&:first-child{
					border-width: 1px 0 0 1px;
				}
				&:last-child{
					border-width: 1px 1px 0 0;
				}
				@include mq-medium-only{
					display: none;
				}
			}
			td{
				border: solid 1px #e6eaee;
				border-width: 0 0 1px;
				&:first-child{
					border-width: 0 0 1px 1px;
				}
				&:last-child{
					border-width: 0 1px 1px 0;
				}
				&:nth-child(2){
					@include mq-medium-only{
						border-width: 0 0 1px 1px;
						padding-left: 10px;
					}
				}
			}
			.no{
				width: 50px;
				@include mq-medium-only{
					display: none;
				}
			}
			.chat{
				padding: 10px 10px;
				line-height: 1.14;
				letter-spacing: normal;
				color: #8c67cd;
				a{
					display: none;
				}
				@include mq-medium-only{
					vertical-align: middle;
					a{
						display: block;
						font-size: 19px;
						.text{
							display: none;
						}
					}
				}
			}
			.parent-child{
				display: table;
				width: 500px;
				@include mq-medium-only{
					display: block;
					width: calc(100vw - 90px);
				}
			}
			.parent{
				display: table-cell;
				width: 220px;
				@include mq-medium-only{
					display: block;
					border-width: 0 0 1px 1px;
					font-size: 16px;
					color: #534d5c;
				}
			}
			.child{
				display: table-cell;
				width: 300px;
				@include mq-medium-only{
					display: block;
					font-size: 12px;
					color: #7e7a85;
					width: 100%;
				}
			}
			tr:nth-child(2){
				@include mq-medium-only{
					td{
						border-top-width: 1px;
					}
				}
			}
			tr:hover td{
				font-weight: 700;
				&.chat{
					a{
						font-weight: normal;
						display: block;
					}
				}
			}
		}
	}
	.participant-pagination{
		float: right;
		overflow: hidden;
		padding: 0 5px 20px;
		@include module-pagination;
	}
}