<template>
    <div>
        <div v-if="!memberships.length" class="promo">
            <h2 class="text-white">Get Our Special Rate While It Lasts!</h2>
            <p class="text-white f-14 center mb-15">Join Parentstory membership and choose any activities for your child</p>
            <p class="text-white f-14 center">Currently available in Greater Jakarta</p>
        </div>
    	<div class="subcription-container">          
			<div v-if="!memberships.length">
				<div class="month-subcription" >
					<span class="block center f-14 text-light-gray mb-20">Select Subscription Period</span>
					<ul class="month-tab">
						<li @click="getAvailableMembersipByPeriod(period.duration)" v-for="period in periods" :class="{'is-active' : (period.duration==duration)}">{{period.title}}</li>
					</ul>
				</div>
				<span class="is-mobile f-12 text-light-gray">Choose your pass</span>
				<div class="package-list">
					<div v-for="(availableMembership,index) in availableMembershipsPerMonth" :key="availableMembership.id" class="package" :class="{'top-package': (index==1)}">
						<div v-if="index == 1" class="recommended">
							Recommended
						</div>
						<div class="month">
							{{availableMembership.membership.passes}}x Pass/Month
							<span class="subcription-desc mt-15">
								Accumulative unused pass
							</span>
						</div>

						<div @click="openPassDetail" class="pass-details">
							<span>i</span> Pass Details
							<div class="border"></div>
						</div>

						<div class="subcription-pricing">
							<div class="real-price">{{availableMembership.membership.price.price | currency}}</div>
							<span>per month</span>
							<button @click="addMembership(availableMembership)" class="orange button button-block">Join Now</button>
						</div>
					</div> 

				</div>
			</div>
			<div  v-if="memberships.length">
				<h2 class="current-title">My Membership</h2>
				<div class="row">
					<div class="subcription-box current">
						<div class="month">
							{{memberships[0].name}}
							<span class="subcription-desc mt-15">
								Accumulative unused pass
							</span>
						</div>

						<div class="booking-valid-date">
							<div class="flex booking-remaining mb-15">
								<p class="left">Remaining Passes</p>
								<span class="right block text-orange">{{memberships[0].passes}}</span>
							</div>

							<div class="flex valid-until mb-15">
								<p class="left">End of Current Cycle</p>
								<span class="right block text-dark-gray">{{$moment(memberships[0].end_date).format('DD MMM YY')}}</span>
							</div>

							<div class="flex valid-until mb-15">
								<p class="left">Membership End</p>
								<span class="right block text-dark-gray">{{$moment(memberships[memberships.length-1].end_date).format('DD MMM YY')}}</span>
							</div>



						</div>
					</div>
				</div>
			</div>

            <transition name="fade">
				<PopupPassDetail v-if="showPassDetail" @close="closePassDetail" />
			</transition>

            <transition name="fade">
                <PopupUpdateCard v-if="showUpdateCard"/>
            </transition>

            <transition name="fade">
                <PopupUpgradeMembership v-if="showUpgradeMembership"/>
            </transition>
            
        </div>
    </div>
</template>

<script>
import PopupUpdateCard from "~/components/popup/update-credit-card/index.vue"
import PopupPassDetail from "~/components/popup/pass-detail/index.vue"
import PopupUpgradeMembership from "~/components/popup/upgrade-membership/index.vue"
import bookingAPI from "@/api/booking"

export default {
	middleware: ["authenticated", 'verifiedParent'],
	layout: "ParentDashboard",
	components: {
		PopupUpdateCard,
		PopupPassDetail,
		PopupUpgradeMembership
	},
	data(){
		return {
			periods:[{
				title: "3 Months",
				duration: 3
			},{
				title: "6 Months",
				duration: 6
			},{
				title: "12 Months",
				duration: 12
			}],
			duration: 6,
			showUpdateCard :false,
			showPassDetail : false,
			showUpgradeMembership : false,
			availableMembershipsPerMonth: []
		}
	},
	computed:{
		availableMemberships(){
			return this.$store.state.membership.availableMemberships
		},
		memberships(){
			return this.$store.state.membership.memberships
		}

	},
	methods:{
		openPassDetail(){
		this.showPassDetail = true
		},
		closePassDetail(){
			this.showPassDetail = false
		},
		getAvailableMembersipByPeriod(period){
			this.duration = period
			this.availableMembershipsPerMonth = this.availableMemberships.filter(availableMemberships => availableMemberships.quantity == period)
		},
		addMembership(availableMembership){
				let bookingApi = new bookingAPI(this.$axios) 
				let data = {
					package_id: availableMembership.id,
					price: availableMembership.membership.price.price,
					token: this.$store.state.account.token
				}
				
				bookingApi.addMemberships({id:availableMembership.id}).then((response)=>{
					data.membership_id = response.data.data.id
					bookingApi.doPayment(data).then((response)=>{
						if (process.client)
							window.location.href = response.data.data.checkout_url
					}).catch((error)=>{
						alert('error')
					})
				}).catch((error)=>{
					alert('sakit')
				})
		}
	},
	mounted(){
		this.getAvailableMembersipByPeriod(this.duration)
	},
	async fetch({store,$axios}){
		let bookingApi = new bookingAPI($axios)
		let availableMemberships = await bookingApi.getAvailableMemberships()
		let membership = await bookingApi.getMemberships()
		store.dispatch("setAvailableMemberships",availableMemberships.data.data)
		store.dispatch("setMemberships", membership.data.data)
	}
}
</script>


<style lang="scss" src="./style.scss" ></style>
