@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.subcription-container{
    padding:30px;
    border-radius:4px;
    background-color:#fff;

    @include mq-medium-only {
        background-size:260%;
        overflow:hidden;
    }
    @include mq-mediumlarge-up {
        background-size:100%;
    }
}

.promo {
    padding-bottom:20px;
    padding-top:20px;
    min-height:80px;
    background-image:url('~/assets/images/parent/subscription-top.png');
    background-size:cover;
    background-repeat:no-repeat;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    @include mq-medium-only {
        padding-left:15px;
        padding-right:15px;
    }
    h2 {
        font-size:28px;
        font-style:italic;
        font-weight:bold;
        margin-bottom:15px;
        text-align:center;
        @include mq-medium-only {
            font-size:20px;
            line-height:21px;
        }
    }
    p {
        @include mq-medium-only {
            font-size:13px;
            line-height:19px;
        }
    }
}

.month-subcription {
    width:500px;
    margin:auto;

    @include mq-medium-only {
        width:100%;
    }

    .month-tab {
        border-radius:4px;
        border: solid 1px #8c67cd;
        width:100%;
        background-color:#fff;
        color:#8c67cd;
        display:flex;
        margin-bottom:30px;
        li {
            text-align:center;
            padding-top:10px;
            padding-bottom:10px;
            font-size:14px;
            cursor:pointer;
            display:inline-block;
            flex-grow:1;
            &:hover {
                background-color:#8c67cd;
                color:#fff;
            }
            &.is-active {
                background-color:#8c67cd;
                color:#fff;
            }
        }
    }
}

.package-list {
    display:flex;
    justify-content:space-between;
    @include mq-medium-only {
        display:block;
    }
    .package {
        border-radius: 4px;
        border: solid 1px #dfe1e5;
        width:30%;
        flex-grow:1;
        text-align:center;
        padding:30px 20px 0 20px;
        position:relative;
        overflow:hidden;
        background-color:#fff;
        @include mq-medium-only {
            width:100%;
        }
        &:nth-child(2) {
            margin-left:25px;
            margin-right:25px;
            @include mq-medium-only {
                margin-left:0px;
                margin-right:0px;
                margin-top:15px;
                margin-bottom:15px;
            }
        }
        &.top-package {
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        }
        .recommended {
            background-color:#8c67cd;
            text-align:center;
            font-size:13px;
            color:#fff;
            font-style:italic;
            font-weight:500;
            padding:8px 0px;
            position:absolute;
            top:0px;
            width:100%;
            left:0px;
        }
        .month {
            font-weight:bold;
            color:#534d5c;
            font-size:22px;
            padding:15px;
            @include mq-medium-only {
                font-size:20px;
            }
            span {
                font-size:14px;
                color:#7e7a85;
                margin-bottom:5px;
                font-weight:normal;
                display:block;
            }
        }
        .subcription-pricing {
            .real-price {
                color:#ff5e72;
                font-size:20px;
                font-weight:bold;
                margin-bottom:15px;
            }
            span {
                font-size:14px;
                color:#c1c7d0;
            }
        }
        .pass-details {
            color:#8c67cd;
            font-size:14px;
            cursor:pointer;
            margin-bottom:35px;
            span {
                font-size:14px;
                display:inline-block;
                border:1px solid #8c67cd;
                border-radius:25px;
                height: 16px;
                width: 15px;
            }
            .border {
                border-top:1px solid #c1c7d0;
                margin:10px auto 0 auto;
                width:72px;
            }
        }
        .button {
            width:105px;
            margin:25px auto;
        }
    }
}

.current-title {
    color:#534d5c;
    @include mq-medium-only {
        text-align:center;
    }
}
.row {
    display:flex;
    margin-bottom:20px;
    @include mq-medium-only {
        display:block;
    }
    h2{
        width:28%;
        float:left;
        margin-top:5px;
        line-height:20px;
        color:#534d5c;
        @include mq-medium-only {
            width:100%;
            float:none;
            margin-bottom:15px;
            text-align:center;
        }
    }
    .subcription-box {
        width:70%;
        float:left;
        margin-left:4%;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #dfe1e5;
        display:flex;
        position:relative;
        justify-content: space-between;
        @include mq-medium-only {
            width:100%;
            float:none;
            display:block;
            margin-left:0%;
        }
        .month {
            font-weight:bold;
            color:#534d5c;
            font-size:24px;
            margin-right:20px;
            padding:15px;
            @include mq-medium-only {
                font-size:22px;
            }
            span {
                font-size:14px;
                color:#7e7a85;
                margin-bottom:5px;
                font-weight:normal;
                display:block;
                &.remaining-box {
                    padding:7px;
                    border-radius: 4px;
                    background-color: #fdedef;
                    color: #ff5e72;
                    font-size:12px;
                    margin-top:20px;
                    width:200px;
                    line-height:18px;
                    @include mq-medium-only {
                        width:100%;
                    }
                }
            }
        }

        .booking-valid-date {
            border-left:1px solid #def1e5;
            @include mq-medium-only {
                border-left:none;
                border-top:1px solid #def1e5;
                overflow:hidden;
                .flex {
                    display:block;
                }
                .left {
                    float:none;
                }
                .right {
                    text-align:left;
                }
                .update-card-purple {
                    a {
                        display:block;
                        width:100%;
                        text-align:left;
                        font-size:14px;
                    }
                }
            }
            flex-grow:1;
            padding:15px 15px 25px 15px;
            p {
                font-size:14px;
                color:#a9a6ad;
            }
            span {
                font-size:14px;
                flex-grow:1;
                @include mq-medium-only {
                    width:100%;
                    margin-bottom:15px;
                    margin-top:7px;
                }
            }

        }

        &.current {
            width:100%;
            margin-left:0%;
            margin-top:20px;
        }
        .subcription-pricing {
            padding:45px 15px 25px 15px;
            width:30%;
            @include mq-medium-only {
                width:100%;
                padding:5px 15px 45px 15px;
            }
            .discount {
                color:#a398bf;
                font-size:12px;
                text-decoration:line-through;
            }
            .real-price {
                color:#ff5e72;
                font-size:20px;
                font-weight:bold;
                margin-bottom:15px;
            }
        }

        .pass-details {
            color:#8c67cd;
            font-size:14px;
            position:absolute;
            bottom:15px;
            left:15px;
            cursor:pointer;
            span {
                font-size:14px;
                display:inline-block;
                border:1px solid #8c67cd;
                border-radius:25px;
                height: 16px;
                width: 15px;
                padding-left: 4.5px;
            }
        }
    }

}