<template>
	<div class="bookings-container">
        <div class="booking-tabs">
            <ul>
                <li @click="changeStatus(0)" :class="{ 'is-active': (status == 0)} ">{{$t('parent.booking.upcoming')}}</li>
                <li @click="changeStatus(1)" :class="{ 'is-active': (status == 1)} ">{{$t('parent.booking.past')}}</li>
            </ul>
        </div>
		<div v-if="!bookings.length" class="no-booking-card"> 
			<img  src="~/assets/images/parent/not-found.png">
			<div>
				<span class="block f-12 mt-10 mb-10">No activity booked</span>
				<nuxt-link :to="$i18n.path('activity')" class="button orange button-md is-desktop">
					Browse Activities
				</nuxt-link>
			</div>
		</div> 
        <div v-for="booking in bookings" :key="booking.id" class="booking-card">
            <div class="col-left" @click="goToActivityDetail(booking.id)">
                 <h2 >{{booking.activity_name}}</h2>
                 <span>{{booking.partner_name}}</span>
                 <span>{{$moment(booking.class_start_date).format("dddd, DD MMMM YY | HH:mm")}}</span>
            </div>
           	<div class="col-right">
               <span>{{$t('parent.booking.booking_code')}}</span>
               <p class="booking-code">{{booking.booking_code}}</p>

               <span>{{$t('parent.booking.booking_for')}}</span>
               <p class="booking-for">{{showChildName(booking.children)}}</p>

                <button v-if="status == 1 && booking.need_review" @click="openReviewPopup(booking)" class="button orange review">{{$t('parent.booking.review')}}</button>
           </div>
		</div>	
		<pagination v-if="bookings.length" :totalPage="meta.total_page" :currentPage="page" @goToPage="goToPage"/>
		

        <!-- Pop up -->
        <transition name="fade">
            <PopupBookingReview v-if="showPopupBookingReview" :booking="bookingReviewed" @close="closeReviewPopup" @save="successSave"/>
        </transition>

        <transition name="fade">
            <PopupSuccessReview v-if="showPopupSuccessReview" @close="closeSuccessReview" />
        </transition>  
        
    </div>

</template>

<script>
import PopupBookingReview from "~/components/popup/booking-review/index.vue"
import PopupSuccessReview from "~/components/popup/success-review/index.vue"
import Pagination from '~/components/pagination/index.vue'

import bookingAPI from "@/api/booking"

export default {
	middleware: ["authenticated", 'verifiedParent'],
	layout: "ParentDashboard",
	components : {
		PopupBookingReview,
		PopupSuccessReview,
		Pagination
	},
	data(){
		return {
			page: 1,
			status: 0,
			showPopupBookingReview: false,
			showPopupSuccessReview: false,
			bookingReviewed: null,
			showCancelBookingPopup: false,
			bookingCode: null
		}
	},
	computed:{
		bookings(){
			return this.$store.state.booking.bookings
		},
		meta(){
			return this.$store.state.booking.bookingsMeta
		}
	},
	methods:{
		openReviewPopup(booking){
			this.bookingReviewed = booking
			this.showPopupBookingReview = true
		},
		closeReviewPopup(){
			this.showPopupBookingReview = false
		},
		openCancelBookingPopup(bookingCode){
			this.bookingCode= bookingCode
			this.showCancelBookingPopup = true
		},
		closeCancelBookingPopup(){
			this.showCancelBookingPopup = false
		},
		isCancellable(booking){
			if (booking.is_cancellable && booking.cancellation_policy < (this.$moment().diff(booking.class_start_date,'hours')*-1))
				return true
			return false
		},
		successSave(){
			this.closeReviewPopup()
			this.showPopupSuccessReview = true
		},
		closeSuccessReview(){
			this.showPopupSuccessReview = false
		},
		changeStatus(status){
			this.status = status
			this.page = 1
			this.fetchBookings()
		},
		goToPage(page){
			this.page=page
			this.fetchBookings()
		},
		goToActivityDetail(booking_id){
			window.open(process.env.BASE_URL +'booking/'+booking_id)

		},
		showChildName(children){
			let string=''
			children.forEach((child,index)=>{
				string += (child.child_name + " - " + child.child_age)
				if (children.length-1 != index)
					string += ", "
			})
			return string
		},
		fetchBookings(){
			let bookingApi = new bookingAPI(this.$axios)
			return bookingApi.getMyBookings(this.status,this.page).then((response)=>{
				this.$store.dispatch('setBookings',response.data.data)
			},(error)=>{

			})
		}
	},
	async fetch({store,$axios}){
		let bookingApi = new bookingAPI($axios)
		let booking = await bookingApi.getMyBookings()
		store.dispatch('setBookings',booking.data.data)
		
	}

}
</script>


<style lang="scss" src="./style.scss" scoped></style>
