@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.parent-dashboard-container {

}

.bookings-container {
	@include mq-medium-only {
		background-color:#fff;
		padding-bottom: 5px;
	}
}
.booking-tabs {
	border:solid 1px #ebecf0;
	border-radius-left-top:3px;
	border-radius-right-top:3px;
	background-color:#fff;
	padding-top:30px;
	padding-bottom:30px;
	@include mq-medium-only {
		padding-top:10px;
		padding-bottom:10px;
		border:none;
	}
	ul {
		width:60%;
		border:solid 1px #8c67cd;
		border-radius:4px;
		margin:auto;
		@include mq-medium-only { 
			width:95%;
			
		}
	}
	li {
		text-align:center;	
		color:#8c67cd;
		font-size:13px;
		padding-top:10px;
		padding-bottom:10px;
		display:inline-block;
		width:50%;
		cursor:pointer;
		&.is-active {
			background-color:#8c67cd;
			color:#fff;
		}
		&:hover {
			background-color:#8c67cd;
			color:#fff;
			transition:all 0.4s ease;
		}
	}
}

.booking-card {
	padding:30px;
	display:flex;
	background-color:#fff;
	border-left:solid 1px #ebecf0;
	border-bottom:solid 1px #ebecf0;
	border-right:solid 1px #ebecf0;;
	@include mq-medium-only {
		padding:10px;
		display:block;
		border-top:1px solid #ebecf0;
		border-radius:4px;
		margin:10px;
	}
	.col-left {
		width:60%;
		border-right:1px solid #ebecf0;
		cursor: pointer;
		@include mq-medium-only {
			width:100%;
			border-right:0px solid #ebecf0;
			border-bottom:1px solid #ebecf0;
			padding-bottom:10px;
			
		}
		h2 {
			font-size:18px;
			font-weight:bold;
			color:#4a4a4a;
			@include mq-medium-only {
				font-size:16px;
			}
		}
		span {
			display:block;
			margin-top:10px;
			font-size:13px;
			color:#a9a6ad;
		}
	}
	.col-right {
		width:40%;
		padding-left:30px;
		position:relative;
		@include mq-medium-only {
			width:100%;
			padding-left:0px;
			padding-top:10px;
		}
		span {
			font-size:14px;
			margin-bottom:5px;
			color:#7e7a85;
			font-weight:200;
			font-family:$f-circularstd;
		}
		.booking-code {
			color:#4a4a4a;
			font-weight:bold;
			font-size:14px;
			margin-bottom:13px;
			padding-right:120px;
		}
		.booking-for {
			font-weight:bold;
			font-size:14px;
			color:#4a4a4a;
		}
		.review {
			width:90px;
			position:absolute;
			top:0px;
			right:0px;
			min-height:30px;
			@include mq-medium-only {
				position: relative;
				width: 150px;
				margin: 15px auto;
				display: block;
			}
		}
		.button-cancel {
			border-radius: 4px;
			background-color: #fafafa;
			font-size: 14px;
			color: $c-theme-orange;
			border: 0px;
		}	
	}
}

.no-booking-card {
	display: flex;
	justify-content: center;
	background-color: #fff;
	border-radius: 4px;
	width: 100%;
	padding: 30px 0 30px 0;
  
	img {
	  height: 145px;
  
	}
  
	div {
	  width: 50%;
	  padding: 30px 0 0 15px;
  
	  @include mq-medium-only {
		padding: 20px 0 0 15px;
  
		.button-md {
		  width: 125px;
		}
	  }
  
	  p {
		font-weight: bold;
		font-size: 16px;
		color: #7e7a85;
  
		@include mq-medium-only {
		  font-size: 14px;
		}
	  }
  
	  span {
		color: #a9a6ad;
  
		@include mq-medium-only {
		  font-size: 13px;
		}
	  }
	}
  }


.pagination {
	float: right;
	@include mq-medium-only {}
	@include module-pagination;
}