<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box w-600">
				<div class="popup-header">
					<h3>{{$t('popup.delete_activity.title')}}</h3>
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content">
					<div class="class-delete">
						<p class="c-red">{{$t('popup.delete_activity.warning')}}</p>
						<p >{{$t('popup.delete_activity.are_you_sure',{activityName})}}</p>
						<div class="reason-delete">
							<div class="form-textarea">
								<label><span>{{$t('popup.delete_activity.reason.title')}}</span></label>
								<textarea v-model="deleteData.reason" name="reason" :placeholder="$t('popup.delete_activity.reason.placeholder')"></textarea>
								<input-error :isVisible="showErrorReason" :text="$t('popup.delete_activity.reason.error')" />
							</div>
						</div>
					</div>
				</div>
				<div class="popup-footer">
					<button class="btn-right btn-alt" @click="deleteThenClosePopup">{{$t('popup.delete_activity.delete')}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import InputError from '~/components/form/input-error/index.vue'
import activityAPI from '@/api/activity'
import klassAPI from '@/api/klass'
import { showSuccessAlert, showErrorAlert } from '~/plugins/helpers'

export default {
	name: "PopupDeleteActivity",
	props:["activityName","classId","type"],
	components:{
		InputError
	},
	data(){
		return {
			deleteData:{
				id: this.classId,
				reason: ""
			},
			isSubmitted: false
		}
	},
	methods: {
		closePopup(){
			this.$emit("popUpClassDeleteClose")
			document.body.classList.remove('is-modal-open');
		},
		deleteThenClosePopup(){
			this.isSubmitted = true
			if (this.deleteData.reason.length>0){
				if (this.type=="class"){
					let klassApi = new klassAPI(this.$axios)
					klassApi.deleteClasses(this.deleteData).then((response)=>{
						showSuccessAlert(this, this.$t('popup.delete_activity.success_alert'), true)
						this.$emit("popUpClassDeleteClose")
						this.$emit("successDelete")
						this.isSubmitted = false
						document.body.classList.remove('is-modal-open');
					},(error)=>{
						showErrorAlert(this, this.$t('general.error'),true)
					})
				}
				else if (this.type=='activity'){
					let activityApi = new activityAPI(this.$axios)
					activityApi.deleteActivities(this.deleteData).then((response)=>{
						showSuccessAlert(this, this.$t('popup.delete_activity.success_alert'),true)
						this.$emit("popUpClassDeleteClose")
						this.$emit("successDelete")
						this.isSubmitted = false
						document.body.classList.remove('is-modal-open');
					},(error)=>{
						showErrorAlert(this, this.$t('general.error'),true)
					})
				}
			}
		},

	},
	computed:{
		showErrorReason(){
			return this.deleteData.reason.length == 0 && this.isSubmitted
		}
	},
	beforeCreate: function() {
		document.body.className += ' is-modal-open';
	}
};
</script>

<style lang="scss" scoped src="./style.scss" />
