@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.popup-content{
	.class-delete{
		padding: 15px 20px;
		min-height: 170px;
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		color: #534d5c;
		b{
			font-weight: 700;
		}
		.reason-delete{
			padding: 40px 0 80px;
			label span{
				color: #534d5c;
			}
		}
	}
}