<template>
	<div>
		<div v-if="reviews.length">
			<div v-for="review in reviews" :key="review.id" class = "box box-white box-border box-content">
				<div class = "box-row-recent-revenue">
				<div class = "box-col-star-rating">
					<div class = "star-rating">
						<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
						<span v-for="rating in parseInt(review.overall_rating)" class="fa fa-star checked"></span>
						<span v-for="rating in 5-parseInt(review.overall_rating)" class="fa fa-star unchecked"></span>
					</div>
				</div>
				<div class = "box-col-comment">
					<h2 class = "the-author">{{review.reviewer}}</h2>
					<h2 class = "the-comment">{{review.content}}</h2>
				</div>
				<div class = "box-col-the-activity">
					<!-- adding is-dashboard for right border between comment and name -->
					<div class="gradient-line is-dashboard"></div>
					<h2 class = "the-activity">{{review.activity_name}}</h2>
					<h2 class = "the-date">{{$moment(review.created_at).format('dddd, D MMM YYYY')}}</h2>
				</div>
				</div>
			</div>
		</div>
		<pagination v-if="reviews.length" :totalPage="reviewsMeta.total_page" :currentPage="reviewsMeta.page" @goToPage="goToPage" />
	</div>
</template>

<script>
import Pagination from '~/components/pagination/index.vue'
export default {
	name: "ReviewList",
	props: ["reviews","reviewsMeta"],
	components:{
		Pagination
	},
	methods:{
		goToPage(page){
			this.$emit("goToPage",page)
		}
	}
	
}
</script>

<style lang="scss" src="./style.scss" scoped></style>

