@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
.wrapper-recent-review {
  .box-recent-review {
    width: 100%;
    @include mq-medium-only {
      width: 100%;
    }
    .body-recent-review {
      margin: 21px;
      @include mq-medium-only {
        margin: 7px;
      }
      .box-content {
        width: 100%;
        width: calc(100% + 14px);
        margin-left: -7px;
        display: block;
        margin-top: -1px;
        @include mq-medium-only {
          border-left: hidden;
          border-right: hidden;
        }
        .box-row-recent-revenue {
          display: flex;
          flex-flow: row;
          position: relative;
          @include mq-medium-only {
            display: inline-block;
            height: auto;
          }
          .box-col-star-rating {
            display: inline-block;
            width: 25%;
            @include mq-medium-only {
              width: 100%;
            }
            .star-rating {
              padding-top: 30px;
              padding-left: 30px;
              @include mq-medium-only {
                padding-top: 14px;
                padding-left: 17px;
              }
              .checked {
                color: #fbb055;
                margin: 3px;
              }
              .unchecked {
                color: #e7ebf0;
                margin: 3px;
              }
            }
          }
          .review-info {
            .box-col-comment {
              &:before {
                right:372px !important;
              }
            }
          }

          .box-col-comment {
            display: inline-block;
            width: 70%;
            // &:before {
            //   content: " ";
            //   display: block;
            //   position: absolute;
            //   right: 284px;
            //   width: 1px;
            //   height: calc(100% - 36px);
            //   top: 20px;
            //   background-color: #ebecf0;
            //   @include mq-mediumlarge-up  {
            //     background-color:#fff;
            //   }
            //   @include mq-medium-only {
            //     display: none;
            //   }
            // }
            border-right:1px solid #ebecf0;
            @include mq-medium-only {
              width: 100%;
              border-right:0px solid #fff;
              margin-bottom:15px;
              min-height:90px;
            }
            .the-author {
              word-wrap: break-word;
              position: relative;
              padding-top: 30px;
              padding-left: 0px;
              padding-bottom: 0px;
              opacity: 0.5;
              font-family: $f-circularstd;
              font-size: 13px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: $c-lightgray;
              @include mq-mediumlarge-up {
                padding-left: 10px;
              }
              @include mq-medium-only {
                position: absolute;
                font-size: 11px;
                top: 13px;
                left: 17px;
              }
            }
            .the-comment {
              word-wrap: break-word;
              position: relative;
              padding-top: 11px;
              padding-left: 0px;
              margin-bottom: 40px;
              width: 463px;
              font-family: $f-circularstd;
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: $c-medgray;
              @include mq-mediumlarge-up {
                padding-left: 10px;
                width: 300px;
              }
              @include mq-medium-only {
                position: relative;
                font-size: 12px;
                top: 20px;
                margin-bottom: 0px;
                left: 17px;
                width: 235px;
                // height: 58px;
              }
            }
          }
          .box-col-the-activity {
            display: inline-block;
            width: 50%;
            @include mq-medium-only {
              width: 100%;
            }
            .gradient-line {
              position: absolute;
              left: 640px;
              height: 85px;
              border: solid 0.2px #ebecf0;
              bottom: 20px;
              @include mq-mediumlarge-up {
                left: 470px;
                bottom: 15px;
              }
              @include mq-medium-only {
                display: none;
              }
              &.is-dashboard {
                display:none;
              }
            }
            .the-activity {
              word-wrap: break-word;
              position: relative;
              padding-top: 30px;
              padding-left: 30px;
              padding-bottom: 0px;
              opacity: 0.5;
              font-family: $f-circularstd;
              font-size: 14px;
              width: 250px;
              // height: 36px;
              font-weight: bold;
              line-height: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              color: $c-darkergray;
              @include mq-mediumlarge-up {
                padding-left: 15px;
              }
              @include mq-medium-only {
                width: 244.7px;
                height: 16px;
                font-size: 11px;
                font-weight: 500;
                line-height: 1.23;
                padding-left: 17px;
                padding-bottom: 15px;
              }
            }
            .the-date {
              position: relative;
              padding-top: 40px;
              padding-left: 30px;
              padding-bottom: 0px;
              opacity: 0.5;
              font-family: $f-circularstd;
              font-size: 13px;
              font-weight: normal;
              line-height: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              color: $c-darkergray;
              @include mq-mediumlarge-up {
                padding-left: 15px;
              }
              @include mq-medium-only {
                position: relative;
                font-size: 11px;
                width: 202.7px;
                height: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.23;
                letter-spacing: normal;
                padding-top: 0px;
                padding-left: 17px;
                padding-bottom: 30px;
              }
            }
          }
        }
      }
      .manageactivity-pagination {
        padding-top: 8px;
        padding-bottom: 25px;
        float: right;
        ul {
          overflow: hidden;
          li {
            float: left;
            a {
              text-decoration: none;
              display: inline-block;
              width: 24px;
              height: 24px;
              border-radius: 3px;
              background-color: #ffffff;
              font-family: $f-circularstd;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 24px;
              text-align: center;
              color: #666666;
              margin-right: 10px;
              @include mq-medium-only {
                font-size: 11px;
                margin-right: 5px;
              }
            }
            &.active a {
              background-color: #7d6ea9;
              color: #ffffff;
              &:hover {
                background-color: #7d6ea9;
                color: #ffffff;
              }
            }
            &.arrow a {
              color: #7d6ea9;
            }
            &:hover a {
              background-color: #fafafa;
            }
          }
        }
      }
    }
  }
}

.wrapper-recent-review-empty {
  .box-recent-review {
    width: 100%;
    @include mq-medium-only {
      width: 100%;
    }
    .head-recent-review {
      .recent-review-text {
        padding: 18px;
        font-family: $f-circularstd;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #999999;
      }
      .line-box-full-recent-review {
        width: 100%;
        height: 1px;
        opacity: 0.2;
        border: solid 1px #979797;
      }
    }
    .body-recent-review {
      text-align: center;
      .illustration-no-activity-2 {
        position: relative;
        margin-top: 60px;
        margin-bottom: 60px;
        @include mq-medium-only {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        img {
          width: 120px;
          height: 109px;
          @include mq-medium-only {
            width: 102px;
            height: 90px;
          }
        }
        .no-available {
          margin-top: 20px;
          opacity: 0.5;
          font-family: $f-circularstd;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: center;
          color: #999999;
          @include mq-medium-only {
            padding-left: 68px;
            width: 230px;
            height: 32px;
            font-size: 11px;
          }
        }
      }
    }
  }
}


.block-review {
  .box-col-comment {
    width:53% !important;
    padding-right:20px;
    .the-author {
      padding-top:15px !important;
    }
  }

  .star-rating {
    padding-left:0px !important;
    padding-top:10px !important;
  }
  .the-comment {
    width:100% !important;
  }
  .the-activity {
    padding-top:15px !important;
    padding-left:15px !important;
  }
  .box-col-star-rating {
    margin-left:15px !important;
  }
  .the-date {
    padding-top: 0px !important;
    padding-left: 15px !important;
  }
}