<!-- 
A very basic component for popup 
use this template to crate a new popup
-->

<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box upgrade-membership">

				<div class="popup-header ">
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content">
					<h3 class="mt-20">Upgrade Membership</h3>
					<p class="mt-30 center f-14 text-dark-gray mb-30">You are about to upgrade your current membership to</p>
					<h4 class="text-bold-gray mb-20">5x Pass/Month</h4>
					<span class="f-12 text-dark-gray mb-20 block">Price:</span>
					<p class="text-pink">Rp. 499,000</p>

					<p class="mt-30 center f-14 text-dark-gray mb-10">This membership will be activated on the next billing schedule:</p>
					<p class="mb-30 text-dark-gray">13 November 2018</p>
					<button class="button orange button-block">Continue to Payment</button>
				</div>
			</div>
		</div>
	</div>

</template>
<script>



export default {
	// Do not forget to change the "DefaultPopup" name
	name: "UpgradeMembership",
	data(){
		return {
			page: 1
		}
	},
	methods: {
		closePopup(){
			this.$emit("defaultPopupClose")
			document.body.classList.remove('is-modal-open');
		}
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

