@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.upgrade-membership {
	width:600px;
	padding:0 60px 70px 60px;
	position:relative;
	.popup-header {
		border-bottom:0px;
	}
	.popup-content {
		text-align:center;
	}
	.price {

	}
}