<template>
	<div class="form-selectoption form-custom" v-bind:class="{ 'is-open': isSelectOptionOpen }" v-on:click="isSelectOptionOpen = !isSelectOptionOpen">
		<div class="headtitle">
			<span class="icon-back"></span>
			<h5>{{ placeholder ? placeholder : 'Please Select' }}</h5>
		</div>
		<div class="selected">
			<span>
				{{ selectedSelectOption != null ? selectedSelectOption : (valueDefaultTitle ? valueDefaultTitle : (placeholder ? placeholder : $t('general.please_select'))) }}
			</span>
		</div>
		<ul class="options">
			<li class="placeholder" v-if="placeholder">{{ placeholder }}</li>
			<li v-for="item in options" v-bind:key="item.index" v-on:click="changeSelected(item)" v-bind:class="{ 'is-checked' : item.title == selectedSelectOption }">{{ item.title }}</li>
		</ul>
		<input type="text" v-bind:name="name" v-bind:value="valueSelectOption != null ? valueSelectOption : (valueDefault ? valueDefault : '')" />
		
	</div>
</template>

<script>
export default {
	name: 'SelectOption',
	props: ['options','name','valueDefault','valueDefaultTitle','placeholder'],
	data: function() {
		return {
			isSelectOptionOpen: false,
			valueSelectOption: null,
			selectedSelectOption: null
		}
	},
	methods:{
		changeSelected(item){
			this.valueSelectOption = item.value
			this.selectedSelectOption = item.title
			this.$emit("changeSelected",item)
		}
	}
};
</script>
