<template>
	<section class="landing__testimony">
		<h2 class="landing__testimony__header">{{ $t('home.testimony.title') }}</h2>
		<ul class="landing__testimony__list">
			<li class="landing__testimony__list__item" v-for="item in testimonies" :key="item.id">
				<testimony-item :item="item" />
			</li>
      		<li class="and-many-more is-mobile">{{ $t('home.testimony.any_more') }}</li>
		</ul>
	</section>
</template>

<script>
import TestimonyItem from '../testimony-item/index.vue';

import { Testimony } from '~/models';

const testimonies = [
	new Testimony(
		'/testimony-1.jpg',
		'Testimony logo 1',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
	new Testimony(
		'/testimony-2.jpg',
		'Testimony logo 2',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
	new Testimony(
		'/testimony-3.jpg',
		'Testimony logo 3',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
  	new Testimony(
		'/testimony-4.jpg',
		'Testimony logo 4',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
  	new Testimony(
		'/testimony-5.jpg',
		'Testimony logo 5',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
  	new Testimony(
		'/testimony-6.jpg',
		'Testimony logo 6',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
  	new Testimony(
		'/testimony-7.jpg',
		'Testimony logo 7',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
  	new Testimony(
		'/testimony-8.jpg',
		'Testimony logo 9',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
  	new Testimony(
		'/testimony-9.jpg',
		'Testimony logo 9',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
  	new Testimony(
		'/testimony-10.jpg',
		'Testimony logo 10',
		'Parentstory has been a fantastic experience for our customers and for our staff. We\'ve stepped out of the dark ages of online registrations.',
		'James Arthur, Owner & General Manager'
	),
];

export default {
	name: "TestimonySection",
	components: {
		TestimonyItem
	},
	data() {
		return {
			testimonies
		}
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
