@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
.landing__testimony {
  background-color: #f0f4f6;
  padding: 32px 20px 24px;
  @include mq-medium-up {
    padding: 77px 6vw 92px;
  }
}

.landing__testimony__header {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #282133;
  padding: 0px 40px;
  @include mq-medium-up {
    width: 100%;
    margin-left: 16px;
    color: #444;
    font-size: 40px;
    letter-spacing: -0.67px;
    line-height: 56px;
    margin-bottom: 46px;
  }
}

.landing__testimony__list {
  text-align: center;
  margin-top: 5vw;
  @include mq-medium-only {
    overflow: hidden;
    margin-left: -20px;
    margin-top: -13px;
    padding-bottom: 33px;
  }
  @include mq-medium-up {
    margin-top: -33px;
    padding-bottom: 22px;
  }
}

.landing__testimony__list__item {
  display: block;
  margin-right: 16px;
  width: 16%;

  @include mq-medium-only {
    width: 22%;
    margin-right: 5px;
    float: left;
  }
  @include mq-medium-up {
    display: inline-block;
    max-width: 344px;
  }
}

.and-many-more {
  @include mq-medium-only {
    position: relative;
    padding-top: 211px;
    padding-left: 166px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #c1c7d0;
  }
}

.landing__testimony__list__item:nth-child() {
  @include mq-medium-up {
    margin-right: 3.47222%;
  }
}
