<template>
	<div class="testimony-item">
		<img class="testimony-item-image" :src="item.imageUrl" :alt="item.alt" />
		<!--<p class="testimony-item-quote">{{ item.text }}</p>
		<p class="testimony-item-source">{{ item.giver }}</p> -->
	</div>
</template>

<script>
import { Testimony } from '~/models';

export default {
	name: "TestimonyItem",
	props: {
		item: Testimony
	}
};
</script>

<style lang="scss">
@import '~/assets/style/_mixins.scss';

.testimony-item {
  display: block;
  padding: 24px;
  width: 130px;
  height: 130px;
  margin-top: 30px;
  margin-bottom: 10px;
  @include mq-medium-only {
    margin-top: 16px;
    margin-bottom: 0px;
    width: 60px;
    height: 60px;
  }
  @include mq-medium-up {
    display: inline-block;
    width: 130;
    height: 130px;
  }
}

.testimony-item-image {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: contain;

  @include mq-medium-only {
    display: inline-block;

    width: 60px;
    height: 60px;
  }
  @include mq-medium-up {
    width: 150px;
    height: 150px;
  }
}
.testimony-item-quote {
  color: #534d5c;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.28px;
  line-height: normal;
  opacity: 0.9;
  text-align: center;
  margin-top: 24px;

  &:before {
    content: '\201c';
  }

  &:after {
    content: '\201d';
  }

  @include mq-medium-up {
    color: #404040;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.28px;
    line-height: 19px;
    opacity: 0.9000000357627869;
    text-align: center;
    margin: 0 auto 14px;
  }
}

.testimony-item-source {
  color: #a9a6ad;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-top: 16px;
  text-align: center;

  @include mq-medium-up {
    color: #999999;
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 17px;
  }
}
</style>
