<template>
	<div class="menu-profile is-contain-dropdown"
			:class="{'is-open': isOpen}"
			@click="$emit('click')"
			>
		<img v-if="account.accountable.cover" :src="account.accountable.cover" />
		<span v-else class="initial">{{ initial }}</span>
		<span class="name">{{ account.display_name || $t('general.default_name') }}</span>
		<div class="menu-dropdown anchor-top-left">
			<ul class="links">
				<li v-for="(item, index) in menuItems" :key="index">
					<nuxt-link :to="$i18n.path(item.path)"
						:class="itemClass(item)">
						{{ $t(item.keyString) }}
					</nuxt-link>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import { initialOf } from '~/plugins/helpers'

function MenuItem(keyString, iconClass, path, special = false) {
	this.keyString = keyString
	this.iconClass = iconClass
	this.path = path
	this.special = special
}

const parentMenu = [
	new MenuItem('header.menu_item_profile', 'icon-menu-profile', 'parent'),
	new MenuItem('header.menu_item_favorites', 'icon-menu-favorites', 'parent/favorites'),
	new MenuItem('header.menu_item_bookings', 'icon-menu-bookings', 'parent/bookings'),
	new MenuItem('header.menu_item_subscription', 'icon-menu-subscription', 'parent/subscriptions'),
	new MenuItem('header.menu_item_settings', 'icon-menu-settings', 'parent/settings'),
	new MenuItem('header.menu_item_logout', 'no-icon', 'logout', true)
]

const partnerMenu = [
	new MenuItem('header.menu_item_profile', 'icon-menu-profile', 'dashboard/profile'),
	new MenuItem('header.menu_item_activity_list', 'icon-schedule', 'dashboard/activity'),
	new MenuItem('header.menu_item_statistic', 'icon-chart', 'dashboard/statistics'),
	new MenuItem('header.menu_item_review', 'icon-review', 'dashboard/review'),
	new MenuItem('header.menu_item_settings', 'icon-menu-settings', 'dashboard/settings'),
	new MenuItem('header.menu_item_logout', 'no-icon', 'logout', true)
]

export default {
	name: "ProfileMenu",
	props: {
		account: {
			type: Object,
			required: true
		},
		isOpen: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		initial() {
			if (this.account) {
				if (this.account.display_name === null) {
					return ''
				} else {
					return initialOf(this.account.display_name)
				}
			} else {
				return ""
			}
		},
		menuItems() {
			if (this.account.type == 'parent') {
				return parentMenu
			} else {
				return partnerMenu
			}
		}
	},
	methods: {
		itemClass(menuItem) {
			let klass = menuItem.iconClass
			if (menuItem.special) {
				klass += ' menu-item--special'
			}
			return klass
		}
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
