.menu-profile {
	float: left;
	cursor: pointer;
	position: relative;
	height: 60px;
	margin-right: 8px;

	* {
		user-select: none;
	}

	img {
		display: inline-block;
		width: 26px;
		height: 26px;
		border-radius: 100%;
		margin-right: 8px;
		margin-bottom: 16px;
	}
	.initial {
		display: inline-block;
		margin-right: 6px;
		margin-left: -7px;
		margin-bottom: 12px;
		border-radius: 100%;
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 14px;
		color: #f5821f;
		background-color: #f6cc99;
		text-align: center;
		overflow: hidden;
	}
	.name {
		display: inline-block;
		margin-right: 18px;
		width: 100px;
		height: 60px;
		padding-left: 6px;
		line-height: 60px;
		font-size: 13px;
		color: #9b9b9b;
		transition: all .4s ease;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&::before{
		font-family: $f-psicon;
		content: $icon-arrow-down;
		height: 60px;
		line-height: 60px;
		position: absolute;
		right: 0;
		font-size: 11px;
		color: #7e7a85;
		transition: all .4s ease;
	}
	&:hover{
		.name{
			color: #dfe1e5;
		}
	}
	&.is-open{
		.name{
			color: #7e7a85;
		}
		.tooltip{
			display: none;
		}
		&:hover{
			.name{
				color: #7e7a85;
			}
		}
		.menu-dropdown{
			display: block;
		}
	}
	.menu-dropdown {
		width: 224px;
		position: absolute;
		right: -14px;

		ul li a {
			&::before {
				font-size: 14px;
				color: #8c67cd;
				margin-right: 4px;
			}
		}

		.no-icon::before {
			content: ' ';
			display: inline-block;
			width: 18px;
		}

		.menu-item--special {
			color: #ff5e72;
		}
	}
	@include mq-medium-only{
		display: none;
	}
}