<template>
	<div class="popup-login">
		<login-form :show-close-button="true" @click-close="closePopup" :form-type="formType" />
	</div>
</template>

<script>
import LoginForm from '~/components/login';

export default {
	name: "PopupLogin",
	components: {
		LoginForm
	},
	data() {
		return {
			page: 1
		}
	},
	props: {
		formType: {
			type: String,
			default: 'login'
		}
	},
	methods: {
		closePopup() {
			this.$emit('popup-login-close')
			document.body.classList.remove('is-modal-open');
		}
	}
};
</script>

<style lang="scss" scoped src="./style.scss" />

