@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.popup-login {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.85);
}

.login-form__wrapper {
	height: 100vh;

	@include mq-medium-up {
		margin: 10vh auto;
		position: relative;
		height: auto;
	}
}
