<template>
	<section class="landing__registration">
		<h2 class="landing__registration__title">{{ $t('home.section_form.title') }}</h2>
		<p class="landing__registration__subtitle">{{ $t('home.section_form.subtitle') }}</p>
		<form-wrapper />
	</section>
</template>

<script>
import DonutSpinner from '~/components/misc/donut-spinner/index.vue';
import FormWrapper from '../form-wrapper/index.vue';
import RegistrationForm from '../registration-form/index.vue';

export default {
	name: "RegistrationSection",
	components: {
		DonutSpinner,
		FormWrapper,
		RegistrationForm
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
