.landing__registration {
	padding: 26px 16px 40px;
	background: #E9E2F6 url('~/assets/images/background-register.jpg');
	@include mq-medium-up {
		padding-top: 84px;
		padding-bottom: 146px;
	}
}

.landing__registration__title {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.3px;
	text-align: center;
	color: #282133;

	@include mq-medium-up {
		color: #404040;
		font-size: 40px;
		letter-spacing: -0.7px;
		line-height: 1.4;
	}
}

.landing__registration__subtitle {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: -0.2px;
	color: #7e7a85;
	margin-top: 8px;
	margin-right: 6px;
	margin-left: 6px;

	@include mq-medium-up {
		color: #404040;
		font-size: 22px;
		letter-spacing: -0.4px;
		line-height: 1.82;
		opacity: 0.8;
		text-align: center;
		margin: 0px auto 43px;
		max-width: 578px;
	}
}
