<template>
	<section class="landing__hero-banner">
		<div class="landing__hero-banner__content">
			<p class="landing__hero-banner__content__subtext">{{ $t('home.hero.subtitle') }}</p>
			<p class="landing__hero-banner__content__main-text">{{ $t('home.hero.title') }}</p>
			<a href="#register" class="button button--primary landing__hero-banner__button">{{ $t('home.hero.button') }}</a>
		</div>
	</section>
</template>

<script>
export default {
	name: "HeroBanner"
}
</script>

<style scoped lang="scss">
@import './style.scss';
</style>
