@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.landing__hero-banner {
  background-image: url('~/static/hero-banner.jpg');
  background-size: cover;
  background-position: 33% center;
  overflow: hidden;
  padding: 21px 48px;
  position: relative;
  z-index: 2;
  @include mq-medium-up {
    height: 35vw;
    background-size: 100%;
    background-position: 0% 0%;
    padding: 0px;
  }
}

.landing__hero-banner__content {
  text-align: center;
  width: 65vw;
  margin: 0 auto;

  @include mq-medium-up {
    width: auto;
    text-align: left;
    margin-left: 59.23611%;
    margin-right: 6.11111%;
    padding-top: 7.63888%;
  }
}

.landing__hero-banner__content__subtext {
  font-family: $f-nexa;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ebecf0;
  @include mq-medium-only {
    font-size: 16px;
  }
}

.landing__hero-banner__content__main-text {
  font-family: $f-intro;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: -0.4px;
  color: #f4f5f7;
  margin-top: 15px;
  @include mq-medium-only {
    font-size: 6.6vw;
    margin-top: 10px;
  }
}

.landing__hero-banner__button {
  display: block;
  width: 140px;
  height: 36px;
  margin: 11px auto 0;
  line-height: 36px;
  font-size: 13px;
  letter-spacing: normal;
  text-align: center;
  color: #8c67cd;
  border-radius: 4px;
  background-color: white;

  @include mq-medium-up {
    margin: 0;
    margin-top: 39px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
}
