<template>
	<form>

	</form>
</template>

<script>
export default {
	name: "AppForm",
	props: {
		title: {
			type: String,
			required: true
		},
		fields: {
			type: Array,
			required: true
		}
	}
}
</script>

<style lang="scss">
@import './style.scss';
</style>
