<template>
	<form @submit.prevent="submitRegistration" class="registration-form">
		<h3 class="registration-form_title">{{ $t('home.section_form.form.title') }}</h3>
		<label class="registration-form__label" for="business-name">
			{{ $t('home.section_form.form.business_name.label') }}
		</label>
		<input id="business-name"
				v-model.trim="registrationData.business_name"
				type="text"
				name="business_name"
				:placeholder="$t('home.section_form.form.business_name.hint')"
				/>
		<input-error :isVisible="showErrorBusinessName" :text="$t('home.section_form.form.business_name.error')" />
		<label class="registration-form__label" for="business-description">
			{{ $t('home.section_form.form.business_description.label') }}
		</label>
		<textarea v-model.trim="registrationData.about"
				id="business-description"
				name="business_description"
				:placeholder="$t('home.section_form.form.business_description.hint')"
				/>
		<input-error :isVisible="showErrorBusinessDesc" :text="$t('home.section_form.form.business_description.error')" />
		<label class="registration-form__label" for="address">
			{{ $t('home.section_form.form.address.label') }}
		</label>
		<textarea id="address" v-model.trim="registrationData.address" name="address" />
		<input-error :isVisible="showErrorAddress" :text="$t('home.section_form.form.address.error')" />
		<label class="registration-form__label" for="email">
			{{ $t('home.section_form.form.email.label') }}
		</label>
		<input id="email" type="email" v-model.trim="registrationData.email" name="email" />
		<input-error :isVisible="showErrorEmail" :text="$t('home.section_form.form.email.error')" />
		<label class="registration-form__label" for="phone-number">
			{{ $t('home.section_form.form.phone.label') }}
		</label>
		<div class="registration-form__phone-wrapper">
			<input type="text"
					class="registration-form__country-code"
					:placeholder="$t('home.section_form.form.phone.country_code_hint')"
					readonly
					tabindex="-1"
					/>
			<input id="phone-number"
					v-model.trim="registrationData.phone"
					type="text"
					class="registration-form__phone-number"
					name="phone_number"
					:placeholder="$t('home.section_form.form.phone.hint')"
					/>
		</div>
		<input-error :isVisible="showErrorPhone" :text="$t('home.section_form.form.phone.error')" />
		<label class="registration-form__label" for="representative">
			{{ $t('home.section_form.form.representative.label') }}
		</label>
		<input id="representative" type="text"
				v-model.trim="registrationData.name"
				name="representative"
				:placeholder="$t('home.section_form.form.representative.hint')"
				/>
		<input-error :isVisible="showErrorRepresentative" :text="$t('home.section_form.form.representative.error')" />
		<button class="registration-form__button-submit">Register</button>
	</form>
</template>

<script>
import accountAPI from '@/api/account'
import { validateEmail, showErrorAlert } from '~/plugins/helpers'

import InputError from '~/components/form/input-error/index.vue';

export default {
	name: "RegistrationForm",
	data() {
		return {
			registrationData: {
				email: '',
				type: 'password',
				business_name: '',
				name: '',
				address: '',
				phone: '',
				about: ''
			},
			isSubmitted: false
		}
	},
	computed: {
		showErrorBusinessName() {
			return this.registrationData.business_name.length == 0 && this.isSubmitted
		},
		showErrorBusinessDesc() {
			return this.registrationData.about.length == 0 && this.isSubmitted
		},
		showErrorAddress() {
			return this.registrationData.address.length == 0 && this.isSubmitted
		},
		showErrorEmail() {
			return (this.registrationData.email.length == 0 || !validateEmail(this.registrationData.email)) && this.isSubmitted
		},
		showErrorPhone() {
			return this.registrationData.phone.length == 0 && this.isSubmitted
		},
		showErrorRepresentative() {
			return this.registrationData.name.length == 0 && this.isSubmitted
		}
	},
	components: {
		InputError
	},
	methods: {
		submitRegistration() {
			this.isSubmitted = true
			if (this.validateForm()) {
				this.isSubmitted = false
				this.$emit('submit')
				const phone = "+62" + this.registrationData.phone
				const registrationData = Object.assign({}, this.registrationData, { phone })

				let accountApi = new accountAPI(this.$axios)
				accountApi.registerPartner(registrationData).then(response => {
					this.$emit('success')
					this.resetRegistrationData()
				},(error)=>{
					this.$emit('error')
					showErrorAlert(this, this.$t('general.error'),true)
				})
				this.isSubmitted = false;
			}
		},
		validateForm() {
			return this.registrationData.business_name &&
					this.registrationData.about &&
					this.registrationData.address &&
					this.registrationData.email  &&
					validateEmail(this.registrationData.email) &&
					this.registrationData.phone &&
					this.registrationData.name
		},
		resetRegistrationData() {
			this.registrationData = {
				email: '',
				type: 'email',
				business_name: '',
				name: '',
				address: '',
				phone: '',
				about:''
			}
		}
	}
}
</script>

<style scoped lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
