input, textarea {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dedede;
  margin-top: 7px;
  padding: 12px 8px;

  @include mq-medium-up {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 12px 10px;
  }

  &::placeholder {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cccccc;

    @include mq-medium-up { }
  }
}

textarea {
  width: 100%;
  height: 94px;
  resize: none;
}

.registration-form {
  padding: 23px 15px 33px;

  @include mq-medium-up {
    padding: 0 35px 18px;
  }
}

.registration-form_title {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;
  margin-bottom: 36px;

  @include mq-medium-up {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
  }
}

.registration-form__label {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;
  margin-top: 8px;
  display: block;

  @include mq-medium-up {
    color: $c-darkergray;
    margin-top: 10px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
  }
}

.registration-form__phone-wrapper {
  display: flex;
  flex-direction: row;
}

.registration-form__country-code {
  display: inline-block;
  width: 48px;
  border-radius: 4px 0 0 4px;
}

.registration-form__phone-number {
  display: inline-block;
  flex-grow: 1;
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.registration-form__button-submit {
  display: block;
  margin: 25px auto 0px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #8c67cd;
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;

  @include mq-medium-up {
    margin: 42px auto 0px;
  }
}
