<template>
	<div>
		<div class="burger-menu" @click="$emit('toggle-sidebar-menu')">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
		<div class="burger-content">
			<div class="burger-container">
				<sidebar-head :account="account" />
				<div v-if="isPartner" @click="closeSidebarMenu" class="pl-20 pr-20">
					<nuxt-link :to="$i18n.path('dashboard/activity/add')" class="button button-add-activity">
						+ {{ $t('dashboard.sidebar.add') }}
					</nuxt-link>
				</div>
				<sidebar-menu @click-item="closeSidebarMenu"/>
			</div>
		</div>
	</div>
</template>

<script>
import SidebarMenu from "~/components/dashboard/sidebar-menu/index.vue";
import SidebarHead from "~/components/dashboard/sidebar-head/index.vue";

export default {
	name: "BurgerMenu",
	components: {
		SidebarMenu,
		SidebarHead
	},
	computed: {
		account(){
			return this.$store.state.account.account
		},
		isPartner() {
			return this.$store.state.account.account.type == 'partner'
		}
	},
	data(){
		return {
		}
	},
	methods:{
		closeSidebarMenu(){
			this.$emit('toggle-sidebar-menu')
		}
	}
}
</script>

<style lang="scss">
@import './style.scss';
</style>
