@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.burger-menu{
	display: none;
	width: 50px;
	height: 60px;
	position: relative;
	float: left;

	@include mq-medium-only{
		display: block;

		.bar {
			position: absolute;
			display: inline-block;
			width: 18px;
			height: 2px;
			background-color: #6f41c0;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			transition: all .4s ease;
			&:first-child {
				margin-top: -5px;
			}
			&:last-child {
				margin-top: 5px;
			}
		}

	}
}

.burger-content{
	display: none;
	visibility: hidden;
	opacity: 0;
	float: none;
	width: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 60px;
	height: calc(100vh - 62px);
	transition: all .2s linear;
	z-index: 99;
	@include mq-medium-only{
		display: block;
	}
}

.burger-container{
	background-color: $c-white;
	height: calc(100vh - 62px);
	width: calc(100vw - 50px);
	transform: translateX(-100%);
	transition: all .2s linear;
	user-select: none;
	overflow-y: scroll;
}

.button-add-activity{
	display: block;
	height: 28px;
	min-height: 28px;
	width: 100%;
	line-height: 28px;
	border-radius: 4px;
	background-color: $c-theme-purple;
	font-family: $f-circularstd;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: $c-white;
	text-align: center;
	transition: all .4s ease;
	margin-bottom: 20px;
	&:hover{
		background-color: #a98dd9;
	}
	@include mq-medium-only{
		height: 36px;
		line-height: 36px;
	}
}