<template>
	<div class="verification">
		<h1 class="verification__title">{{ title }}</h1>
		<form v-if="isStepSms" class="verification__sms-form" @submit.prevent="submitSmsCode">
			<p class="verification__sms-instruction">{{ text('enter_code_instruction') }}</p>
			<p class="verification__sms-phone">{{ phoneWithCountryCode | formatPhone }}</p>
			<a href="#" class="verification__sms-link" @click="onClickChangeNumber">{{ text('change_number') }}</a>
			<div class="verification__sms-input">
				<input v-for="n in 4"
					:key="n - 1"
					ref="digits"
					type="text"
					class="verification__single-digit-input"
					:class="{ 'verification__single-digit-input--filled' : smsCode[n-1] !== '' }"
					:autofocus="n == 1"
					v-model="smsCode[n-1]"
					@keypress="onKeyPressSmsCode($event, n - 1)"
					@keyup="onKeyUpSmsCode(n - 1, $event.key)"
					/>
			</div>
			<button class="verification__button verification__primary-button" :disabled="!isVerifyButtonEnabled">{{ text('button_verify') }}</button>

			<a v-if="sendCount < 3" href="#" class="verification__sms-link" @click="onClickResendCode">{{ text('resend_code') + " (" + sendCount + "/3)" }}</a>
			<a v-else href="#" class="verification__sms-link" @click="onClickDoLater">{{ text('do_later') }}</a>
		</form>

		<form v-else class="verification__form" @submit.prevent="submitUpdateInfo">
			<label class="verification__label" for="name">
				{{ text('label_name') }}
			</label>
			<input id="name" class="verification__input" v-model.trim="personalInfo.name" type="text" name="name" />
			<label class="verification__label" for="phone-number">
				{{ text('label_phone') }}
			</label>
			<div class="verification__phone-wrapper">
				<input type="text"
					class="verification__input verification__country-code"
					placeholder="+62"
					readonly
					tabindex="-1"
					/>
				<input id="phone-number"
					v-model.trim="personalInfo.phone"
					type="text"
					class="verification__input verification__phone-number"
					name="phone_number"
					:placeholder="text('hint_phone')"
					/>
			</div>
			<div class="verification__child-info">
				<h2 class="verification__child-info-title">{{ text('header_child_info') }}</h2>
				<p class="verification__child-info-instruction">{{ text('instruction_child_info') }}</p>
				<ul v-if="personalInfo.child.length > 0" class="verification__children-list">
					<li v-for="(child, index) in personalInfo.child" :key="index" class="verification__children-item">
						<a class="verification__child-edit-button" @click="onClickEditChild(child)">{{ text('button_edit') }}</a>
						<p class="verification__child-name">{{ nameText(child.name) }}</p>
						<p class="verification__child-age">{{ ageText(child.dob) }}</p>
					</li>
				</ul>
				<button class="verification__button verification__add-child-button" @click="onClickAddChild" type="button">
					{{ text('button_add_child') }}
				</button>
			</div>
			<button class="verification__button verification__primary-button" :disabled="!saveButtonIsEnabled">{{ text('button_save')}}</button>
		</form>
		<popup-add-child v-if="showPopUp"
			@close="showPopUp = false"
			@save="onClickSaveOnPopUp"
			@delete="onClickDeleteOnPopUp"
			:editing="editingChild"
			:child="editedChild" />
	</div>
</template>

<script>
import accountAPI from '@/api/account';

import { showAge, removeSpace } from '~/plugins/helpers'

import PopupAddChild from '~/components/popup/add-child'

const stepInfo = 'info'
const stepSms = 'sms'

export default {
	layout: "DefaultParent",
	components: { PopupAddChild },
	data() {
		return {
			personalInfo: {
				name: '',
				phone: '',
				child: []
			},
			showPopUp: false,
			editedChild: undefined,
			editingChild: false,
			step: stepInfo,
			submitting: false,
			smsCode: ["", "", "", ""],
			sendCount: 0
		}
	},
	methods: {
		/* utility methods */
		text(key) {
			key = 'verification.' + key
			return this.$t(key)
		},
		ageText(date) {
			return showAge(date)
		},
		nameText(name) {
			const firstName = name.trim().split(' ')[0]
			return firstName[0].toUpperCase() + firstName.slice(1)
		},

		/* onClick methods */
		onClickAddChild() {
			this.editedChild = undefined
			this.editingChild = false
			this.showPopUp = true
		},
		onClickEditChild(child) {
			this.editedChild = child
			this.editingChild = true
			this.showPopUp = true
		},
		onClickChangeNumber() {
			this.step = stepInfo
			this.smsCode = ["", "", "", ""]
			this.sendCount = 0
		},
		onClickSaveOnPopUp(child) {
			this.showPopUp = false
			if (child !== null) {
				this.personalInfo.child.push(child)
			}
		},
		onClickDeleteOnPopUp(child) {
			this.showPopUp = false
			const index = this.personalInfo.child.indexOf(child)
			this.personalInfo.child.splice(index, 1)
		},
		onClickDoLater() {
			let accountApi = new accountAPI(this.$axios)
			accountApi.skipVerification().then(response => {
				this.$nuxt.$router.push({path:'/home'})
			}).catch(err => {
				console.log(err)
			})
		},
		onClickResendCode() {
			if (this.submitting) return
			this.submitting = true
			let accountApi = new accountAPI(this.$axios)
			accountApi.requestSMSVerificationCode().then(response => {
				this.sendCount += 1
				this.submitting = false
			}).catch(err => {
				console.log(err)
			})
		},

		/* keyboard events */
		onKeyPressSmsCode(event, index) {
			if (event.key < "0" || event.key > "9") {
				event.preventDefault()
			} else {
				if (this.smsCode[index].length > 0) {
					event.preventDefault()
					this.smsCode.splice(index, 1, event.key)
				} else {
					return true
				}
			}
		},
		onKeyUpSmsCode(index, key) {
			if (key >= "0" && key <= "9") {
				if (index < 3) {
					this.$refs.digits[index + 1].focus()
				}
			}
		},

		/* on submit form methods */
		submitUpdateInfo() {
			if (this.submitting) {
				return
			}
			this.personalInfo.phone = removeSpace(this.personalInfo.phone)
			if (this.personalInfo.phone[0] == '0') {
				this.personalInfo.phone = this.personalInfo.phone.substring(1)
			}
			if (this.personalInfo.phone.length < 3) {
				return
			}
			this.submitting = true
			const data = Object.assign({}, this.personalInfo, {
				phone: this.phoneWithCountryCode
			})
			let accountApi = new accountAPI(this.$axios)
			accountApi.updateParent(data).then(response => {
				this.$store.dispatch('setAccount',response.data.data)
				return accountApi.requestSMSVerificationCode()
			}).then(response => {
				this.sendCount = 1
				this.submitting = false
				this.step = stepSms
				this.$refs.digits[0].focus()
			}).catch(err => {
				this.submitting = false
				this.step = stepSms
			})
		},
		submitSmsCode() {
			if (this.submitting) return
			this.submitting = true
			let accountApi = new accountAPI(this.$axios)
			accountApi.verify({ verification_code: this.smsCode.join('') }).then(response => {
				this.submitting = false
				this.$store.dispatch('verify')
				this.$nuxt.$router.push({path:'/home'})
			}).catch(err => {
				this.submitting = false
			})
		},
	},
	computed: {
		title() {
			if (this.submitted) {
				return this.text('title')
			} else {
				return this.text('header_personal_info')
			}
		},
		saveButtonIsEnabled() {
			return this.personalInfo.name.length > 0 && this.personalInfo.phone.length > 0
		},
		phoneWithCountryCode() {
			return "+62" + this.personalInfo.phone
		},
		isVerifyButtonEnabled() {
			for (let i = 0; i < this.smsCode.length; i++) {
				if (this.smsCode[i] == '') return false
			}
			return true
		},
		isStepSms() {
			return this.step == stepSms
		}
	},
	filters: {
		formatPhone(value) {
			// separate +62, first three digits, and the rest with space
			return value.slice(0, 3) + ' ' + value.slice(3, 6) + ' ' + value.slice(6)
		}
	}
}
</script>

<style lang="scss" src="./style.scss">
