@import '~/assets/style/_mixins.scss';

.verification {
	background-color: white;
	padding-top: 30px;

	@include mq-medium-up {
		margin: 30px auto 0;
		width: 600px;
		padding-top: 40px;
		padding-left: 112px;
		padding-right: 112px;
	}
}

.verification__title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #534d5c;

	@include mq-medium-up {
		font-size: 22px;
	}
}

.verification__form {
	width: 100%;
	margin-top: 23px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 24px;

	@include mq-medium-up {
		margin-top: 28px;
	}
}

.verification__label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #534d5c;

	&:not(:first-of-type) {
		margin-top: 30px;
	}
}

.verification__input {
	width: 100%;
	height: 39px;
	margin-top: 4px;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 8px 16px;
	color: #444;

	&::placeholder {
		color: #ccc;
	}
}

.verification__phone-wrapper {
	display: flex;
}

.verification__country-code {
	width: 40px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	padding: 12px 9px;
}

.verification__phone-number {
	flex-grow: 1;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 12px 9px;
}

/* Child info */

.verification__child-info {
	margin-top: 30px;
	margin-bottom: 24px;
	margin-left: -32px;
	margin-right: -32px;
	padding: 21px 32px;
	background-color: #fafafa;

	@include mq-medium-up {
		padding: 27px 31px 28px;
	}
}

.verification__child-info-instruction {
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
  color: #7e7a85;
  line-height: 1.3;
}

.verification__child-info-title {
  margin-right: 16px;
  margin-left: 16px;
  font-size: 14px;
}

.verification__children-list {
  margin-top: 20px;
}

.verification__children-item {
  background-color: white;
	padding: 12px 6px 12px 12px;
	border-radius: 4px;

	&:not(:first-child) {
		margin-top: 10px;
	}
}

.verification__child-edit-button {
  display: block;
  float: right;
  width: 54px;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
	color: #6f41c0;
	cursor: pointer;
}

.verification__child-name {
  font-size: 15px;
	color: #666666;
	height: 18px;
	margin-right: 60px;
	overflow: hidden;
}

.verification__child-age {
	font-size: 13px;
	color: #999;
}

/* Sms */

.verification__sms-form {
	margin-top: 27px;
	margin-right: 16px;
	margin-left: 16px;
	padding-bottom: 32px;
}

.verification__sms-instruction {
	color: #a9a6ad;
	line-height: 1.54;
	text-align: center;
	font-size: 13px;
}

.verification__sms-phone {
	margin-top: 16px;
	text-align: center;
	font-size: 18px;
}

.verification__sms-link {
	display: block;
	width: 120px;
	text-align: center;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 4px;
	font-size: 14px;
	color: #6f41c0;
	cursor: pointer;
}

.verification__sms-input {
	margin: 60px auto 60px;
	width: 248px;
}

.verification__single-digit-input {
	display: inline-block;
	width: 50px;
	height: 60px;
	border: 1px solid #dedede;
	border-radius: 10px;
	font-size: 28px;
	color: #282133;
	text-align: center;

	&:not(:first-child) {
		margin-left: 16px;
	}

	&:focus {
		outline: none;
	}
}

.verification__single-digit-input--filled {
	border: 1px solid #8c67cd;
}

.verification__verify-button {
	margin-top: 68px;
	margin-bottom: 16px;

}

/* Buttons */

.verification__button {
	display: block;
	border-width: 0px;
	width: 250px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	font-family: inherit;
	font-size: 15px;
	cursor: pointer;
}

.verification__add-child-button {
	margin-top: 20px;
	background-color: #8c67cd;
	color: #fff;
	margin-bottom: 6px;
	border-width: 0px;

	&:before {
		content: "+";
		margin-right: 6px;
	}
}

.verification__primary-button {
	background-color: #faa61a;
	border-width: 0px;
	color: white;

	&:disabled {
		background-color: #ebecf0;
	}
}

/* Pop-up */
.verification {

	.popup-base-layer {
		background-color: rgba(0, 0, 0, 0.45);
		z-index: 99;

		.modal-box.add-child {
			margin-top: 0px;
			height: 100vh;
			padding: 16px;
			border-radius: 0px;

			.modal-title {
				font-size: 16px;
				text-align: center;
				color: #534d5c;
			}

			@include mq-medium-up {
				height: auto;
				margin-top: 20vh;
				border-radius: 4px;
			}
		}
	}
}