<template>
	<div class="faq">
		<app-header/>
		<div class="faq__title-wrapper" :class="inSectionClassObject">
			<h2>{{ $t('faq.title') }}</h2>
			<div class="faq__switch">
				<span
					:class="{ selected: type == 'parent'}"
					@click="onClickSwitch('parent')"
				>
					{{ $t('faq.parent_switch_label') }}
				</span>
				<span
					:class="{ selected: type == 'partner'}"
					@click="onClickSwitch('partner')"
				>
					{{ $t('faq.partner_switch_label') }}
				</span>
			</div>
		</div>

		<div class="faq__main-wrapper">
			<div class="faq__sidebar" :class="inSectionClassObject">
				<p>{{ $t('faq.instruction') }}</p>
				<ul>
					<li
						v-for="(section, index) in sections"
						:key="index"
						:class="sidebarItemClass(index)"
						@click="onClickSection(index)"
					>
						{{ section.name }}
					</li>
				</ul>
			</div>

			<div class="faq__content" :class="inSectionClassObject">
				<p class="faq__breadcrumb">
					<span @click="onClickBreadcrumb">FAQ</span>
					&gt;
					<span @click="onClickBreadcrumb">
						{{ breadcrumbSection }}
					</span>
					&gt; {{ sections[section].name }}
				</p>
				<h2>{{ sections[section].name }}</h2>
				<div class="faq__item"
					v-for="(item, index) in sections[section].items"
					:key="index"
					:class="{ selected: item.selected }"
					v-show="item.answer != ''"
					@click="onClickItem(index, item)"
				>
					<h3 v-html="item.question"></h3>
					<p v-html="item.answer"></p>
				</div>
			</div>
		</div>

		<app-footer />
	</div>
</template>

<script>
import AppHeader from "~/components/header/index";
import AppFooter from "~/components/AppFooter.vue";

export default {
	components: { AppHeader, AppFooter },
	data() {
		return {
			type: 'parent',
			section: 0,
			parentFaq: this.$t('faq.parent'),
			partnerFaq: this.$t('faq.partner'),
			selectedQuestionIndex: -1,
			inSection: false
		}
	},
	computed: {
		sections() {
			if (this.type == 'parent') return this.parentFaq
			return this.partnerFaq
		},
		inSectionClassObject() {
			return this.inSection? 'in-section' : ''
		},
		breadcrumbSection() {
			return this.type == 'parent'? this.$t('faq.parent_switch_label') : this.$t('faq.partner_switch_label')
		}
	},
	methods: {
		sidebarItemClass(index) {
			return index == this.section ? 'active' : ''
		},
		onClickSwitch(type) {
			if (this.type != type) {
				this.type = type
				this.section = 0
				this.selectedQuestionIndex = -1
			}
		},
		onClickSection(index) {
			if (this.selectedQuestionIndex != -1) {
				let currentSelectedItem = this.sections[this.section].items[this.selectedQuestionIndex]
				this.sections[this.section].items.splice(this.selectedQuestionIndex, 1, Object.assign({}, currentSelectedItem, { selected: false }))
			}

			this.inSection = true
			this.selectedQuestionIndex = -1
			this.section = index
		},
		onClickBreadcrumb() {
			this.inSection = false
		},
		onClickItem(index, item) {
			if (this.selectedQuestionIndex != -1) {
				const prevSelected = this.sections[this.section].items[this.selectedQuestionIndex]
				this.sections[this.section].items.splice(this.selectedQuestionIndex, 1, Object.assign({}, prevSelected, { selected: false }))
			}

			this.sections[this.section].items.splice(index, 1, Object.assign({}, item, { selected: !item.selected }))
			this.selectedQuestionIndex = index
		}
	},
	mounted() {
		for (let section = 0; section < this.parentFaq.length; section++) {
			for (let i = 0; i < this.parentFaq[section].items.length; i++) {
				this.parentFaq[section].items[i] = Object.assign({}, this.parentFaq[section].items[i], { selected: false})
			}
		}
		for (let section = 0; section < this.partnerFaq.length; section++) {
			for (let i = 0; i < this.partnerFaq[section].items.length; i++) {
				this.partnerFaq[section].items[i] = Object.assign({}, this.partnerFaq[section].items[i], { selected: false})
			}
		}
	}
};
</script>
<style lang="scss" src="./style.scss" ></style>