@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.faq {
	margin-top: 60px;
}

.faq__title-wrapper {
	height: 140px;
	background-color: #8c67cd;
	text-align: center;
	padding-top: 40px;

	@include mq-medium-up {
		height: 226px;
		padding-top: 77px;
		margin-bottom: 43px;
	}

	&.in-section {
		display: none;

		@include mq-medium-up {
			display: block;
		}
	}

	h2 {
		color: white;
		font-family: Intro;
		font-size: 14px;
		letter-spacing: 0.1em;

		@include mq-medium-up {
			font-size: 32px;
			letter-spacing: normal;
		}
	}
}

.faq__switch {
	width: 274px;
	margin: 24px auto 0;
	font-size: 13px;

	@include mq-medium-up {
		width: 486px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}

	span {
		display: inline-block;
		width: 50%;
		height: 36px;
		border: 1px solid white;

		background-color: rgba($color: #fff, $alpha: 0.0);
		color: white;
		cursor: pointer;
		text-align: center;
		line-height: 36px;

		@include mq-medium-up {
			height: 38px;
			line-height: 38px;
		}
	}

	span.selected {
		background-color: white;
		color: #8c67cd;
		cursor: default;
	}

	span:first-of-type {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	span:last-of-type {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	span.selected:first-of-type {
		border-right: 0;
	}

	span.selected:last-of-type {
		border-left: 0;
	}
}

.faq__main-wrapper {
	max-width: 1200px;
	padding-bottom: 24px;
	margin: 0 auto;

	@include mq-medium-up {
		padding: 0;
		padding-bottom: 200px;
	}
}

.faq__sidebar {
	padding: 16px;

	@include mq-medium-up {
		width: 22.91666%;
		float: left;
		padding: 0px;
		padding-left: 0.5%;
		padding-right: 0.5%;
		margin-top: 0;
	}

	&.in-section {
		display: none;
		@include mq-medium-up {
			display: block;
		}
	}

	p {
		color: #a9a6ad;
		font-size: 13px;

		@include mq-medium-up {
			display: none;
		}
	}

	ul {
		margin-top: 18px;
		padding-left: 8px;
		padding-right: 8px;

		@include mq-medium-up {
			margin-top: 0;
		}
	}

	li {
		padding: 17px 20px;
		border: 1px solid #8c67cd;
		border-radius: 4px;

		font-size: 14px;
		color: #8c67cd;
		cursor: pointer;
		line-height: 1.4em;

		@include mq-medium-up {
			padding: 17px 15px 17px 22px;
			color: #7e7a85;
			border-radius: 0;
			border: 0;
		}
	}

	li.active {
		@include mq-medium-up {
			padding-left: 18px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-left: 4px solid #8a72b3;

			background-color: #f2f4f6;
			color: #6f41c0;
		}
	}

	li:hover {
		color: #a9a6ad;
	}

	li:not(:first-child) {
		margin-top: 16px;

		@include mq-medium-up {
			margin-top: 0;
		}
	}
}

.faq__content {
	display: none;
	padding-top: 16px;
	padding-bottom: 40px;

	@include mq-medium-up {
		display: block;
		padding: 0;
		margin-left: 25.75%;
		width: 73.33333%;
	}

	&.in-section {
		display: block;
	}

	h2 {
		margin: 32px 16px 20px 16px;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.4em;

		@include mq-medium-up {
			display: none;
		}
	}
}

.faq__breadcrumb {
	display: block;
	font-size: 13px;
	color: #a9a6ad;
	margin-left: 16px;
	margin-right: 16px;

	@include mq-medium-up {
		display: none;
	}

	span {
		color: #8c67cd;
	}
}

.faq__item {
	padding: 16px;
	border-top: 1px solid #ebecf0;
	cursor: pointer;

	@include mq-medium-up {
		border: 1px solid #a9a6ad;
		border-radius: 4px;
	}

	&::before {
		font-family: psicon;
		font-size: 14px;
		content: '\e807';
		float: right;
		color: #8c67cd;
	}

	&:not(:first-child) {

		@include mq-medium-up {
			margin-top: 18px;
		}
	}

	&:last-of-type {
		border-bottom: 1px solid #ebecf0;

		@include mq-medium-up {
			border: 1px solid #a9a6ad;
		}
	}

	&.selected {

		@include mq-medium-up {
			border-color: #8c67cd;
		}

		&::before {
			content: '\e805';
		}

		p {
			display: block;
		}
	}

	h3 {
		color: #534d5c;
		font-weight: 500;
		font-size: 14px;
		margin-right: 20px;
		line-height: 1.2em;

		@include mq-medium-up {
			font-size: 18px;
		}
	}

	p {
		display: none;
		margin-top: 24px;

		font-size: 13px;
		line-height: 1.4em;
		color: #7e7a85;
	}

	a {
		text-decoration: underline;
	}
}
