<template>
	<div>
        <div v-if="favorites.length == 0" class="no-favorite-card">
             <img src="~/assets/images/parent/no-favorite.png" />
             <div>
                 <p>{{$t('parent.favorite.empty.title')}}</p>
                 <span class="block f-12 mt-10 mb-10">{{$t('parent.favorite.empty.title')}}</span>
                 <nuxt-link :to="$i18n.path('activity')" class="button orange button-md is-desktop">{{$t('parent.favorite.empty.browse')}}</nuxt-link>
             </div>
        </div>

        <div v-for="favorite in favorites" :key="favorite.id" class="favorite-card">
            <div class="activity-image-frame">
                <img :src="favorite.image_url">
            </div>
            <div class="content-mid">
                <h3 @click="goToDetail(favorite)" class="f-14 f-18">{{favorite.activity_name}}</h3>
                <p class="f-14 text-dark-gray">{{favorite.partner_name}}</p>
                <span class="f-14 mb-10 text-light-gray is-desktop">{{$t('parent.favorite.category')}} {{showCategories(favorite.categories)}}</span>
                <div v-if="favorite.upcoming_class_id" class="upcoming-class mt-20 is-desktop">
                    <p>{{$t('parent.favorite.upcoming_class')}}</p>
                    <span>{{$moment(favorite.upcoming_class_start_date).format("ddd, DD MMMM")}}</span>
                </div>
            </div>
            <div class="content-right">
                <span @click="deleteFavorite(favorite.activity_id)" class="delete"><span class="icon-delete"></span> {{$t('parent.favorite.delete')}}</span>
            </div>
        </div>  
		<pagination v-if="favorites.length" :totalPage="meta.total_page" :currentPage="page" @goToPage="goToPage"/>
    </div>
</template>

<script>
import favoriteAPI from '@/api/favorite'
import { showSuccessAlert, showErrorAlert } from '~/plugins/helpers'
import Pagination from '~/components/pagination/index.vue'


export default {
	middleware: ["authenticated", 'verifiedParent'],
	layout: "ParentDashboard",
	components:{
		Pagination
	},
	data(){
		return {
			page: 1
		}
	},
	computed:{
		favorites(){
			return this.$store.state.favorite.favorites
		},
		meta(){
			return this.$store.state.favorite.favoritesMeta
		}
	},
	methods:{
		showCategories(categories){
			let string = ""
			categories.forEach((category,index)=>{
				string += category
				if (index != categories.length-1)
					string+= ", " 
			})
			return string
		},
		deleteFavorite(id){
			let favoriteApi = new favoriteAPI(this.$axios)
			return favoriteApi.deleteFavorite(id).then((response)=>{
				showSuccessAlert(this, this.$t('parent.favorite.success_alert'),true)
				this.fetchFavorite()
			},(error)=>{
				showErrorAlert(this, this.$t('general.error'),true)
			})
		},
		goToPage(page){
			this.page=page
			this.fetchFavorite()
		},
		goToDetail(favorite){
			if (favorite.upcoming_class_id)
				this.$nuxt.$router.push({path:'/activity/'+favorite.upcoming_class_id})
			else
				this.$nuxt.$router.push({path:'/activity/'+favorite.latest_class_id})
		},
		fetchFavorite(){
			let favoriteApi = new favoriteAPI(this.$axios)
			return favoriteApi.getMyFavorites(this.page).then((response)=>{
				this.$store.dispatch('setFavorites',response.data.data.list)
				this.$store.dispatch('setFavoritesMeta',response.data.data.meta)
			},(error)=>{

			})
		}
	},
	async fetch({store,$axios}){
		let favoriteApi = new favoriteAPI($axios)
		let favorite =  await favoriteApi.getMyFavorites()
		store.dispatch('setFavorites',favorite.data.data.list)
		store.dispatch('setFavoritesMeta',favorite.data.data.meta)

	}
}
</script>


<style lang="scss" src="./style.scss" ></style>
