@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.no-favorite-card {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 30px 0 30px 0;

  img {
    height: 145px;

  }

  div {
    width: 50%;
    padding: 30px 0 0 15px;

    @include mq-medium-only {
      padding: 20px 0 0 15px;

      .button-md {
        width: 125px;
      }
    }

    p {
      font-weight: bold;
      font-size: 16px;
      color: #7e7a85;

      @include mq-medium-only {
        font-size: 14px;
      }
    }

    span {
      color: #a9a6ad;

      @include mq-medium-only {
        font-size: 13px;
      }
    }
  }
}

.favorite-card {
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #ebecf0;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  .activity-image-frame {
    width: 250px;
    height: 150px;
    background-color: #a9a6ad;
    overflow: hidden;

    @include mq-medium-only {
      width: 85px;
      height: 57px;
    }

    img {
      width: 250px;
      height: 150px;
      object-fit: cover;

      @include mq-medium-only {
        width: 85px;
        height: 57px;
      }
    }
  }

  .content-mid {
    margin-left: 25px;
    flex-grow: 1;
    position: relative;

    h3 {

      line-height: 24px;
      margin-bottom: 20px;

      @include mq-medium-only {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;
      }
    }

    @include mq-medium-only {
      width: 75%;
      float: left;
      margin-left: 0px;
      padding: 0px 10px 25px 10px;
    }

    .upcoming-class {
      p {
        font-size: 14px;
        color: #534d5c;
      }

      span {
        border: 1px solid #ebecf0;
        border-radius: 3px;
        display: inline-block;
        padding: 3px 5px;
        font-size: 13px;
        font-weight: normal;
        color: #534d5c;
        margin-top: 10px;
      }
    }

  }

  .content-right {
    width: 100px;

    @include mq-medium-only {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      width: 88px;

      .time-schedule {
        font-size: 12px;
      }
    }

    .duration {
      color: #7e7a85;

      @include mq-medium-only {
        font-size: 12px;
      }
    }

    .spot {
      color: #fe9139;

      @include mq-medium-only {
        font-size: 11px;
      }
    }

    .session {
      border: 1px solid #ff5e72;
      border-radius: 4px;
      width: 75px;
      padding: 5px 0 5px 0;
      color: #ff5e72;
      font-size: 11px;

      @include mq-medium-only {
        width: 100%;
        padding: 4px;
      }
    }

    .delete {
      color: #666;
      font-size: 14px;
      border: solid 1px #ebecf0;
      border-radius: 4px;
      padding: 5px 10px;
      display: inline-block;
      cursor: pointer;

      @include mq-medium-only {
        background-color: #fafafa;
      }
    }
  }

}

.pagination {
  float: right;

  @include mq-medium-only {}

  @include module-pagination;
}
