<template>
	<span :class="klass" @click="$emit('click', cell)">{{ cell.moment.date() }}</span>
</template>

<script>
export default {
	name: "DatePickerCell",
	props: {
    cell: Object
  },
  computed: {
    klass() {
			return {
        'dp__cell': this.cell.inThisMonth,
        'dp__cell--inactive': !this.cell.inThisMonth || !this.cell.inRange,
				'dp__cell--selected': this.cell.selected,
				'dp__cell--holiday': this.cell.holiday
      }
    }
	}
}
</script>
