<template>
	<div>
		<div class="settings-container">
			<div class="input-group">
				<h3 class="input-group-title">{{$t('parent.profile.general_info')}}</h3>
				<div class="input-list">
					<change-password />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ChangePassword from '~/components/setting/change_password/index.vue'
export default {
	middleware: ["authenticated", 'verifiedParent'],
	layout: "ParentDashboard",
	components:{
		ChangePassword
	}
}
</script>


<style lang="scss" src="./style.scss" scoped></style>
