@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.settings-container {
	background-color:#fff;
	padding:30px;
	@include mq-medium-only {
		padding:15px;
	}
	.input-group {
        overflow:hidden;
        margin-bottom:15px;
        .input-group-title {
            width:21%;
            float:left;
            @include mq-medium-only {
                width:100%;
                float:none;
                margin-bottom:15px;
            }
        }
        .input-list {
            width:75%;
            float:left;
            padding-left:4%;
            @include mq-medium-only {
                float:none;
                padding-left:0%;
                width:100%;
            }
        }
    }
}

.setting-mobile {
	.box-logout {
	  padding: 14px;
	  .text-logout {
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ff5e72;
	  }
	}
  }
  

