<template>
	<div>
		<div class="box box-white box-border box-rounded mb-20">
			<div class="guideline-example">
				<div class="form-input">
					<h3>From Input</h3>
					<label><span>Input Name Label</span></label>
					<input type="text" placeholder="Please insert text" />
				</div>
			</div>
			<div class="guideline-code">
				<pre>
					<code class="html">
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;div class=&#x22;form-input&#x22;&#x3E;<br />
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;h3&#x3E;From Input&#x3C;/h3&#x3E;<br />
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;label&#x3E;&#x3C;span&#x3E;Input Name Label&#x3C;/span&#x3E;&#x3C;/label&#x3E;<br />
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;input type=&#x22;text&#x22; placeholder=&#x22;Please insert text&#x22; /&#x3E;<br />
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;/div&#x3E;
					</code>
				</pre>
			</div>
		</div>
	</div>
</template>

<script>

export default {
	layout: 'DashboardGuideline'
};
</script>

<style lang="scss" src="./style.scss" />
