<template>
	<div>
		<div class="box box-white box-border box-rounded mb-20">
			<div class="guideline-example">
				<div class="form-input">
					<h3>From Input</h3>
					<label><span>Input Name Label</span></label>
					<input type="text" placeholder="Please insert text" />
				</div>
			</div>
			<div class="guideline-code">
				asd
			</div>
		</div>
	</div>
</template>

<script>
export default {
	layout: 'DashboardGuideline'
};
</script>

<style lang="scss" src="../style.scss" />
