<template>
	<header class="header-parent">
		<div class="wrapper">
			<parent-logo/>
		</div>
	</header>
</template>

<script>
import ParentLogo from '../parent-logo/index.vue'

export default {
	name: "ParentHeader",
	components: {
		ParentLogo
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
