<template>
	<li :class="klass" @click="onClick">
		<nuxt-link v-if="!hasChildren" :to="$i18n.path(path)">
			{{ $t(stringKey) }}
		</nuxt-link>

		<!-- if has subitems -->
		<div v-if="hasChildren">
			<a>{{ $t(stringKey) }}</a>
			<span class="toggle"></span>
			<ul>
				<li v-for="(child, index) in children"
					:key="index"
					:class="{ 'is-active': isChildActive(child) }"
					@click="onClickChild">
					<nuxt-link :to="$i18n.path(child.path)">
						{{ $t(child.stringKey) }}
					</nuxt-link>
				</li>
			</ul>
		</div>
	</li>
</template>

<script>
export default {
	name: "SidebarItem",
	data() {
		return {
			isOpen: true
		}
	},
	props: {
		icon: {
			type: String,
			default: ''
		},
		path: {
			type: String,
			default: '#'
		},
		stringKey: {
			type: String,
			required: true
		},
		children: {
			type: Array,
			default() {
				return []
			}
		},
		withSeparator: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		klass() {
			let result = ''
			if (this.icon !== '') {
				result += 'with-icon ' + this.icon
			} else {
				result += 'special'
			}
			if (this.isActive()) {
				if (this.children.length > 0) {
					result += ' is-active-child'
				} else {
					result += ' is-active'
				}
			}
			if (this.children.length > 0) {
				result += ' is-have-children'
				if (this.isOpen) {
					result += ' is-open'
				}
			}
			if (this.withSeparator) {
				result += ' has-separator'
			}
			return result
		},
		hasChildren() {
			return this.children.length > 0
		},
		pagePath() {
			let result = this.$nuxt.$route.fullPath
			if (this.$nuxt.$route.params.lang){
				result = result.replace("/" + this.$nuxt.$route.params.lang, '')
			}
			return result
		}
	},
	methods: {
		onClick() {
			this.isOpen = !this.isOpen
			if (this.children.length == 0) {
				this.$emit('click')
			}
		},
		onClickChild() {
			this.$emit('click')
		},
		isActive() {
			if (this.children.length == 0) {
				return ('/' + this.path) == this.pagePath
			} else {
				return this.pagePath.startsWith('/' + this.path)
			}
		},
		isChildActive(child) {
			return ('/' + child.path) == this.pagePath
		}
	}
};
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
