@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

li {
  margin-bottom: 12px;
  position: relative;
  ul {
    margin-top: 12px;
    li {
      margin-bottom: 4px;
      a {
        font-size: 12px;
      }
      &.is-active {
        &>a {
          padding: 0 20px 0 37px;
        }
      }
    }
  }
  a {
    cursor: pointer;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    font-family: $f-circularstd;
    font-size: 13px;
    color: $c-medgray;
    user-select: none;
		transition: all .4s ease;
    &:hover {
      color: $c-lightergray;
    }
	}
	&.special {
		a {
			color: #ff5e72;
			padding-left: 40px;
		}

		@include mq-medium-up {
			display: none;
		}
	}
  &.with-icon {
    a {
      padding: 0 20px 0 40px;
    }
    &::before {
      position: absolute;
      font-size: 24px;
      margin-top: 4px;
      margin-left: 10px;
      color: #d0c7e1;
    }
  }
  &.is-active {
    &>a {
      padding: 0 20px 0 16px;
      color: $c-theme-purple-dark;
    }
    &.with-icon {
      a {
        padding: 0 20px 0 40px;
      }
    }
    &::before {
      color: $c-theme-purple-dark;
    }
  }
  &.is-active-child {
    &::before {
      color: $c-theme-purple-dark;
    }
  }
  &.is-have-children {
    .toggle::before {
      font-family: $f-psicon;
      font-size: 10px;
      content: $icon-arrow-down;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    ul {
      display: none;
    }
    &.is-open {
      .toggle::before {
        content: $icon-arrow-up;
      }
      ul {
        display: block;
      }
    }
	}
	&.has-separator::after {
		content: "";
		display: block;
		height: 2px;
		background-color: #dfe1e5;
		margin-top: 12px;
	}
}