<template>
	<div>
		<ul class="menu">
			<sidebar-item v-for="(item, index) in menuItems"
				:key="index"
				:icon="item.icon"
				:path="item.path"
				:string-key="item.stringKey"
				:children="item.children"
				:with-separator="item.withSeparator"
				@click='onClickItem(index)'
				/>
		</ul>

	</div>
</template>

<script>
import SidebarItem from '../sidebar-item'

function MenuItem(icon, path, stringKey, withSeparator = false, children = []) {
	this.icon = icon
	this.path = path
	this.stringKey = stringKey
	this.withSeparator = withSeparator
	this.children = children
}

function SubMenuItem(path, stringKey) {
	this.path = path
	this.stringKey = stringKey
}

export default {
	name: "SidebarMenu",
	components: { SidebarItem },
	data() {
		return {
			isActivityMenuOpen: true,
			activeItemIndex: -1
		}
	},
	methods: {
		toggleActivityMenu(){
			this.isActivityMenuOpen = !this.isActivityMenuOpen;
		},
		onClickItem(index) {
			this.$emit("click-item")
		}
	},
	computed: {
		pathName() {
			var path = this.$nuxt.$route.fullPath
			if (this.$nuxt.$route.params.lang){
				path = path.replace("/"+this.$nuxt.$route.params.lang,'')
			}
			return path
		},
		menuItems() {
			let currentPath = this.$nuxt.$route.fullPath
			if (this.$nuxt.$route.params.lang) {
				currentPath = currentPath.replace("/"+this.$nuxt.$route.params.lang,'')
			}

			const partnerMenuItems = [
				new MenuItem('icon-home', 'dashboard', 'dashboard.sidebar.home'),
				new MenuItem('icon-profile', 'dashboard/profile', 'dashboard.sidebar.profile'),
				new MenuItem('icon-schedule', 'dashboard/activity', 'dashboard.sidebar.activity', false, [
					new SubMenuItem('dashboard/activity', 'dashboard.sidebar.activity_list'),
					new SubMenuItem('dashboard/activity/draft', 'dashboard.sidebar.draft')
				]),
				new MenuItem('icon-chart', 'dashboard/statistics', 'dashboard.sidebar.statistic'),
				new MenuItem('icon-review', 'dashboard/review', 'dashboard.sidebar.review'),
				new MenuItem('icon-revenue', 'dashboard/revenue', 'dashboard.sidebar.revenue'),
				new MenuItem('icon-gear', 'dashboard/settings', 'dashboard.sidebar.settings'),
				new MenuItem('', 'logout', 'dashboard.sidebar.logout')
			]

			const parentMenuItems = [
				new MenuItem('icon-home', 'home', 'dashboard.sidebar.home'),
				new MenuItem('icon-activities', 'activity', 'dashboard.sidebar.activities'),
				new MenuItem('icon-providers', 'provider', 'dashboard.sidebar.partners', true),
				new MenuItem('icon-menu-profile', 'parent', 'dashboard.sidebar.profile'),
				new MenuItem('icon-menu-favorites', 'parent/favorites', 'dashboard.sidebar.favorites'),
				new MenuItem('icon-menu-bookings', 'parent/bookings', 'dashboard.sidebar.bookings'),
				new MenuItem('icon-menu-subscription', 'parent/subscriptions', 'dashboard.sidebar.subscriptions'),
				new MenuItem('icon-menu-transaction-history', 'parent/transactions', 'dashboard.sidebar.transaction'),
				new MenuItem('icon-menu-settings', 'parent/settings', 'dashboard.sidebar.settings'),
				new MenuItem('', 'logout', 'dashboard.sidebar.logout')
			]

			if (this.$store.state.account.account.type == 'parent') {
				return parentMenuItems
			} else {
				return partnerMenuItems
			}
		}
	}
};
</script>

<style lang="scss" scoped>
@import './style.scss';
</style>
