<!-- 
A very basic component for popup 
use this template to crate a new popup
-->

<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box pass-detail">
				<div class="popup-header">
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content">
					<h3 class="center mt-20">Pass Detail</h3>
					<ul>
						<li>Unused pass(es) will be accumulated automatically to the upcoming month with active membership</li>
						<li>Use up to 6 passes every month</li>
						<li>Passes are applicable for all activities available in Parentstory website and mobile app</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</template>
<script>



export default {
	// Do not forget to change the "DefaultPopup" name
	name: "PassDetail",
	data(){
		return {
			page: 1
		}
	},
	methods: {
		closePopup(){
			this.$emit("close")
			document.body.classList.remove('is-modal-open');
		}
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

