@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.pass-detail {
	width:600px;
	padding:0 40px 50px 40px;

	@include mq-medium-only {
		position: relative;
		padding-left: 22px;
	}

	.popup-header {
		border-bottom:0px;

		@include mq-medium-only {
			left: 0;
		}
	}

	.icon-close {
		right: -30px;

		@include mq-medium-only {
		  right: 20px;
		}
	}

	ul {
		margin-top:40px;

		@include mq-medium-only {
			padding-left: 18px;
		}

		li {
			line-height:1.73;
			font-size:15px;
			color:#534d5c;
			list-style-type:disc;
			font-weight:normal;
		}
	}

}