<template>
	<div>
		<app-header/>
		<div class = "box box-border box-full-purple">
			<h2 class="section-title">{{$t('privacy_policy.section-title')}}</h2>
		</div>
		<div class = "box box-border box-full-white box-bottom">
			<div class="wrapper-center-content">
				<h2 class="last-date-terms">Effective date: October 1 st , 2018</h2>
				<p>Parentstory ("us", "we", or "our") operates the www.parentstory.com website and the Parentstory mobile application (hereinafter referred to as the "Service").</p>
				<p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>
				<p>We use your data to provide and improve the Service. By using the Service, 
					you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, 
					the terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</p>
				<h3>Information Collection And Use</h3>
				<p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
				<h3>Types of Data Collected</h3>
				<h4>Personal Data</h4>
				<p>While using our Service, we may ask you to provide us with certain personally identifiable information
					that can be used to contact or identify you ("Personal Data"). Personally identifiable information may
					include, but is not limited to:</p>
				<ul>
					<li>Email address</li>
					<li>First name and last name</li>
					<li>Phone number</li>
					<li>Location</li>
					<li>Cookies and Usage Data</li>
				</ul>
				<h4>Usage Data</h4>
				<p>We may also collect information that your browser sends whenever you visit our Service or when you
					access the Service by or through a mobile device ("Usage Data").</p>
				<p>This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP
					address), browser type, browser version, the pages of our Service that you visit, the time and date of your
					visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
				<p>When you access the Service with a mobile device, this Usage Data may include information such as the
					type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your
					mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other
					diagnostic data.</p>
				<h4>Tracking and Cookies Data</h4>
				<p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain
					information.</p>
				<p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies
					are sent to your browser from a website and stored on your device. Tracking technologies also used are
					beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
				<p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if
					you do not accept cookies, you may not be able to use some portions of our Service.</p>
				<p>Examples of Cookies we use:</p>
				<ul>
					<li><b>Session Cookies.</b> We use Session Cookies to operate our Service.</li>
					<li><b>Preference Cookies.</b> We use Preference Cookies to remember your preferences and various settings.</li>
					<li><b>Security Cookies.</b> We use Security Cookies for security purposes.</li>
				</ul>
				<h4>Use of Data</h4>
				<p>Parentstory uses the collected data for various purposes:</p>
				<ul>
					<li>To provide and maintain the Service</li>
					<li>To notify you about changes to our Service</li>
					<li>To allow you to participate in interactive features of our Service when you choose to do so</li>
					<li>To provide customer care and support</li>
					<li>To provide analysis or valuable information so that we can improve the Service</li>
					<li>To monitor the usage of the Service</li>
					<li>To detect, prevent and address technical issues</li>
					<li>To inform you of promotions, offers, surveys, events, products and services, which may be of interest to you;</li>
					<li>To process your payments including credit cheques and collection;</li>
					<li>To reduce credit risk, detect and protect us against error, fraud and other criminal activity;</li>
					<li>To comply with law, the requests of law enforcement and regulatory officials, or orders of court;</li>
					<li>To enforce our legal rights and remedies; or</li>
					<li>For such other purposes notified to you on or before collection or use of the data.</li>
				</ul>
				<h4>Transfer of Data</h4>
				<p>Your information, including Personal Data, may be transferred to — and maintained on — computers
					located outside of your state, province, country or other governmental jurisdiction where the data
					protection laws may differ than those from your jurisdiction.</p>
				<p>If you are located outside Indonesia and choose to provide information to us, please note that we transfer
					the data, including Personal Data, to Indonesia and process it there.</p>
				<p>Your consent to this Privacy Policy followed by your submission of such information represents your
					agreement to that transfer.</p>
				<p>Parentstory will take all steps reasonably necessary to ensure that your data is treated securely and in
					accordance with this Privacy Policy and no transfer of your Personal Data will take place to an
					organization or a country unless there are adequate controls in place including the security of your data
					and other personal information.</p>
				<h4>Disclosure Of Data</h4>
				<p>We do not rent, trade or sell your personal data. Your personal data will not be disclosed by Parentstory to
					any third party, except:</p>
				<ul>
					<li>to any affiliate, subsidiary or partner of Parentstory; our technology, marketing and logistics
						service providers; credit card and payment processing companies; lawyers, auditors, professional
						advisors and investors of Parentstory; or any other agents, service providers or subcontractors
						acting for or on behalf of Parentstory, to the extent required to carry out the purposes set out in
						Section 5 above, or to do anything at your request; or</li>
					<li>where you expressly consent to such disclosure; or</li>
					<li>where such disclosure is required or permitted by applicable law, statute, stock exchange
						regulation or by-law, regulatory or governmental order or court order; or</li>
					<li>in the event of a corporate sale, merger, reorganization, dissolution or similar event, personal data
						may be part of the transferred assets;</li>
				</ul>
				<p>From time to time, we may collaborate with other third parties to organize joint marketing and
					promotional campaigns, offers or contests, and may require disclosure of your information to such third
					parties. For example, where a promotion or Voucher Code is specially offered to customers of our third
					party partner, we may share your information with that partner to the extent relevant to such promotional
					campaign. In some cases, you may not be able to enjoy the promotion, offer or participate in the contest,
					unless you consent to disclosure to our partner of your information.</p>
				<h4>Security Of Data</h4>
				<p>The security of your data is important to us, but remember that no method of transmission over the
					Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable
					means to protect your Personal Data, we cannot guarantee its absolute security.</p>
				<h4>Service Providers</h4>
				<p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to
					provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our
					Service is used.</p>
				<p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are
					obligated not to disclose or use it for any other purpose.</p>
				<h4>Analytics</h4>
				<p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
				<ul>
					<li><b>Google Analytics</b></li>
					<p>Google Analytics is a web analytics service offered by Google that tracks and reports website
						traffic. Google uses the data collected to track and monitor the use of our Service. This data is
						shared with other Google services. Google may use the collected data to contextualize and
						personalize the ads of its own advertising network.</p>
					<p>For more information on the privacy practices of Google, please visit the Google Privacy and
						Terms web page: https://policies.google.com/privacy?hl=en</p>
				</ul>
				<h3>Links To Other Sites</h3>
				<p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link,
					you will be directed to that third party&#39;s site. We strongly advise you to review the Privacy Policy of every
					site you visit.</p>
				<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any
					third party sites or services.</p>
				<h3>Children's Privacy</h3>
				<p>Our Service does not address anyone under the age of 18 ("Children").</p>
				<p>We may collect personally identifiable information of your children with your consent in order to provide
					complete booking information to our service partners. If you are a parent or guardian and you are aware
					that your Children has provided us with Personal Data, please contact us. If we become aware that we
					have collected Personal Data from children without verification of parental consent, we take steps to
					remove that information from our servers.</p>
				<h3>Changes To This Privacy Policy</h3>
				<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the
					new Privacy Policy on this page.</p>
				<p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming
					effective and update the "effective date" at the top of this Privacy Policy.</p>
				<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy
					Policy are effective when they are posted on this page.</p>
				<h3>Contact Us</h3>
				<p>If you have any questions about this Privacy Policy, please contact us:</p>
				<ul>
					<li>By email: <a href="mailto:support@parentstory.com" target="_top">support@parentstory.com</a></li>
				</ul>
				
			</div>	
		</div>
		<app-footer />
	</div>
</template>

<script>
import AppHeader from "~/components/header/index";
import AppFooter from "~/components/AppFooter.vue";

export default {
  components: {
	AppHeader,
    AppFooter
  }
};
</script>
<style lang="scss" src="./style.scss" scoped />