<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box transaction-history-detail">
				<div class="popup-header">
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content ">
					<h3 class="center">Transaction History Detail</h3>
					<table>
						<tr>
							<td>Transaction ID</td>
							<td>{{paymentCode}}</td>
						</tr>
						<tr>
							<td>Date</td>
							<td>{{ transactionData && $moment(transactionData.created_at).format("DD/MM/YYYY")}}</td>
						</tr>
						<tr>
							<td>Item</td>
							<td>{{transactionData && transactionData.description}}</td>
						</tr>
						<tr>
							<td>Period</td>
							<td>{{ transactionData && $moment(transactionData.created_at).format("DD MMMM YY")}} - {{ transactionData && $moment(transactionData.end_date).format("DD MMMM YY")}}</td>
						</tr>
						<tr>
							<td>Price</td>
							<td>{{transactionData && transactionData.amount | currency}}</td>
						</tr>
						<tr>
							<td>Status</td>
							<td>
								<span :class="{'red': (transactionData && transactionData.status == 0), 'block': (transactionData && transactionData.status == 1) }">{{transactionData && transactionData.status == 1 ? 'Paid' : 'Pending'}}</span>
							</td>
						</tr>
						<tr>
							<td>Method</td>
							<td>{{transactionData && transactionData.payment_gateway.replace('Veritrans-','').toUpperCase()}}</td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
	</div>

</template>
<script>
import bookingAPI from '@/api/booking'

export default {
	name: "TransactionHistoryDetail",
	props: ["paymentCode"],
	data(){
		return {
			transactionData: null
		}
	},
	methods: {
		closePopup(){
			this.$emit("close")
			document.body.classList.remove('is-modal-open');
		}
	},
	mounted(){
		let bookingApi = new bookingAPI(this.$axios)
		bookingApi.getTransactionDetail(this.paymentCode).then(response=>{
			this.transactionData = response.data.data
		})
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

