@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.transaction-history-detail {
	width:600px;
	@include mq-medium-only {
		width:100%;
		margin-left: 0;
    	width: calc(100vw + 15px) !important;
    	height: calc(100vh + 20px) !important;
	}
	.popup-header {
		border-bottom:0px;
	}
	.red {
		color:#ff93a0;
	}
	.bold {
		font-weight:bold;
	}
	table {
		width:80%;
		margin:20px auto;
		td {
			font-size:14px;
			color:#545454;
			width:50%;
			line-height:40px;
		}
	}
}