<!-- 
A very basic component for popup 
use this template to crate a new popup
-->

<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box w-680">
				<div class="popup-header">
					<h3>Default Popup</h3>
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content">

				</div>
			</div>
		</div>
	</div>

</template>
<script>



export default {
	// Do not forget to change the "DefaultPopup" name
	name: "DefaultPopup",
	data(){
		return {
			page: 1
		}
	},
	methods: {
		closePopup(){
			this.$emit("defaultPopupClose")
			document.body.classList.remove('is-modal-open');
		}
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

