<template>
	<div>
		<div>

		</div>
		<div>

		</div>
	</div>
</template>

<script>
export default {
	name: "AppDialog",
	props: {
		title: {
			type: String,
			default: "Information"
		}
	}
};
</script>

<style>
</style>
