<template>
	<footer>
		<nav class="footer-links">
			<ul>
				<li><nuxt-link :to="$i18n.path('contact-us')">{{ $t('home.footer.contact') }}</nuxt-link></li>
				<li><nuxt-link :to="$i18n.path('partner')">{{ $t('home.footer.be_partner') }}</nuxt-link></li>
				<li><nuxt-link :to="$i18n.path('privacy-policy')">{{ $t('home.footer.privacy') }}</nuxt-link></li>
				<li><nuxt-link :to="$i18n.path('faq')">{{ $t('home.footer.partner_support') }}</nuxt-link></li>
				<li><nuxt-link :to="$i18n.path('terms-and-conditions')">{{ $t('home.footer.tos') }}</nuxt-link></li>
			</ul>
		</nav>
		<div class="footer-socmed">
			<ul>
				<li><a href="https://www.instagram.com/parentstory" target="__blank"><span class="icon-instagram"></span></a></li>
				<li><a href="https://www.facebook.com/ParentstoryID" target="__blank"><span class="icon-facebook"></span></a></li>
			</ul>
		</div>
		<p>{{ $t('home.footer.copyright') }} {{year}}</p>
	</footer>
</template>

<script>
export default {
	name: "AppFooter",
	computed:{
		year(){
			return new Date().getFullYear()
		}
	}
};
</script>

<style lang="scss">
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_variables.scss';

footer {
  width: 100%;
  background-color: $c-darkgray;
  position: absolute;
  bottom: 0px;
  padding: 52px 27px 48px;
  @include mq-medium-only {
    bottom: auto;
  }
  @include mq-medium-up {
    padding: 49px 5vw 17px;
  }

  .footer-links ul {
    text-align: center;

    li {
      display: block;
      color: #ffffff;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1.6px;
      text-align: left;
      text-transform: uppercase;
	  margin-bottom: 15px;
	  a {
		color: #FFFFFF;
	  }

      @include mq-medium-up {
        display: inline-block;
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 14px;
        text-align: left;
        margin-left: 38px;
      }
    }

    li:first-child {
      margin-left: 0;
    }
  }

  .footer-socmed {
    margin-top: 20px;

    @include mq-medium-up {
      margin-top: 22px;
    }

    ul {
      @include mq-medium-up {
        text-align: center;
      }

      li {
        display: inline-block;
        width: 32px;
        height: 32px;

        @include mq-medium-up {
          margin-left: 35px;
        }

        span {
          color: $c-lightergray;
          font-size: 24px;
        }

        span::before {
          text-align: left;
        }
      }

      li:first-child {
        margin-left: 0;
      }
    }
  }

  p {
    color: $c-white;
    font-size: 12px;
    margin-top: 10px;

    @include mq-medium-up {
      text-align: center;
      margin-top: 18px;
    }
  }
}
</style>
