<template>
	<section class="landing__benefit">
		<ul class="landing__benefit__list">
			<benefit-item v-for="item in benefits"
					:key="item.id"
					:item="item"
					/>
		</ul>
	</section>
</template>

<script>
import BenefitItem from '../benefit-item/index.vue';
import { Benefit } from '~/models';

const benefits = [
	new Benefit(
		'/benefit-1.png',
		'Online benefit icon',
		'home.benefit.item1.title',
		'home.benefit.item1.description'
	),
	new Benefit(
		'/benefit-2.svg',
		'Expand your business benefit icon',
		'home.benefit.item2.title',
		'home.benefit.item2.description'
	),
	new Benefit(
		'/benefit-3.svg',
		'Manage your business benefit icon',
		'home.benefit.item3.title',
		'home.benefit.item3.description'
	)
];

export default {
	name: "BenefitSection",
	components: {
		BenefitItem
	},
	data: function() {
		return {
			benefits
		}
	}
}
</script>

<style>
@import './style.scss';
</style>
