.landing__benefit__title {
	width: 100%;
	color: #444444;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -0.67px;
	line-height: 56px;
	text-align: center;
	margin-bottom: 60px;
}
@media screen and (min-width: 1024px) {
	.landing__benefit {
		padding-top: 17px;
	}
}
