<template>
	<div class="registration-form-wrapper">
		<registration-form v-show="isForm" @submit="onSubmit" @success="onSuccess" @error="onError"/>
		<donut-spinner v-if="isLoading" />
		<p v-if="isSuccess" v-html="successMessage" class="registration-form-success" />
	</div>
</template>

<script>
import DonutSpinner from '~/components/misc/donut-spinner/index.vue';
import RegistrationForm from '../registration-form/index.vue';

export default {
	name: "FormWrapper",
	components: {
		DonutSpinner,
		RegistrationForm
	},
	data() {
		return {
			state: "form"
		}
	},
	computed: {
		isForm() { return this.state === 'form'; },
		isLoading() { return this.state === 'loading'; },
		isSuccess() { return this.state === 'success'; },
		successMessage() { return this.$t('home.section_form.success'); }
	},
	methods: {
		onSubmit() { this.state = "loading" },
		onSuccess() { this.state = "success" },
		onError() { this.state= "form" }
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
