.registration-form-wrapper {
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
	margin-top: 33px;
	padding: 36px 15px;

	@include mq-medium-up {
		border-radius: 4px 4px 0 0;
		width: 40vw;
		margin: 0 auto;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
		padding: 34px 35px;
	}
}

.registration-form-success {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.4px;
	text-align: center;
	color: #404040;

	@include mq-medium-up {
		font-size: 20px;
	}
}

.donut {
	border: 1px solid #dfdfe4;
	border-right-color: #2ab3c2;
	border-right-width: 2px;
	width: 48px;
	height: 48px;

	@include mq-medium-up {
		width: 82px;
		height: 82px;
	}
}