<template>
	<ul class="menu">
		<li class="is-active"><a href="#">Modifier</a></li>
		<li><a href="#">Forms</a></li>
		<li><a href="#">Icons</a></li>
		<li><a href="#">Grid</a></li>
	</ul>
</template>

<script>
export default {
	name: "SidebarMenu",
	data: function() {
		return {
			isActivityMenuOpen: false
		}
	},
	methods: {
		toggleActivityMenu: function(){
				this.isActivityMenuOpen = !this.isActivityMenuOpen;
		}
	}
};
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

// TODO This is the same component with dashboard sidebar menu
// Please generalize that component and use the same component for sidebar's dashboard and guideline
@import './style.scss';
</style>
