.menu{
	li{
		margin-bottom: 12px;
		position: relative;
		ul{
			margin-top: 12px;
			li{
				margin-bottom: 4px;
				a{
					font-size: 12px;
				}
			}
		}

		a{
			cursor: pointer;
			display: block;
			height: 32px;
			line-height: 32px;
			padding: 0 20px;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			color: $c-medgray;
			text-decoration: none;
			user-select: none;
			transition: all .4s ease;
			&:hover{
				color: $c-lightergray;
			}
		}

		&.with-icon{
			a{
				padding: 0 20px 0 40px;
			}
			&::before{
				position: absolute;
				font-size: 24px;
				margin-top: 4px;
				margin-left: 10px;
				color: #d0c7e1;
			}
		}

		&.is-active{
			& > a{
				border-left: 4px solid $c-theme-purple-dark;
				padding: 0 20px 0 16px;
				background-color: #e6eaee;
				color: $c-theme-purple-dark;
			}
			&.with-icon{
				a{
					padding: 0 20px 0 36px;
				}
			}
			&::before{
				color: $c-theme-purple-dark;
			}
		}

		&.is-have-children{
			.toggle::before{
				font-family: $f-psicon;
				font-size: 10px;
				content: $icon-arrow-down;
				position: absolute;
				right: 10px;
				top: 10px;
			}
			ul{
				display: none;
			}
			&.is-open{
				.toggle::before{
					content: $icon-arrow-up;
				}
				ul{
					display: block;
				}
			}
		}
	}
}
