<template>
	<div class="popup-base-layer">
		<div class="modal-box booking-confirmed">
			<img src="~/assets/images/parent/illustration-booking.png">
			<h3 class="modal-title">
				{{$t('popup.booking_success.yeay')}}<br>{{$t('popup.booking_success.title')}}
			</h3>
			<span class="modal-close icon-close" @click="$emit('close')"></span>
			<div class="detail-schedule-box">
				<h4>{{activity.name}}</h4>
				<span class="mt-15 block">by {{partner.display_name}}</span>
				<span class="block ">{{activity.city.name}}</span>
				<ul class="tag">
					<li>
						<span class="icon-calendar"></span> {{$moment(klass.sessions[0].start_date).format("dddd, DD MMMM") }}
					</li>
					<li>
						<span class="icon-calendar"></span> {{showTimeAndDuration(klass.sessions[0].start_date,klass.sessions[0].duration)}}
					</li>
					<li>
						<span class="icon-parent-kid"></span> {{showAgeRange(activity.age_range)}}
					</li>
					<li>
						<span class="icon-tag"></span> {{$t('popup.booking_success.category')}} {{showCategories(activity.category)}}
					</li>
				</ul>

			</div>

			<ul class="list-class">
				<span class="block center mb-20">{{$t('popup.booking_success.multiple_session',{session: klass.session})}}</span>
				<li v-for="session in klass.sessions " :key="session.id"><span class="date">{{$moment(session.start_date).format("ddd, DD MMMM") }}</span> <span class="time">{{showTimeAndDuration(session.start_date,session.duration)}}</span></li>
			</ul>

			<div class="booked-for">
				<span>{{$t('popup.booking_success.booked_for')}}</span>
				<ul>
					<li v-for="child in children" :key="child.id">{{child.name}} ({{showAge(child.birthday)}})</li>
				</ul>
				<nuxt-link :to="$i18n.path('parent/bookings')" class="button orange button-block mt-30">{{$t('popup.booking_success.go_to_booking')}}</nuxt-link>
			</div>
		</div>
	</div>
</template>

<script>
import {showAgeRange, showCategories, showAge } from '~/plugins/helpers'

export default {
	name: "BookingConfirmed",
	props: ["klass","activity","partner","children"],
	methods:{
		showCategories(categories){
			return showCategories(categories)
		},
		showAgeRange(age_ranges){
			return showAgeRange(age_ranges)
		},
		showAge(birthday){
			return showAge(birthday)
		},
		showTimeAndDuration(time,duration){
			return this.$moment(time).format("HH:mm") + " - " + this.$moment(time).add(duration,"minutes").format("HH:mm") + " ("+duration+" Min)"
		}
	}
};
</script>

<style lang="scss" scoped src="./style.scss" />

