@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.booking-confirmed{
	width:560px;
	padding:20px 70px 40px 70px;
	overflow-y:scroll;
	height:530px;
	margin: 15vh auto 0 auto;
	@include mq-medium-only {
		margin: 0vh auto 0 auto;
		height: 100vh;
		padding: 20px 30px 40px 30px;
		width:100%;
	}
	img {
		width:30%;
		display:block;
		margin:auto;
	}
	label {
		display:block;
		margin-bottom:5px;
		color:#534d5c;
		font-size:14px;
		font-weight:bold;
	}
	.modal-title {
		font-size:18px;
		line-height:1.11;
		margin-bottom:30px;
	}
	.detail-schedule-box {
	  	border-radius: 3px;
	  	background-color: #8a72b3;
	  	margin:auto;
	  	color:#fff;
	  	padding:20px 40px;
	  	span {
	  		font-size:14px;
	  	}
	  	ul {
	  		margin-top:25px;
	  	}
	  	li {
	  		font-size:14px;
	  		line-height:1.43;
	  		margin-bottom:8px;
	  	}
	}
	.list-class {
		font-size:13px;
		color:#666666;
		margin-top:22px;
		li {
			line-height:1.54;
			margin-bottom:5px;
			display:flex;
			.date {
				text-align:left;
				display:inline-block;
				flex-grow:1;
			}
			.time {
				text-align:right;
				display:inline-block;
				flex-grow:1;
			}
		}
	}
	.booked-for {
		span {
			font-size: 14px;
			display:block;
		  	text-align: center;
		  	color: #534d5c;
		  	margin-bottom:15px;
		  	margin-top:15px;
		}
		li {
			color: #fe9139;
			font-size:15px;
			text-align:center;
			margin-bottom:5px
		}
	}
}

