@keyframes donut-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.donut {
	margin: 0px auto;
	display: block;
	border-radius: 50%;
	animation: donut-spin 1.2s linear infinite;
}
