<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box update-card">
				<div class="popup-header">
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content ">
					<h3 class="center mb-10">Update Card</h3>
					<span class="block f-12 text-light-gray center">New credit card number will be applied to the upcoming billing cycle</span>
					<form>
						<div class="form-input mt-20">
							<label for="">Credit Card Number</label>
							<input placeholder="Enter credit card number" id="" class="input-text input-block" type="number" name="cc_number" />
						</div>

						<div class="form-input mt-20">
							<label for="">Expiry Date (MM/YY)</label>
							<input placeholder="Month/Year" id="" class="input-text input-block" type="text" name="exp_date" />
						</div>

						<div class="form-input mt-20">
							<label for="">CVV Code <span class="information">i</span></label>
							<input id="" class="input-text input-block cvv" type="text" name="exp_date" />
						</div>

						<button class="orange button button-block">Update</button>
					</form>
										
				</div>
			</div>
		</div>
	</div>

</template>
<script>



export default {
	// Do not forget to change the "DefaultPopup" name
	name: "UpdateCard",
	data(){
		return {
			page: 1,
			showTransactionHistoryDetail: false
		}
	},
	methods: {
		closePopup(){
			this.$emit("defaultPopupClose")
			document.body.classList.remove('is-modal-open');
		},
		openRatingGuide(){
            this.showTransactionHistoryDetail = true
        },
        closeRatingGuide(){
            this.showTransactionHistoryDetail = false
        }
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

