@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.update-card {
	width:600px;
	.popup-header {
		border-bottom:0px;
	}
	
	form {
		width:60%;
		margin:30px auto;
		.cvv {
			width:120px;
		}
	}
}