<template>
	<div class="menu-dropdown anchor-top-right fixed-width"
			:style="{ display: isOpen? 'block' : 'none' }"
			>
		<h3>{{ title }}</h3>
		<div class="dropdown-content">
			<ul :class="name">
				<badge-dropdown-item v-for="(item, index) in items" :key="index" v-bind="item" />
			</ul>
		</div>
	</div>
</template>

<script>
import BadgeDropdownItem from '../badge-dropdown-item/index.vue';

export default {
	name: "BadgeDropdown",
	components: { BadgeDropdownItem },
	props: {
		isOpen: {
			type: Boolean,
			default: false
		},
		items: Array,
		name: String,
		title: String
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
