.menu-dropdown{
	position: absolute;
	min-width: 155px;
	background-color: $c-white;
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.12);
	border: solid 1px #ebecf0;
	top: 100%;
	display: none;
	&.is-open {
		display: block;
	}
	* {
		cursor: default;
		user-select: none;
	}
	a, a *{
		cursor: pointer;
	}
	.links{
		a{
			font-family: $f-circularstd;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: #534d5c;
			padding: 10px 10px;
			display: block;
			text-decoration: none;
			transition: all .4s ease;
			&:hover{
				color: #dfe1e5;
			}
		}
		li{
			border-bottom: 1px solid #ebecf0;
			&:last-child{
				border-bottom: 0;
			}
		}
	}
	.content{
		padding: 10px 10px;
	}
	h3{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		color: #534d5c;
		padding: 10px 10px;
		display: block;
		border-bottom: solid 1px #ebecf0;
	}
	&.full-width{
		width: 100%;
	}
	&.fixed-width{
		width: 260px;
		right: -4px;
	}
	&.anchor-top-left{
		&::after, &::before {
			bottom: 100%;
			left: 68px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&::after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 5px;
			margin-left: -5px;
		}
		&::before {
			border-color: rgba(235, 236, 240, 0);
			border-bottom-color: #ebecf0;
			border-width: 6px;
			margin-left: -6px;
		}
	}
	&.anchor-top-right{
		&::after, &::before {
			bottom: 100%;
			left: calc(100% - 23px);
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&::after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 5px;
			margin-left: -5px;
		}
		&::before {
			border-color: rgba(235, 236, 240, 0);
			border-bottom-color: #ebecf0;
			border-width: 6px;
			margin-left: -6px;
		}
	}
}

.dropdown-content{
	padding: 10px;
	ul{
		li{
			width: 100%;
			border-radius: 2px;
			border: 1px solid #ebecf0;
			margin-bottom: 8px;
			transition: all .4s ease;
			&:last-child{
				margin-bottom: 0;
			}
			&.is-unread{
				background-color: #fef6e8;
				border: 1px solid #fef6e8;
			}
			&:hover{
				border: 1px solid #dfe1e5;
			}
			a{
				display: block;
				min-height: 54px;
				padding: 5px 10px;
				text-decoration: none;
				position: relative;
			}
			strong{
				font-family: $f-circularstd;
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				color: #282133;
				display: block;
			}
			p{
				font-family: $f-circularstd;
				font-size: 10px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.2;
				letter-spacing: normal;
				color: #7e7a85;
				margin-top: 5px;
			}
			.datetime{
				font-family: $f-circularstd;
				font-size: 8px;
				font-weight: 300;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.75;
				letter-spacing: normal;
				color: #a9a6ad;
				position: absolute;
			}
			.initial{
				float: left;
				width: 32px;
				height: 32px;
				border-radius: 100%;
				display: inline-block;
				background-image: linear-gradient(219deg, #3023ae, #c86dd7);
				font-family: $f-circularstd;
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 32px;
				letter-spacing: normal;
				text-align: center;
				color: $c-white;
				margin-top: 5px;
				overflow: hidden;
			}
			.snippet{
				overflow: hidden;
				padding-left: 10px;
			}
		}
		&.notification{
			a{
				padding: 5px 10px 25px;
			}
			.datetime{
				bottom: 5px;
			}
		}
		&.message{
			strong{
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				max-width: 105px;
			}
			.datetime{
				top: 5px;
				right: 10px;
			}
		}
	}
}