/* TABLE OF CONTENTS */
/*
	1. MARGINS
	2. PADDINGS
	3. POSITIONS
	4. BORDER
	5. CURSOR
	6. COLORS
	7. TEXT ALIGN
	8. TEXT COLOR
	9. BUTTON
	10. INPUT
	11. DISPLAY
	12. FONT SIZE & WEIGHT
*/

/* 1. MARGINS */
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; }
.mt-45 { margin-top: 45px; }
.mt-50 { margin-top: 50px; }

.mt--3 { margin-top: -3px; }
.mt--5 { margin-top: -5px; }
.mt--10 { margin-top: -10px; }
.mt--15 { margin-top: -15px; }
.mt--20 { margin-top: -20px; }
.mt--25 { margin-top: -25px; }
.mt--30 { margin-top: -30px; }
.mt--35 { margin-top: -35px; }
.mt--40 { margin-top: -40px; }
.mt--45 { margin-top: -45px; }
.mt--50 { margin-top: -50px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }
.mb-45 { margin-bottom: 45px; }
.mb-50 { margin-bottom: 50px; }

.mb--5 { margin-bottom: -5px; }
.mb--10 { margin-bottom: -10px; }
.mb--15 { margin-bottom: -15px; }
.mb--20 { margin-bottom: -20px; }
.mb--25 { margin-bottom: -25px; }
.mb--30 { margin-bottom: -30px; }
.mb--35 { margin-bottom: -35px; }
.mb--40 { margin-bottom: -40px; }
.mb--45 { margin-bottom: -45px; }
.mb--50 { margin-bottom: -50px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-45 { margin-left: 45px; }
.ml-50 { margin-left: 50px; }

.ml--5 { margin-left: -5px; }
.ml--10 { margin-left: -10px; }
.ml--15 { margin-left: -15px; }
.ml--20 { margin-left: -20px; }
.ml--25 { margin-left: -25px; }
.ml--30 { margin-left: -30px; }
.ml--35 { margin-left: -35px; }
.ml--40 { margin-left: -40px; }
.ml--45 { margin-left: -45px; }
.ml--50 { margin-left: -50px; }

.mr-0 { margin-right: 0px; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-45 { margin-right: 45px; }
.mr-50 { margin-right: 50px; }

.mr--5 { margin-right: -5px; }
.mr--10 { margin-right: -10px; }
.mr--15 { margin-right: -15px; }
.mr--20 { margin-right: -20px; }
.mr--25 { margin-right: -25px; }
.mr--30 { margin-right: -30px; }
.mr--35 { margin-right: -35px; }
.mr--40 { margin-right: -40px; }
.mr--45 { margin-right: -45px; }
.mr--50 { margin-right: -50px; }

/* 2. PADDINGS */
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }
.pt-35 { padding-top: 35px; }
.pt-40 { padding-top: 40px; }
.pt-45 { padding-top: 45px; }
.pt-50 { padding-top: 50px; }

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }
.pb-35 { padding-bottom: 35px; }
.pb-40 { padding-bottom: 40px; }
.pb-45 { padding-bottom: 45px; }
.pb-50 { padding-bottom: 50px; }

.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }
.pl-35 { padding-left: 35px; }
.pl-40 { padding-left: 40px; }
.pl-45 { padding-left: 45px; }
.pl-50 { padding-left: 50px; }

.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }
.pr-35 { padding-right: 35px; }
.pr-40 { padding-right: 40px; }
.pr-45 { padding-right: 45px; }
.pr-50 { padding-right: 50px; }

/* 3. POSITIONS */
.relative { position: relative; }
.left{ float: left; }
.right{ float: right; }

/* 4. BORDER */
hr.border-solid{
	border: solid 1px #e6eaee;
	border-width: 1px 0 0;
}

/* 5. CURSORS */
.cur-pointer{
	cursor: pointer;
}

/* 6. COLORS  */
.c-red { color: $c-rederror; }
/* 7. TEXT ALIGN */

.center {
	text-align:center;
}

.left {
	text-align:left;
}

.right {
	text-align:right;
}

/* 8. TEXT COLOR */

.text-white {
	color:#fff;
}

.text-orange {
	color:#faa61a;
}

.text-purple {
	color:#8c67cd;
}

.text-pink {
	color:#ff5e72;
}

.text-bold-gray {
	color:#444;
}

.text-darkpurple {
	color:#282133;
}
.text-gray {
	color: #868686;
}

.text-dark-gray {
	color: #7e7a85;
}

.text-light-gray {
	color:#a9a6ad;
}

.information {
	font-size:14px;
    display:inline-block;
    border:1px solid #8c67cd;
    border-radius:25px;
    height: 16px;
    width: 15px;
    padding-left: 4.5px;
    cursor:pointer;
    color:#8c67cd !important;
}

/* 9. BUTTONS */

.button {
	border-radius:4px;
	border:none;
	color:#fff;
	min-height:40px;
	font-weight:500;
	font-family:$f-circularstd;
	// background color
	&.purple {
		background-color:#8c67cd;

		&:hover {
			background-color:#A98DD9;
			transition:background-color 0.4s ease;
		}
	}

	&.purple-no-bg {
		background-color:#fff;
		border:1px solid #8c67cd;
		color:#8c67cd;
	}

	&.orange {
		background-color:#faa61a;
		&.disabled {
			background-color: #ebecf0;
			border-color: #ebecf0;
			border-width: 0;
		}
	}

	&.orange-no-bg {
		background-color:#fff;
		order:1px solid #faa61a;
		color:#faa61a;
	}
	&.google {
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
  		background-color: #4884ed;
  		padding-left:20px;
  		background-image: url('~/static/google-icon@2x.png');
  		background-size:20px;
  		background-repeat:no-repeat;
  		background-position: 30px center;
	}

	&.facebook {
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
  		background-color: #3b5998;
  		padding-left:30px;
  		background-image: url('~/static/facebook-icon@2x.png');
  		background-size:20px;
  		background-repeat:no-repeat;
  		background-position: 30px center;
	}
	&.is-not-active {
		background-color:#ebecf0;
		color:#534d5c;
		cursor:default;
	}
	//sizing
	&.button-block {
		display:block;
		width:100%;
	}

	&.button-md {
		width:150px;
		display:inline-block;
	}

	&.button-lg {
		width:315px;
		display:inline-block;
	}
}

/* 10. INPUT */

.input-text {
	height:40px;
	border-radius:3px;
	border:1px solid #dedede;
	padding:10px 15px 10px 15px;

	&.input-block {
		width:100%;
		display:block;
	}
}

/* 11. DISPLAY */
.block {
	display:block;
}

.inline {
	display:inline-block;
}

.flex {
	display:flex;
}

.none {
	display:none;
}


/* 12. FONT SIZE & WEIGHT */
.f-10 {
	font-size:10px;
}

.f-12 {
	font-size:12px;
}

.f-14 {
	font-size:14px;
}

.f-16 {
	font-size:16px;
}

.f-18 {
	font-size:18px;
}

.f-22 {
	font-size:22px;
}


.f-bold {
	font-weight:bold;
}
