.box{
	position: relative;
	box-sizing: border-box;
	&.box-border{
		border: solid 1px #e6eaee;
	}
	&.box-rounded{
		border-radius: 4px;
	}
	&.box-white{
		background-color: $c-white;
	}
	&.box-purple{
		background-color: #f0ecf8;
	}
	&::after{
		content:"";
		display: block;
		clear: both;
	}
}

.box-info{
	font-family: $f-circularstd;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #444444;
	padding: 10px 15px;
	@include mq-medium-only{
		font-size: 13px;
	}
}

.box-bottom{
	@include mq-medium-up{
		padding-bottom: 180px;
	}
}
