.button {
	appearance: none;
	outline: none;
	border: none;
	box-shadow: none;
	text-decoration: none;
	width: 160px;
	height: 36px;
	line-height: 36px;
	border-radius: 4px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

.button-primary {
	background: $c-theme-orange-2;
	color: $c-white;
}

.button--secondary {
	color: $c-theme-purple;
	border: 1px solid $c-theme-purple;
}

.button-submit{
	width: 200px;
	height: 40px;
	background-color: $c-theme-purple;
	font-family: CircularStd;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 2em;
	letter-spacing: normal;
	text-align: center;
	color: $c-white;
	transition: all .4s ease;
	border-radius: 4px;
	&:hover{
		background-color: #a98dd9;
	}
	@include mq-medium-only{
		width: 242px;
		height: 48px;
		display: block;
		margin: 0 auto;
		font-size: 15px;
	}
}
