@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.vdp-datepicker.custom-datepicker{
	.vdp-datepicker__calendar header{
		margin-bottom: 35px;
	}
	.vdp-datepicker__calendar{
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
		border-color: #8c67cd;
		border-radius: 3px;
		width: 270px;
		padding: 10px 0;
	}
	&.is-inline{
		.vdp-datepicker__calendar{
			box-shadow: none;
		}
	}
	.vdp-datepicker__calendar .cell.day-header{
		font-size: 10px;
		text-transform: uppercase;
		color: #444444;
	}
	.vdp-datepicker__calendar .cell{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.9em;
		letter-spacing: normal;
		border-radius: 100%;
		border-color: transparent;
		height: 37px;
		border-width: 5px;
		background: transparent;
	}
	.vdp-datepicker__calendar .cell.selected{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.9em;
		letter-spacing: normal;
		border-radius: 100%;
		border-color: $c-white;
		height: 37px;
		border-width: 5px;
		background: #8c67cd;
		color: #ffffff;
	}
	.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.9em;
		letter-spacing: normal;
		border-radius: 100%;
		border-color: $c-white;
		height: 37px;
		border-width: 5px;
		background: #8c67cd;
		color: #ffffff;
		opacity: 0.6;
		transition: all .4s ease;
	}
	.vdp-datepicker__calendar header span{
		font-family: $f-circularstd;
		font-size: 21px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #594f8a;
		transition: all .4s ease;
	}
	.vdp-datepicker__calendar header .up:not(.disabled):hover{
		color: #8c67cd;
		background: transparent;
	}
	.vdp-datepicker__calendar .cell.month, .vdp-datepicker__calendar .cell.year{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 3em;
		letter-spacing: normal;
		border-radius: 100%;
		border-color: transparent;
		height: 50px;
		border-width: 5px;
		background: transparent;
		transition: all .4s ease;
		border: 0;
	}
	.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
	.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 3em;
		letter-spacing: normal;
		border-radius: 100%;
		border-color: transparent;
		height: 50px;
		border-width: 5px;
		background: transparent;
		color: #8c67cd;
		border: 0;
	}
	.vdp-datepicker__calendar .cell.month.selected, .vdp-datepicker__calendar .cell.year.selected{
		background: transparent;
		color: #8c67cd;
		border-radius: 0;
	}
	.vdp-datepicker__calendar .cell.selected:not(.blank):not(.disabled).month:hover,
	.vdp-datepicker__calendar .cell.selected:not(.blank):not(.disabled).year:hover{
		background: transparent;
		border-radius: 0;
		opacity: 0.6;
		color: #8c67cd;
	}
	.vdp-datepicker__calendar .cell.day.weekend, .vdp-datepicker__calendar .cell.day.highlighted{
		color: #ff5e72;
		&.disabled{
			opacity: 0.4;
		}
	}
	.vdp-datepicker__calendar header span.next{
		color: transparent;
		background: url('~/assets/images/calendar-arrow-right.png') center no-repeat / contain;
		height: 17px;
		margin-top: 7px;
		transition: all .4s ease;
		&:hover{
			opacity: 0.6;
		}
		&::after{
			border-color: transparent;
		}
		&.disabled{
			visibility: hidden;
		}
	}
	.vdp-datepicker__calendar header span.prev{
		color: transparent;
		background: url('~/assets/images/calendar-arrow-left.png') center no-repeat / contain;
		height: 17px;
		margin-top: 7px;
		transition: all .4s ease;
		&:hover{
			opacity: 0.6;
		}
		&::after{
			border-color: transparent;
		}
		&.disabled{
			visibility: hidden;
		}
	}
	.vdp-datepicker__calendar-button{
		left: 100%;
		position: absolute;
		background: red;
		height: 100%;
		width: 40px;
		color: transparent;
		margin-right: -11px;
		opacity: 0;
		cursor: pointer;
	}
}

.ps-datepicker{
	padding: 20px 0;
	font-family: $f-circularstd;
	user-select: none;
	background: $c-white;
	&.psdp-multiple, &.psdp-single{
		border: solid 1px #8c67cd;
		border-radius: 3px;
	}
	&.psdp-single{
		width: 284px;
	}
	&.psdp-multiple{
		width: 572px;
		@include mq-medium-only{
			width: 284px !important;
			.dp__single:last-child{
				display: none;
			}
		}
	}
	&.psdp-dropdown{
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
		position: absolute;
		z-index: 1;
	}
	&.psdp-inline + input{
		display: none;
	}
	&.psdp-inline.psdp-double{
		position: relative;
		.dp__single:first-child .dp__btn:last-child{
			visibility: hidden;
			@include mq-medium-only{
				visibility: visible;
			}
		}
		.dp__single:last-child .dp__btn:first-child{
			visibility: hidden;
			@include mq-medium-only{
				visibility: visible;
			}
		}
		&::before{
			content: " ";
			display: block;
			width: 1px;
			height: 100%;
			background: #8c67cd;
			position: absolute;
			top: 0;
			left: 50%;
			@include mq-medium-only{
				display: none;
			}
		}
	}
	.dp__btn{
		cursor: pointer;
		border: none;
		outline: none;
		box-shadow: none;
		font-family: CircularStd;
		font-size: 15px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #8c67cd;
		background: none;
		appearance: none;
		transition: all .4s ease;
		&.is-hidden{
			visibility: hidden;
			@include mq-medium-only{
				visibility: visible;
			}
		}
		&:hover{
			opacity: 0.4;
		}
	}
	.dp__month{
		font-size: 21px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #594f8a;
	}
	.dp__header-cell{
		border: 0;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #444444;
		text-transform: uppercase;
		&:last-child{
			border-right: 0;
		}
	}
	.dp__header-row{
		margin-top: 20px;
	}
	.dp__cell, .dp__cell--inactive{
		width: 40px;
		height: 40px;
		border: 0;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 25px;
		letter-spacing: normal;
		color: #3b3b3b;
		border-radius: 100%;
		border: 8px solid $c-white;
		transition: all .4s ease;
		&.dp__cell--selected{
			background-color: #8c67cd;
			color: $c-white;
		}
		&.dp__cell--holiday{
			color: #ff5e72;
			&.dp__cell--selected{
				color: #FFE2E5;
			}
			&:hover{
				color: #FFE2E5;
			}
		}
		&:last-child{
			border-right: 8px solid $c-white;
		}
		&:hover{
			background-color: #8c67cd;
			animation: hovercalendar .4s ease;
		}
	}
	.dp__cell--inactive{
		background-color: $c-white;
		color: #3b3b3b;
		opacity: 0.4;
		cursor: default;
		animation: inactivehovercalendar .4s ease;
		pointer-events: none;
	}
	.dp__single:not(:first-child){
		margin-left: 10px;
	}
}

.calender-info{
	.vdp-datepicker{
		input{
			position: absolute;
			width: 57px;
			height: 57px;
			margin-left: -40px;
			margin-top: -17px;
			opacity: 0;
		}
		&.custom-datepicker .vdp-datepicker__calendar{
			right: -10px;
			top: 45px;		
		}
	}
}

@keyframes hovercalendar {
	0% {border-color: #fff;}
	20% {border-color: #F5F1FA;}
	100% {border-color: #fff;}
}

@keyframes inactivehovercalendar {
	0% {border-color: #fff;}
	100% {border-color: #fff;}
}