@font-face {
  src: url('~/assets/fonts/circularstd/CircularStd-Medium.otf');
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('~/assets/fonts/circularstd/CircularStd-Book.otf');
  font-family: 'CircularStd';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('~/assets/fonts/circularstd/CircularStd-Book.otf');
  font-family: 'CircularStd';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('~/assets/fonts/circularstd/CircularStd-Bold.otf');
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('~/assets/fonts/nexa/nexa-light.otf');
  font-family: 'Nexa';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('~/assets/fonts/nexa/nexa-bold.otf');
  font-family: 'Nexa';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('~/assets/fonts/nexa/nexa-bold.otf');
  font-family: 'Nexa';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('~/assets/fonts/intro/intro.otf');
  font-family: 'Intro';
  font-weight: 700;
  font-style: normal;
}