.form-input, .form-textarea{
	margin-bottom: 20px;
	h3{
		font-family: $f-circularstd;
		font-size: 22px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #444444;
		margin-bottom: 5px;
		@include mq-medium-only{
			font-size: 14px;
		}
		span{
			font-family: $f-circularstd;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #cccccc;
			@include mq-medium-only{
				font-size: 11px;
			}
		}
	}
	label{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #534d5c;
		display: block;
		margin-bottom: 5px;
		@include mq-medium-only{
			font-size: 13px;
		}
		span{
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #cccccc;
			@include mq-medium-only{
				font-size: 12px;
			}
		}
	}
	&.w-190{
		width: 190px;
		@include mq-medium-only{
			width: 100%;
		}
	}
	&.w-260{
		width: 260px;
		@include mq-medium-only{
			width: 100%;
		}
	}
	&.w-300{
		width: 300px;
		@include mq-medium-only{
			width: 100%;
		}
	}
	&.w-520{
		width: 520px;
		@include mq-medium-only{
			width: 100%;
		}
	}
}

.form-input{
	input[type=text],
	input[type=number],
	input[type=time],
	input[type=email],
	input[type=password],
	input[type=tel]{
		appearance: none;
		outline: 0;
		box-shadow: 0;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #dedede;
		font-family: $f-circularstd;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		padding: 12px 10px;
		width: 100%;
		transition: all .4s ease;
		@include mq-medium-only{
			font-size: 12PX;
		}
		&::placeholder {
			color: #ccc;
		}
		&:hover{
			border-color: #C1C7D0;
		}
		&:focus{
			border-color: #8c67cd;
		}
	}
	.form-prepend{
		position: relative;
		display: table;
		width: 100%;
		.prepend-text{
			display: table-cell;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #cccccc;
			border: solid 1px #dedede;
			border-radius: 3px 0 0 3px;
			text-align: center;
			transition: all .4s ease;
		}
		.prepend-symbol{
			display: table-cell;
			background-color: $c-white;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #333333;
			border: solid 1px #dedede;
			border-radius: 3px 0 0 3px;
			border-width: 1px 0 1px 1px;
			text-align: center;
			transition: all .4s ease;
			text-align: right;
			width: 30px;
			span[class^=icon-]{
				position: absolute;
				top: 7px;
				left: 7px;
				font-size: 21px;
			}
		}
		input{
			display: table-cell;
			width: 100%;
			border-width: 1px 1px 1px 0;
			border-radius: 0 3px 3px 0;
		}
		&:hover{
			.prepend-text, .prepend-symbol, input{
				border-color: #C1C7D0;
			}
		}
		&:focus-within{
			.prepend-text, .prepend-symbol, input{
				border-color: #8c67cd;
				&:hover{
					border-color: #8c67cd;
				}
			}
		}
		&.form-no-divider{
			.prepend-text, .prepend-symbol{
				border-right: 0;
			}
		}
	}
	.form-append{
		position: relative;
		display: table;
		width: 100%;
		.append-text{
			display: table-cell;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #cccccc;
			border: solid 1px #dedede;
			border-radius: 0 3px 3px 0;
			text-align: center;
			transition: all .4s ease;
		}
		.append-symbol{
			display: table-cell;
			background-color: $c-white;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #333333;
			border: solid 1px #dedede;
			border-radius: 0 3px 3px 0;
			border-width: 1px 1px 1px 0;
			text-align: center;
			transition: all .4s ease;
			text-align: left;
			width: 30px;
			span[class^=icon-]{
				position: absolute;
				top: 7px;
				right: 7px;
				font-size: 21px;
			}
		}
		input{
			display: table-cell;
			width: 100%;
			border-width: 1px 0 1px 1px;
			border-radius: 3px 0 0 3px;
		}
		&:hover{
			.append-text, .append-symbol, input{
				border-color: #C1C7D0;
			}
		}
		&:focus-within{
			.append-text, .append-symbol, input{
				border-color: #8c67cd;
				&:hover{
					border-color: #8c67cd;
				}
			}
		}
		&.form-no-divider{
			.append-text, .append-symbol{
				border-left: 0;
			}
		}
	}
	.form-http{
		position: relative;
		span{
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #cccccc;
			position: absolute;
			top: 13px;
			left: 10px;
			pointer-events: none;
		}
		input{
			padding-left: 55px;
		}
	}
	.form-increase-decrease{
		&::after{
			content: " ";
			display: block;
			width: 50px;
			height: calc(100% - 2px);
			position: absolute;
			background: white;
			right: 60px;
			pointer-events: none;
			top: 1px;
		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button,{
			appearance: none;
		}
		input[type=number]::-moz-inner-spin-button,
		input[type=number]::-moz-outer-spin-button,{
			appearance: none;
		}
		input[type=number]{
			appearance: none;
		}
		.increase, .decrease{
			color: #8a72b3;;
			font-size: 25px;
			margin: 0 10px 0;
			cursor: pointer;
			user-select: none;
			transition: all .6s ease;
			@include mq-medium-only{
				font-size: 23px;
			}
			&:hover{
				opacity: 0.6;
			}
		}
	}
}

.form-number-nospin{
	appearance: none;
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button,{
		appearance: none;
	}
	&::-moz-inner-spin-button,
	&::-moz-outer-spin-button,{
		appearance: none;
	}
}

.form-textarea{
	textarea{
		appearance: none;
		outline: 0;
		box-shadow: 0;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #dedede;
		font-family: $f-circularstd;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		padding: 12px 10px;
		width: 100%;
		min-height: 100px;
		resize: vertical;
		transition: all .4s ease;
		@include mq-medium-only{
			font-size: 12PX;
		}
		&::placeholder {
			color: #ccc;
		}
		&:hover{
			border-color: #C1C7D0;
		}
		&:focus{
			border-color: #8c67cd;
		}
	}
}

.form-error{
	font-family: $f-circularstd;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ff5e72;
	margin-top: 5px;
	@include mq-medium-only{
		font-size: 11px;
	}
}

.form-counter{
	position: relative;
	.counter{
		position: absolute;
		right: 10px;
		top: calc(100% - 30px);
		font-family: $f-circularstd;
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #999999;
		pointer-events: none;
		background-color: $c-white;
		padding: 5px 0 0 5px;
	}
}

.form-upload-photos{
	border-radius: 3px;
	border: solid 1px #dedede;
	@include mq-medium-only{
		border: 0;
	}
	ul{
		padding: 20px 25px 0 25px;
		overflow: hidden;
		@include mq-medium-only{
			padding: 10px 0 10px 0;
		}
		li{
			position: relative;
			float: left;
			width: 100px;
			height: 100px;
			border-radius: 3px;
			border: solid 1px #ededed;
			margin-right: 25px;
			margin-bottom: 25px;
			@include mq-medium-only{
				margin-bottom: 0;
			}
			&.upload{
				border-radius: 3px;
				border: dashed 2px #cccccc;
				border-image-source: url('~/assets/images/border-dashed.png');
				border-image-slice: 2;
				border-image-repeat: round;
				border-image: url('~/assets/images/border-dashed.png') 2 round;
				text-align: center;
				// overflow: hidden;
				input{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0;
					background: red;
					cursor: pointer;
				}
				span{
					font-family: $f-circularstd;
					font-size: 11px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1;
					letter-spacing: normal;
					color: #7d6ea9;
					display: inline-block;
					pointer-events: none;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					display: block;
					white-space: nowrap;
					margin-top: 10px;
					@include mq-medium-only{
						font-size: 8px;
					}
					&::before{
						content: $icon-picture;
						font-family: $f-psicon;
						font-size: 15px;
						color: #cccccc;
						pointer-events: none;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						margin-top: -20px;
						@include mq-medium-only{
							font-size: 13px;
						}
					}
				}
			}
			&.image{
				img{
					max-height: 100px;
					max-width: 100px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
				.icon-cancel{
					position: absolute;
					top: -8px;
					right: -11px;
					cursor: pointer;
					font-size: 15px;
					color: #DEDEDE;
					&:hover{
						color: #979797;
					}
				}
			}
		}
	}
	&.columns-4{
		li{
			&:nth-child(4n){
				margin-right: 0;
			}
			@include mq-medium-only{
				width: calc(20vw - 19px);
				height: calc(20vw - 19px);
				margin-right: 10px;
			}
			&.image{
				img{
					@include mq-medium-only{
						max-width: calc(20vw - 19px);
						max-height: calc(20vw - 19px);
					}
				}
			}
		}
	}
	&.columns-5{
		li{
			&:nth-child(5n){
				margin-right: 0;
			}
			@include mq-medium-only{
				width: calc(20vw - 19px);
				height: calc(20vw - 19px);
				margin-right: 10px;
			}
			&.image{
				img{
					@include mq-medium-only{
						max-width: calc(20vw - 19px);
						max-height: calc(20vw - 19px);
					}
				}
			}
		}
	}
}

.form-input{
	.form-checkbox-toggletext{
		display: inline-block;
		position: relative;
		span{
			display: inline-block;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: center;
			color: #8c67cd;
			height: 28px;
			line-height: 28px;
			padding: 0 10px;
			border-radius: 3px;
			background-color: #fafafa;
		}
		input[type=checkbox]{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			cursor: pointer;
			&:checked + span{
				background-color: #8c67cd;
				color: $c-white;
			}
		}
	}
	.form-checkbox-togglecheck{
		display: inline-block;
		position: relative;
		input[type=checkbox]{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			cursor: pointer;
			& + span{
				display: block;
				width: 24px;
				height: 24px;
				background: transparent;
				border: 1px solid #cccccc;
				border-radius: 2px;
				cursor: pointer;
				transition: all 250ms cubic-bezier(.4,.0,.23,1);
			}
			&:checked + span{
				border: 12px solid #8a72b3;
				animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
			}
			&:checked + span:before{
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				border-right: 2px solid transparent;
				border-bottom: 2px solid transparent;
				transform: rotate(45deg);
				border-color: #ffffff;
				transform: translate3d(0px, 9px, 0) rotate(45deg);
				animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
			}
		}
		& + label{
			font-family: $f-circularstd;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.6em;
			letter-spacing: normal;
			color: #444444;
			overflow: hidden;
			padding-left: 15px;
		}
	}
	.form-radio-toggletext{
		display: inline-block;
		position: relative;
		span{
			display: inline-block;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: center;
			color: #8c67cd;
			height: 28px;
			line-height: 28px;
			padding: 0 10px;
			border-radius: 3px;
			background-color: #fafafa;
		}
		input[type=radio]{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			cursor: pointer;
			&:checked + span{
				background-color: #8c67cd;
				color: $c-white;
			}
		}
	}

	$border_color_1: #8c67cd;

	@keyframes "wave" {
		50% {
			transform: scale(0.9);
		}
	}
	.form-checkbox-togglecheck-circle {
		margin: auto;
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
		span {
			display: inline-block;
			vertical-align: middle;
			transform: translate3d(0, 0, 0);
			&:first-child {
				position: relative;
				width: 20px;
				height: 20px;
				border-radius: 30px;
				transform: scale(1);
				vertical-align: middle;
				border: 2px solid #d4d3d6;
				transition: all 0.2s ease;
				svg {
					position: absolute;
					top: 3px;
					left: 2px;
					fill: none;
					stroke: #FFFFFF;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-dasharray: 16px;
					stroke-dashoffset: 16px;
					transition: all 0.3s ease;
					transition-delay: 0.1s;
					transform: translate3d(0, 0, 0);
				}
				&:before {
					content: "";
					width: 100%;
					height: 100%;
					background: #8c67cd;
					display: block;
					transform: scale(0);
					opacity: 1;
					border-radius: 50%;
				}
			}
			&:last-child {
				padding-left: 20px;
				font-size:13px;
			}
		}
		&:hover {
			span {
				&:first-child {
					border-color: $border_color_1;
				}
			}
		}
	}

	.input-checkbox {
		&:checked {
			&+.form-checkbox-togglecheck-circle {
				span {
					&:first-child {
						background: #8c67cd;
						border-color: $border_color_1;
						animation: wave 0.4s ease;
						svg {
							stroke-dashoffset: 0;
						}
						&:before {
							transform: scale(3.5);
							opacity: 0;
							transition: all 0.6s ease;
						}
					}
				}
			}
		}
	}

}

.form-radio{
		display: inline-block;
		position: relative;
		input[type=radio]{
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			opacity: 0;
			cursor: pointer;
			background-color: red;
			& + span{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				background: transparent;
				border: 1px solid #cccccc;
				border-radius: 100%;
				&::after{
					content: " ";
					display: block;
					width: 0;
					height: 0;
					background-color: #8a72b3;
					position: absolute;
					top: 50%;
					left: 50%;
					border-radius: 100%;
					transform: translate(-50%,-50%);
					transition: all .2s ease;
				}
			}
			&:checked + span::after{
				width: 12px;
				height: 12px;
			}
		}
}

.form-selectoption{
	position: relative;
	border-radius: 3px;
	transition: border .4s ease;
	cursor: pointer;
	background-color: $c-white;
	border: solid 1px #dfe1e5;
	.headtitle{
		display: none;
		height: 60px;
		line-height: 60px;
		background-color: #ffffff;
		border-bottom: solid 1px #ededed;
		font-family: $f-circularstd;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;
		text-align: center;
		color: #534d5c;
		position: relative;
		span[class^=icon]{
			position: absolute;
			position: absolute;
			left: 9px;
			font-size: 27px;
			color: #8c67cd;
		}
	}
	.selected{
		padding: 11px 12px 12px;
		span{
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #444444;
			user-select: none;
			@include mq-medium-only{
				font-size: 12px;
			}
		}
	}
	.options{
		display: none;
		position: absolute;
		background-color: $c-white;
		width: calc(100% + 2px);
		border: solid 1px ;
		border-color: #dfe1e5 #a398bf #a398bf #a398bf;
		border-radius: 0 0 3px 3px;
		margin-top: -1px;
		margin-left: -1px;
		z-index: 1;
		max-height: 140px;
		overflow-y: scroll;
		li{
			padding: 10px 12px;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #666666;
			user-select: none;
			position: relative;
			@include mq-medium-only{
				font-size: 12px;
			}
			&.placeholder{
				color: #cccccc;
				&:hover{
					background-color: transparent;
					cursor: default;
				}
			}
			&:hover{
				background-color: #f4f5f8;
			}
		}
	}
	&::before{
		content: $icon-arrow-down;
		font-family: $f-psicon;
		position: absolute;
		background: transparent;
		font-size: 15px;
		padding: 13px;
		top: 0;
		right: 0;
		border-left: 1px solid #dfe1e5;
		color: #8c67cd;
		border-radius: 0 3px 3px 0;
		@include mq-medium-only{
			padding: 12px;
		}
	}
	&:hover{
		border-color: #C1C7D0;
	}
	&.is-open{
		background-color: #f4f5f8;
		border: solid 1px #a398bf;
		.options{
			display: block;
		}
		&::before{
			content: $icon-arrow-up;
			background: #f4f5f8;
			border-left: 1px solid #f4f5f8;
		}
	}
	input{
		display: none;
	}
	&.form-native{
		height: 42px;
		select{
			appeareance: none;
			-webkit-appearance: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
			background: none;
			box-shadow: none;
			outline: none;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #a9a6ad;
			padding-left: 15px;
			padding-right: 50px;
			cursor: pointer;
		}
	}
	&.form-custom.is-open{
		@include mq-medium-only{
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw !important;
			height: 100vh !important;
			margin: 0 !important;
			z-index: 99;
			border: 0;
			border-radius: 0;
			.headtitle{
				display: block;
			}
			.selected{
				display: none;
			}
			.options{
				border-radius: 0;
				border: 0;
				margin-top: 0;
				overflow: scroll;
				max-height: calc(100vh - 60px);
				li{
					padding: 15px 20px;
					border-bottom: solid 1px #ebecf0;
					font-size: 14px;
					&.is-checked::before{
						content: $icon-checked;
						font-family: $f-psicon;
						position: absolute;
						right: 15px;
						font-size: 27px;
						top: 9px;
						color: #6f41c0;
					}
				}
			}
			.placeholder{
				display: none;
			}
			&::before{
				display: none;
			}
		}
	}
}

@keyframes shrink-bounce{
	0%{
		transform: scale(1);
	}
	33%{
		transform: scale(.85);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes checkbox-check{
	0%{
		width: 0;
		height: 0;
		transform: translate3d(0px, 9px, 0) rotate(45deg);
	}
	33%{
		width: 7px;
		height: 0;
		transform: translate3d(0px, 9px, 0) rotate(45deg);
	}
	100%{
		width: 7px;
		height: 14px;
		transform: translate3d(4px, -2px, 0) rotate(45deg);
	}
}
