/* Custom Grid */

.gridspan > * {
  box-sizing: border-box;
}

$gridspan_padding: 10px;

.gridspan {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

[class*='gridcol-'] {
    float: left;
    padding-right: $gridspan_padding;
    &:last-of-type {
        padding-right: 0;
    }
}
.gridcol-1-1 {
    width: 100%;
}
.gridcol-2-3 {
    width: 66.66%;
}
.gridcol-1-3 {
    width: 33.33%;
}
.gridcol-1-2 {
    width: 50%;
}
.gridcol-1-4 {
    width: 25%;
}
.gridcol-1-5 {
    width: 20%;
}
.gridcol-1-8 {
    width: 12.5%;
}
.gridcol-3-4 {
    width: 75%;
}

/* Opt-in outside padding */
.gridspan-padding {
    padding: $gridspan_padding 0 $gridspan_padding $gridspan_padding;
    &.no-padding{
        padding: 0 0 0 $gridspan_padding;
    }
    [class*='gridcol-']:last-of-type {
        padding-right: $gridspan_padding;
    }
}

@include mq-medium-only{
	.gridcol-1-2.gridcol-1-2-medium-1-1{
		width: 100%;
		padding-right: 0;
	}
	.gridcol-1-3.gridcol-1-3-medium-1-1{
		width: 100%;
	}
	.gridcol-1-1.gridcol-1-1-medium-1-2{
		width: 50%;
	}
  .gridcol-1-4.gridcol-1-4-medium-1-1{
    width: 100%;
  }
  .gridcol-1-4.gridcol-1-4-medium-1-2{
    width: 50%;
  }
  .gridcol-1-4.gridcol-1-4-medium-1-1{
    width: 100%;
  }
  .gridcol-1-4.gridcol-1-4-medium-1-3{
    width: 33.33%;
  }
  .gridcol-3-4.gridcol-3-4-medium-1-2{
    width: 50%;
  }
  .gridcol-3-4.gridcol-3-4-medium-1-1{
    width: 100%;
  }
  .gridcol-3-4.gridcol-3-4-medium-2-3{
    width: 66.66%;
  }
  .gridcol-1-3.gridcol-1-3-medium-1-2{
    width: 50%;
  }
  .gridcol-2-3.gridcol-1-3-medium-1-2{
    width: 50%;
  }
  .gridcol-2-3.gridcol-2-3-medium-1-1{
    width: 100%;
  }
  .gridcol-2-3.gridcol-2-3-medium-1-2{
    width: 50%;
  }

  .gridcol-1-3.gridcol-1-3-medium-1-1{
    width: 100%;
  }
  .gridcol-2-3.gridcol-1-3-medium-1-1{
    width: 100%;
  }
}
