@font-face {
	font-family: 'psicon';
	src: url('../fonts/psicons/psicon.eot?44871648');
	src: url('../fonts/psicons/psicon.eot?44871648#iefix') format('embedded-opentype'),
			 url('../fonts/psicons/psicon.woff2?44871648') format('woff2'),
			 url('../fonts/psicons/psicon.woff?44871648') format('woff'),
			 url('../fonts/psicons/psicon.ttf?44871648') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'psicon';
		src: url('../font/psicon.svg?44871648#psicon') format('svg');
	}
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "psicon";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-arrow-up:before { content: '\e805'; } /* '' */
.icon-arrow-right:before { content: '\e806'; } /* '' */
.icon-arrow-down:before { content: '\e807'; } /* '' */
.icon-arrow-left:before { content: '\e808'; } /* '' */
.icon-message:before { content: '\e809'; } /* '' */
.icon-notification:before { content: '\e80a'; } /* '' */
.icon-schedule:before { content: '\e80b'; } /* '' */
.icon-chart:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-profile:before { content: '\e80e'; } /* '' */
.icon-revenue:before { content: '\e80f'; } /* '' */
.icon-review:before { content: '\e810'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-delete:before { content: '\e812'; } /* '' */
.icon-edit:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-parent-kid:before { content: '\e816'; } /* '' */
.icon-alert-icon-error:before { content: '\e817'; } /* '' */
.icon-alert-icon-success:before { content: '\e818'; } /* '' */
.icon-alert-icon-warning:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-back:before { content: '\e81b'; } /* '' */
.icon-checked:before { content: '\e81c'; } /* '' */
.icon-gear:before { content: '\e81d'; } /* '' */
.icon-info:before { content: '\e81e'; } /* '' */
.icon-review-unactive:before { content: '\e81f'; } /* '' */
.icon-bookings-unactive:before { content: '\e820'; } /* '' */
.icon-chat-unactive:before { content: '\e821'; } /* '' */
.icon-filter-unactive:before { content: '\e822'; } /* '' */
.icon-list-unactive:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-favorites:before { content: '\e825'; } /* '' */
.icon-menu-bookings:before { content: '\e826'; } /* '' */
.icon-menu-favorites:before { content: '\e827'; } /* '' */
.icon-menu-profile:before { content: '\e828'; } /* '' */
.icon-menu-settings:before { content: '\e829'; } /* '' */
.icon-menu-subscription:before { content: '\e82a'; } /* '' */
.icon-menu-transaction-history:before { content: '\e82b'; } /* '' */
.icon-filter-item:before { content: '\e82c'; } /* '' */
.icon-search-doc:before { content: '\e82d'; } /* '' */
.icon-easy-bookings:before { content: '\e82e'; } /* '' */
.icon-chat:before { content: '\e82f'; } /* '' */
.icon-paperless:before { content: '\e830'; } /* '' */
.icon-bold-star:before { content: '\e831'; } /* '' */
.icon-calendar-12:before { content: '\e832'; } /* '' */
.icon-location:before { content: '\e833'; } /* '' */
.icon-mail:before { content: '\e834'; } /* '' */
.icon-whatsapp:before { content: '\e835'; } /* '' */
.icon-providers:before { content: '\e836'; } /* '' */
.icon-time:before { content: '\e837'; } /* '' */
.icon-activities:before { content: '\e838'; } /* '' */