.wrapper {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	&.wrapper--landing{
		width: 1130px;
	}
	@include mq-mediumlarge-up{
		width: 1000px;
	}
	@include mq-medium-only{
		width: 100%;
	}
}

// DASHBOARD PARENT
.parent-dashboard {
	padding:30px 0 240px 0;
	@include mq-medium-only {
		padding:15px 0 0px 0;
	}
}

// DASHBOARD PARTNER
.dashboard{
	padding-top: 80px;
	padding-bottom: 100px;
	@include mq-medium-only{
		padding-top: 70px;
		padding-bottom: 8px;
	}
	.dashboard-sidebar{
		float: left;
		width: 210px;
		position: fixed;
		@include mq-medium-only{
			display: none;
		}
	}
	.dashboard-container{
		// overflow: hidden;
		padding-left: calc(20px + 210px);
		padding-bottom: 60px;
		@include mq-medium-only{
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

// DASHBOARD BUTTONS BOTTOM
.dashboard-buttons-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $c-white;
	padding: 12px 0;
	border-top: 1px solid #e6eaee;
	z-index: 1;
	transition: background .4s ease;
	@include mq-medium-only{
		padding: 20px 25px 20px;
		&.is-bottom{
			border-top: 0;
			padding: 0 25px 35px;
			background: transparent;
		}
	}
	.buttons{
		float: right;
		@include mq-medium-only{
			float: none;
		}
		.button-draft, .button-submit{
			float: left;
			appearance: none;
			outline: none;
			box-shadow: none;
			border: none;
			cursor: pointer;
			transition: all .4s ease;
		}
		.button-draft{
			width: 160px;
			height: 36px;
			border-radius: 4px;
			border: solid 1px #8c67cd;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.85;
			letter-spacing: normal;
			text-align: center;
			color: #8c67cd;
			background: $c-white;
			@include mq-medium-only{
				width: calc(50% - 5px);
				margin-right: 5px;
				font-size: 15px;
				height: 48px;
				line-height: 48px;
			}
			&:hover{
				color: #a98dd9;
				border-color: #a98dd9;
			}
		}
		.button-submit{
			margin-left: 15px;
			width: 160px;
			height: 36px;
			border-radius: 3px;
			background-color: #8c67cd;
			font-family: $f-circularstd;
			font-size: 13px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: $c-white;
			@include mq-medium-only{
				width: calc(50% - 5px);
				margin-top: 0;
				margin-left: 5px;
				font-size: 15px;
				height: 48px;
				line-height: 48px;
			}
			&:hover{
				background-color: #a98dd9;
			}
		}
	}
}

.dashboard .dashboard-with-button{
	padding-bottom: 60px;
	@include mq-medium-only{
		padding-bottom: 100px;
	}
}

// SHOW HIDE DESKTOP/MOBILE
.is-desktop{
	@include mq-medium-only{
		display: none;
	}
	@include mq-medium-up{
		display: block;
	}
}
.is-mobile{
	@include mq-medium-only{
		display: block;
	}
	@include mq-medium-up{
		display: none;
	}
}
span.is-desktop{
	@include mq-medium-only{
		display: none;
	}
	@include mq-medium-up{
		display: inline-block;
	}
}
span.is-mobile{
	@include mq-medium-only{
		display: inline-block;
	}
	@include mq-medium-up{
		display: none;
	}
}


// Pop Up Layout

.popup-base-layer {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.85);
	z-index:9999;
	.modal-box {
		height: auto;
		background-color:#fff;
		padding:40px 100px 40px 100px;
		width:480px;
		margin:0vh auto 0 auto;
		position:relative;
		border-radius:4px;
		border: solid 1px #e2e2e2;

		@include mq-medium-only{ 
			width:100%;
			height:100vh;
			padding: 40px 20px 40px 20px;
		}

		.modal-title {
			font-size:22px;
			color:#444;
			font-weight:bold;
			text-align:center;
			margin-bottom:40px;
		}
		.modal-close {
			display:block;
			position:absolute;
			right:20px;
			top:20px;
			color:#6f41c0;
			font-size:18px;
			font-weight:bold;
			cursor:pointer;
			&:before {
				font-weight:bold;
			}
		}
	}
}
