/* MEDIA QUERIES */

@mixin mq-medium-only {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin mq-small-up {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin mq-medium-up {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin mq-mediumlarge-up {
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    @content;
  }
}

@mixin mq-medium-tab {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mq-medium {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mq-small-only {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin mq-large-tab {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin mq-small-notebook {
  @media only screen and (max-height: 750px) {
    @content;
  }
}

@mixin mq-landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

/* FONTS */

@mixin font_circularstd {
  font-family: "CircularStd", sans-serif;
  font-weight: 500;
}

@mixin font_circularstd_bold {
  font-family: "CircularStd", sans-serif;
  font-weight: 700;
}

@mixin font_circularstd_light {
  font-family: "CircularStd", sans-serif;
  font-weight: 300;
}
