.modal,
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.modal {
  pointer-events: none;

  * {
    pointer-events: auto;
  }
}

.modal-backdrop {
  transition: all .5s ease;
  background-color: #000;
  opacity: .4;
}

.popup-box {
  position: absolute;
  z-index: 1000;
  top: 50vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2px;
  transform: translateY(-50%);
  max-height: 100%;
  background: $c-white;
  border: solid 1px #ededed;
  border-radius: 4px;
  transition: all .2s linear;
  margin-top: 0;

  &.w-300 {
    width: 300px;
  }

  &.w-500 {
    width: 500px;
  }

  &.w-600 {
    width: 600px;
  }

  &.w-680 {
    width: 680px;
  }

  @include mq-medium-only {
    width: 100vw !important;
    height: 100vh !important;
    top: 0;
    transform: translate(0);
    border-radius: 0;
    overflow: hidden;
  }
}

.popup-header {
  position: relative;
  padding: 12px;

  h3 {
    font-family: $f-circularstd;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #444444;

    @include mq-medium-only {
      text-align: center;
    }
  }

  .icon-close {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 0px;
    color: #6f41c0;
    font-size: 24px;
    transition: all .4s ease;

    @include mq-medium-only {
      color: #6f41c0;
    }
  }

  @include mq-medium-only {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $c-white;
    z-index: 2;
  }
}

.popup-footer {
  background-color: #fafafa;
  padding: 10px 10px;
  overflow: hidden;

  @include mq-medium-only {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
  }

  .btn-right {
    appearance: none;
    outline: none;
    border: none;
    padding: 0 30px;
    height: 40px;
    border-radius: 4px;
    background-color: #8c67cd;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $c-white;
    float: right;
    cursor: pointer;
    transition: all .4s ease;

    &.btn-alt {
      background-color: #fe9139;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.popup-content {
  @include mq-medium-only {
    padding-top: 45px;
    overflow-y: scroll;
    height: 100vh;
  }
}

.popup-long-content {
  overflow: auto;
  max-height: calc(100vh - 130px);

  @include mq-medium-only {
    max-height: 100vh;
    padding-bottom: 65px;
  }
}

.is-modal-open {
  overflow: hidden;
}

.fade-enter,
.fade-leave-to {
  .popup-box {
    opacity: 0;
    margin-top: 15px;
  }

  .modal-backdrop {
    opacity: 0;
  }
}
