.is-contain-tooltip{
	position: relative;
	.tooltip{
		position: absolute;
		transform: translateX(-50%);
		top: 100%;
		left: 50%;
		padding: 5px 10px;
		border-radius: 2px;
		background-color: #444444;
		font-family: $f-circularstd;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		user-select: none;
		opacity: 0;
		transition: all .4s ease;
		&::after {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(68, 68, 68, 0);
			border-bottom-color: #444;
			border-width: 3px;
			margin-left: -3px;
		}
		&.tooltip-bottom{
			top: 100%;
			left: 50%;
			&::after {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(68, 68, 68, 0);
				border-bottom-color: #444;
				border-width: 3px;
				margin-left: -3px;
			}
		}
	}
	&:hover .tooltip{
		opacity: 1;
		transition-delay: 1s;
	}
}
