/* COLOURS VARIABLES ($c-) */
// Black
$c-black: #000000;
$c-darkergray: #444444;
$c-darkgray: #515656;
$c-lightgray: #666;
$c-lightergray: #b2b2b2;
$c-gray: #DEDEDE;
$c-medgray: #534d5c;
$c-lightergray: #a9a6ad;
// White
$c-white: #ffffff;
$c-whitepurple: #f4f5f8;
// Orange
$c-theme-orange: #f8a431;
$c-theme-orange-2: #fe9139;
// Purple
$c-theme-purple: #8c67cd;
$c-theme-purple-dark: #6038A6;
// Red
$c-rederror : #ff5e72;


/* FONTS ($f-) */
$f-circularstd: 'CircularStd', sans-serif;
$f-psicon: 'psicon';
$f-nexa: 'Nexa';
$f-intro: 'Intro', sans-serif;


/* ICONS */
$icon-twitter: '\e800';
$icon-facebook: '\e801';
$icon-instagram: '\e802';
$icon-close: '\e803';
$icon-cancel: '\e804';
$icon-arrow-up: '\e805';
$icon-arrow-right: '\e806';
$icon-arrow-down: '\e807';
$icon-arrow-left: '\e808';
$icon-message: '\e809';
$icon-notification: '\e80a';
$icon-schedule: '\e80b';
$icon-chart: '\e80c';
$icon-home: '\e80d';
$icon-profile: '\e80e';
$icon-revenue: '\e80f';
$icon-review: '\e810';
$icon-picture: '\e811';
$icon-delete: '\e812';
$icon-edit: '\e813';
$icon-calendar: '\e814';
$icon-tag: '\e815';
$icon-parent-kid: '\e816';
$icon-alert-icon-error: '\e817';
$icon-alert-icon-success: '\e818';
$icon-alert-icon-warning: '\e819';
$icon-search: '\e81a';
$icon-back: '\e81b';
$icon-checked: '\e81c';
$icon-gear: '\e81d';
$icon-info: '\e81e';
$icon-review-unactive: '\e81f';
$icon-bookings-unactive: '\e820';
$icon-chat-unactive: '\e821';
$icon-filter-unactive: '\e822';
$icon-list-unactive: '\e823';
$icon-share: '\e824';
$icon-favorites: '\e825';
$icon-menu-bookings: '\e826';
$icon-menu-favorites: '\e827';
$icon-menu-profile: '\e828';
$icon-menu-settings: '\e829';
$icon-menu-subscription: '\e82a';
$icon-menu-transaction-history: '\e82b';
$icon-filter-item: '\e82c';
$icon-search-doc: '\e82d';
$icon-easy-bookings: '\e82e';
$icon-chat: '\e82f';
$icon-paperless: '\e830';
$icon-bold-star: '\e831';
$icon-calendar-12: '\e832';
$icon-location: '\e833';
$icon-mail: '\e834';
$icon-whatsapp: '\e835';
$icon-providers: '\e836';
$icon-time: '\e837';
$icon-activities: '\e838';