@import './_variables.scss';
@import './_mixins.scss';
@import './_icons.scss';
@import './_fonts.scss';
@import './_layout.scss';
@import './_box.scss';
@import './_forms.scss';
@import './_datepicker.scss';
@import './_buttons.scss';
@import './_tooltip.scss';
@import './_modal.scss';
@import './_grid.scss';
@import './_atomic.scss';

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $f-circularstd;
	position: relative;
	min-height: 100%;
	overflow: auto;
}

/* COMMON PAGE LAYOUT */
.app{
	padding-top: 60px;
}

/* DASHBOARD PAGE LAYOUT */
.body-partner{
	background-color: $c-whitepurple;
}

.body-parent{
	background-color: $c-whitepurple;
}

