<template>
	<div class="popup-base-layer">
		<div class="modal-box add-child">
			<form @submit.prevent="onClickSave">
				<h3 class="modal-title">Child's Info</h3>
				<span class="modal-close icon-close" @click="$emit('close')"></span>
				<label for="child_name">Child Name</label>
				<input id="child_name" class="input-text input-block" type="text" name="child_name" v-model="child.name" />
				<div class="form-input mt-20">
					<label>Date of Birth</label>
					<div class="form-append">
						<datepicker class="custom-datepicker"
							name="date"
							:monday-first="true"
							:full-month-name="true"
							v-model="child.birthday"
							/>
						<div class="append-text datepicker-icon">
							<img src="~/assets/images/class-calendar.png" />
						</div>
					</div>
				</div>
				<div class="form-input mt-20">
					<label>Gender</label>
					<ul>
						<li>
							<label class="form-radio left">
								<input type="radio" id="gender_male" name="gender" value="male" checked v-model="child.gender" />
								<span class="check"></span>
							</label>
							<label class="pl-30 pt-5" for="gender_male">Male</label>
						</li>
						<li>
							<label class="form-radio left">
								<input type="radio" id="gender_female" name="gender" value="female" v-model="child.gender" />
								<span class="check"></span>
							</label>
							<label class="pl-30" for="gender_female">Female</label>
						</li>
					</ul>
				</div>
				<button class="button button-block mt-40 save-button"
					:class="{ 'is-not-active' : !buttonIsEnabled }"
					:disabled="!buttonIsEnabled">
					Save
				</button>
				<button v-if="editing" class="button button-block mt-40 delete-button" type="button" @click="$emit('delete', child)">
					Delete
				</button>
			</form>
		</div>
	</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'

export default {
	name: "PopupAddChild",
	components: {
		Datepicker
	},
	data() {
		return {
		}
	},
	props: {
		child: {
			type: Object,
			default() {
				return {
					name: '',
					dob: new Date(2017, 0, 1),
					gender: 'male',
					birthday: '2017-01-01',
					status: true
				}
			}
		},
		editing: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		buttonIsEnabled() {
			return this.child.name.length > 0
		},
		birthday() {
			return this.$moment(this.child.birthday).format('YYYY-MM-DD')
		}
	},
	methods: {
		onClickSave() {
			this.child.birthday = this.birthday
			this.$emit('save', this.editing ? null : this.child)
		}
	}
};
</script>

<style lang="scss" scoped src="./style.scss" />

