@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.add-child {
	label {
		display:block;
		margin-bottom:5px;
		color:#534d5c;
		font-size:14px;
		font-weight:bold;
	}
	li {
		display:inline-block;
		line-height:25px;
		margin-right:40px;
	}
}

.button {
	background-color: #faa61a;

	&.is-not-active {
		background-color: #ebecf0;
	}
}

.delete-button {
	background-color: #fafafa;
	margin-top: 8px;
	color: #fe9139;
}