<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box w-300 success-review-popup">
				<div class="popup-header">
					<h3 class="center"></h3>
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content ">
					<img src="~/assets/images/parent/success-review.png" />
					<p class="mt-20 mb-30 f-16 text-dark-gray center">{{$t('popup.success_review.thanks')}}</p>
					<button @click="closePopup" class="button orange button-block">{{$t('popup.success_review.ok')}}</button>
				</div>
			</div>
		</div>
	</div>

</template>
<script>
export default {
	// Do not forget to change the "DefaultPopup" name
	name: "PopupSuccessReview",
	data(){
		return {
			page: 1,
			showPopupSuccessReview: false
		}
	},
	methods: {
		closePopup(){
			this.$emit("close")
			document.body.classList.remove('is-modal-open');
		}
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

