@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.success-review-popup{
	.popup-content {
		padding:30px;
	}
	
	img {
		width:110px;
		display:block;
		margin:auto;
	}

	.popup-header {
		border-bottom:none;
	}
}