<template>
	<div class="login-menu" v-on-clickaway="close">
		<profile-menu
				:account="account"
				:is-open="isProfileMenuOpen"
				@click="toggleProfileMenu"
				/>
		<!-- <app-badge name="notification"
				:badge-number="100"
				:dropdown-title="$t('header.notification')"
				:hover-text="$t('header.notification')"
				:is-open="isNotificationMenuOpen"
				:items="notifItems"
				@click="toggleNotificationMenu"
				/>
		<app-badge name="message"
				:badge-number="9"
				:dropdown-title="$t('header.chat')"
				:hover-text="$t('header.chat')"
				:is-open="isChatMenuOpen"
				:items="messageItems"
				@click="toggleChatMenu"
				/> -->
		<app-badge name="empty"/>

		<!-- Partner Login & Sign up Button

			<a class="inline mt-20 text-purple">Sign Up</a>
			<button class="button button-md orange mt-10 ml-20" @click="openPopupLogin">Login</button>

		-->
	</div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';

import AppBadge from '../badge/index.vue';
import ProfileMenu from '../profile-menu/index.vue';

export default {
	name: "HeaderMenu",
	components: {
		AppBadge, ProfileMenu
	},
	mixins: [ clickaway ],
	data() {
		return {
			isNotificationMenuOpen: false,
			isChatMenuOpen: false,
			isProfileMenuOpen: false,
			notifItems: [
				{
					message: 'You have received a promo code<br />Check them now!',
					datetime: 'May 23, 2018 12:00',
					read: false
				},
				{
					message: 'Example unread one line',
					datetime: 'May 23, 2018 12:00',
					read: false
				},
				{
					message: 'Example read two lines<br />Lorem ipsum',
					datetime: 'May 23, 2018 12:00',
					read: true
				},
				{
					message: 'Example read three lines<br />Lorem ipsum<br />Sit dolor ismet',
					datetime: 'May 23, 2018 12:00',
					read: true
				}
			],
			messageItems: [
				{
					initial: 'AA',
					sender: 'Aiden Aisyah',
					message: 'Hi mas, untuk lokasi activity apakah ada perubahan kah?',
					datetime: 'May 23, 2018 12:00',
					read: true
				},
				{
					initial: 'SBY',
					sender: 'Susilo Bambang Yudhoyono',
					message: 'Hi mas, ini contoh message unread dan nama saya panjang',
					datetime: 'May 23, 2018 12:00',
					read: false
				},
				{
					initial: 'J',
					sender: 'Jokowi',
					message: 'Hi mas, ini contoh message sudah dibaca dan notifikasi pesannya panjang. Lorem ipsum sit dolor ismet',
					datetime: 'May 23, 2018 12:00',
					read: true
				}
			]
		}
	},
	props: {
		account: {
			type: Object,
			required: true
		},
		unreadNotification: {
			type: Number,
			default: 0
		},
		unreadMessage: {
			type: Number,
			default: 0
		}
	},
	computed: {
		unreadNotificationText() {
			return this.unreadNotification >= 99 ? '99' : this.unreadNotification;
		},
		unreadMessageText() {
			return this.unreadMessage >= 99 ? '99' : this.unreadMessage;
		}
	},
	methods: {
		toggleNotificationMenu() {
			this.isNotificationMenuOpen = !this.isNotificationMenuOpen;
			this.isChatMenuOpen = false;
			this.isProfileMenuOpen = false;
		},
		toggleChatMenu() {
			this.isNotificationMenuOpen = false;
			this.isChatMenuOpen = !this.isChatMenuOpen;
			this.isProfileMenuOpen = false;
		},
		toggleProfileMenu() {
			this.isNotificationMenuOpen = false;
			this.isChatMenuOpen = false;
			this.isProfileMenuOpen = !this.isProfileMenuOpen;
		},
		close() {
			this.isNotificationMenuOpen = false;
			this.isChatMenuOpen = false;
			this.isProfileMenuOpen = false;
		}
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
