<template>
	<form @submit.prevent="saveProfile()" class="profile-form form">
        <div class="input-group">
            <h3 class="input-group-title">{{$t('parent.profile.general_info')}}</h3>
            <div class="input-list">

	            <div class="form-input">
	                <label>{{$t('parent.profile.email')}}</label>
	                <input type="email" v-model="account.email" name="email" placeholder="example@example.com" readonly class="input-text mb-5">
            	</div>

            	<div class="form-input">
	                <label>{{$t('parent.profile.name.label')}}</label>
	                <input type="text" v-model="profileData.name" name="name" class="input-text mb-5">
					<input-error :isVisible="showErrorName" :text="$t('parent.profile.name.error')" />
				</div>

				<div class="form-input">
	                <label>{{$t('parent.profile.phone.label')}}</label>
	                <div class="form-prepend">
						<div class="prepend-text">+62</div>
						<input type="tel" v-model="profileData.phoneNumber" name="phone" placeholder="" class="input-text telp" />
					</div>
					<input-error :isVisible="showErrorPhone" :text="$t('parent.profile.phone.error')" />
				</div>
				
            </div>
        </div>
		 <div class="input-group">
            <h3 class="input-group-title">{{$t('parent.profile.child_info')}}</h3>
            <div class="input-list child-info">

                <div v-for="child in profileData.child" :key="child.id" class="name-list">
                    <div class="inline">
                        <span class="name">{{child.name}}</span>
                        <span class="age">{{showAge(child.birthday)}}</span>
                    </div>
                    <span @click="openPopupAddChild(true,child)" class="edit">{{$t('parent.profile.edit')}}</span>
                </div>
                <a @click="openPopupAddChild()" class="button purple button-md block mb-10"> + {{$t('parent.profile.add_child')}}
                </a> <br>
				<button class="button purple button-md mt-10">{{$t('parent.profile.save')}}</button>
            </div>
        </div>
		<transition name="fade">
			<PopupAddChild v-if="showPopupAddChild" :child="editedChild" :editing="isEditingChild" @save="saveChild" @delete="deleteChild" @close="closePopupAddChild"/>
		</transition>
	</form>
</template>

<script>
import accountAPI from '@/api/account'
import parentAPI from '@/api/parent'
import { showAge, showSuccessAlert, showErrorAlert } from '~/plugins/helpers'
import InputError from '~/components/form/input-error/index.vue'
import PopupAddChild from "~/components/popup/add-child/index.vue"

export default {
	layout: "ParentDashboard",
	middleware: ["authenticated", 'verifiedParent'],
	components:{
		PopupAddChild,
		InputError
	},
	data(){
		let account = this.$store.state.account.account
		return {
			isEditingChild: false,
			editedChild: undefined,
			showPopupAddChild: false,
			profileData:{
				name: account.name,
				phoneNumber: this.getPhone(account.account_contact),
				child: account.accountable.children
			},
			isSubmitted: false
		}
	},
	computed: {
		account(){
			return this.$store.state.account.account
		},
		showErrorName(){
			return this.isSubmitted && this.profileData.name.length == 0
		},
		showErrorPhone(){
			return this.isSubmitted && this.profileData.phoneNumber.length == 0
		}
	},
	methods: {
		getPhone(contact){
			var phone = contact.find(x => x.contact_type_id == 1)
			if (phone)
				return phone.value.replace("+62","")
			return null
		},
		showAge(birthday){
			return showAge(birthday)
		},
		openPopupAddChild(editing=false,editedChild=undefined){
			this.editedChild = editedChild
			this.isEditingChild = editing
			this.showPopupAddChild = true
		},
		saveChild(child){
			if (!this.isEditingChild)
				this.profileData.child.push(child)
			this.closePopupAddChild()
		},
		saveProfile(){
			this.isSubmitted = true
			if (this.validateData()){
				this.isSubmitted=false
				this.profileData.phone = "+62" + this.profileData.phoneNumber
				let parentApi = new parentAPI(this.$axios)
				return parentApi.updateParent(this.profileData).then((response)=>{
					showSuccessAlert(this, this.$t('parent.profile.success_alert'),true)
					this.$store.dispatch('setAccount',response.data.data)
				},(error)=>{
					showErrorAlert(this, this.$t('general.error'),true)
				})

			}
			this.closePopupAddChild()
		},
		validateData(){
			return this.profileData.name.length && this.profileData.phoneNumber.length
		},
		deleteChild(child){
			let index = this.profileData.child.indexOf(child)
			this.profileData.child.splice(index,1)
			this.closePopupAddChild()
		},
		closePopupAddChild(){
			this.showPopupAddChild = false
		},
	},
	async fetch({ store,$axios}){
		let accountApi = new accountAPI($axios)
		let account = await accountApi.getProfile()
		return store.dispatch('setAccount',account.data.data)
	}
}
</script>

<style lang="scss" src="./style.scss" scoped></style>
