@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.profile-form {
    margin-bottom:40px;
    background-color:#fff;
    padding:35px;
    border-radius:4px;
    .input-group {
        overflow:hidden;
        margin-bottom:15px;
        .input-group-title {
            width:21%;
            float:left;
            @include mq-medium-only {
                width:100%;
                float:none;
                margin-bottom:15px;
            }
        }
        .input-list {
            width:75%;
            float:left;
            padding-left:4%;
            @include mq-medium-only {
                float:none;
                padding-left:0%;
                width:100%;
            }
        }
        label {
            display:block;
            margin-bottom:5px;
            font-size:14px;
            color:#444;
        }
        .input-text {
            width:70%;
            &.telp {
                width:66%;
                @include mq-medium-only {
                    width:100%;
                }
            }
            @include mq-medium-only {
                width:100%;
            }
        }
        .child-info {
            .button-md {
                width:170px;
                @include mq-medium-only {
                    width:90%;
                }
            }
            .name-list {
                position:relative;
                border-radius:4px;
                border: solid 1px #ebecf0;
                padding:10px 15px 10px 15px;
                height:55px;
                width:70%;
                margin-bottom:20px;
                &:second-child {
                    padding-top:3px;
                }
                @include mq-medium-only {
                    width:100%;
                }
            }
            .edit {
                position:absolute;
                right:20px;
                top:20px;
                font-size:14px;
                color:#6f41c0;
            }
            .name {
                display:block;
                color:#666;
                font-size:15px;
                margin-bottom:4px;
            }
            .age {
                font-size:13px;
                color:#a9a6ad;
                display:block;
            }
            .icon-checked {
                background-color: #8a72b3;
                color:#fff;
                border-radius: 40px;
                text-align: center;
                padding-top: 4px;
                width: 32px;
                height: 32px;
                font-size: 24px;
                margin-right:14px;
                &.is-uncheck {
                    border-radius: 20px;
                    background-color: #ffffff;
                    border: solid 2px #d4d3d6;
                    color:#d4d3d6;
                    padding-top: 2px;
                }
            }
        }
    }
}