<template>
	<div class="badge is-contain-dropdown is-contain-tooltip"
			:class="{'is-open': isOpen}"
			@click="$emit('click')"
			>
		<span class="badge__icon" :class="'icon-' + name"></span>
		<span v-show="showBadgeNumber" class="counter">{{ badgeNumberText }}</span>
		<span class="tooltip tooltip-bottom">{{ hoverText }}</span>
		<badge-dropdown :items="items" :name="name" :title="dropdownTitle" :is-open="isOpen" />
	</div>
</template>

<script>
import BadgeDropdown from '../badge-dropdown/index.vue';

export default {
	name: "AppBadge",
	components: {
		BadgeDropdown
	},
	props: {
		name: {
			type: String,
			required: true
		},
		isOpen: {
			type: Boolean,
			default: false
		},
		badgeNumber: {
			type: Number,
			default: 0
		},
		hoverText: {
			type: String,
			default: 'Hover'
		},
		dropdownTitle: {
			type: String,
			default: 'Title'
		},
		items: Array
	},
	computed: {
		showBadgeNumber() {
			return this.badgeNumber > 0
		},
		badgeNumberText() {
			return this.badgeNumber >= 99 ? '99' : this.badgeNumber
		}
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
