.badge {
	float: left;
	cursor: pointer;
	position: relative;
	height: 60px;
	margin-left: 10px;
	padding-top: 18px;

	&:hover {
		span[class^=icon-] {
			color: #DFE1E5;
		}
	}

	&.is-open {
		span[class^=icon-]{
			color: #A9A6AD;
		}
		.tooltip{
			display: none;
		}
		&:hover{
			span[class^=icon-]{
				color: #A9A6AD;
			}
		}
	}

	@include mq-medium-up {
		margin-left: 18px;

		span[class^=icon-]{
			font-size: 23px;
		}
	}
}

.badge__icon {
	color: #C1C7D0;
	font-size: 28px;
	transition: all .4s ease;
	font-size: 18px;

	@include mq-medium-up {
		font-size: 28px;
	}
}

.counter{
	user-select: none;
	position: absolute;
	top: 12px;
	right: -2px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #fe9139;
	border-radius: 100%;
	font-family: $f-circularstd;
	font-size: 10px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 16px;
	letter-spacing: normal;
	color: $c-white;
	text-align: center;
}
