<template>
  <div>
    <app-breadcrumb v-bind:list="[{title:$t('dashboard.sidebar.home'),link:'dashboard'}]" />
    <dashboard-home-upcoming :classes="classes"/>
    <div class="box-row">
      <dashboard-home-statistic-activity :statistic="generalStatistic"/>
      <dashboard-home-review :reviewsMeta="reviewsMeta"/>
    </div>
    <!-- <dashboard-home-revenue/> -->
  </div>
</template>


<script>
import AppBreadcrumb from '~/components/dashboard/breadcrumb/index.vue'
import DashboardHomeUpcoming from '~/components/dashboard/home/upcoming/index.vue'
import DashboardHomeStatisticActivity from '~/components/dashboard/home/activity-statistic/index.vue'
import DashboardHomeReview from '~/components/dashboard/home/review/index.vue'
import DashboardHomeRevenue from '~/components/dashboard/home/revenue/index.vue'
import classAPI from '@/api/klass'
import statisticAPI from '@/api/statistic'
import reviewAPI from '@/api/review'
import { getCurrentDate, getStartDate, getEndDate } from '~/plugins/helpers'



export default {
	middleware: 'authenticated',
  	layout: 'PartnerDashboard',
	data (){
		return  {
			endDate: this.$moment().format('YYYY-MM-DD'),
			startDate: this.$moment().date(1).format('YYYY-MM-DD')
		}
	},
	computed: {
		generalStatistic(){
			return this.$store.state.statistic.generalStatistic
		},
		reviewsMeta (){
			return this.$store.state.review.reviewsMeta
		},
		classes(){
			return this.$store.state.klass.classes
		}
	},
	components: {
		AppBreadcrumb,
		DashboardHomeUpcoming,
		DashboardHomeStatisticActivity,
		DashboardHomeReview,
		DashboardHomeRevenue
	},
	async fetch({store,$axios}){	
		var classapi = new classAPI($axios)
		var reviewapi = new reviewAPI($axios)
		var statisticapi = new statisticAPI($axios)
		let classes = await classapi.getClasses("upcoming",null,null,null,1,3)
		let review = await reviewapi.getReviews()
		let stat = await statisticapi.getGeneralStatistic(getStartDate(),getCurrentDate())
		store.dispatch('setClasses',classes.data.data)
		store.dispatch('setStatistic',stat.data.data)
		store.dispatch('setReviewsMeta',review.data.data.meta)
	}
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
