@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
// box Upcoming Activities
// arrow
.box-upcoming {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  @include mq-medium-only {
    width: 100%;
    padding-bottom: 28px;
  }
  .head-upcoming {
    // tulisan upcoming activities
    .upcoming-text {
      padding: 18px;
      font-family: $f-circularstd;
      font-size: 12px;
      color: #999999;
    }
    .line-box-full-upcoming {
      // garis
      width: 100%;
      height: 1px;
      opacity: 0.2;
      border: solid 1px #979797;
    }
    .arrow-box-full-upcoming {
      position: absolute;
      right: 10px;
      top: 15px;
      .arrow-purple {
        font-size: 15px;
        color: $c-theme-purple;
      }
    }
    @include mq-medium-only {
      width: 100%;
    }
  }
  .body-upcoming {
    display: flex;
    flex-flow: row;
    .box-col-image {
      position: relative;
      margin: auto;
      margin-left: 125px;
      margin-bottom: 15px;
      @include mq-medium-only {
        position: relative;
        left: 0px;
        margin: 0 0 0 20px;
      }
      .illustration-no-activity {
        padding-top: 20px;
        img {
          width: 121px;
          height: 105px;
        }
      }
    }
    .box-col-text {
      .welcome {
        margin: auto;
        position: relative;
        right: 218px;
        top: 10px;
        @include mq-mediumlarge-up {
          margin: auto;
          position: relative;
          right: 120px;
          top: 10px;
        }
        @include mq-medium-only {
          position: relative;
          right: 0px;
          margin: 0 0 0 20px;
        }
        .welcome-partner {
          padding-top: 10px;
          font-size: 22px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.73;
          letter-spacing: normal;
          color: #404040;
          @include mq-medium-only {
            font-size: 20px;
          }
        }
        .get-started {
          padding-top: 8px;
          padding-bottom: 8px;
          font-family: $f-circularstd;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: normal;
          color: #999999;
          @include mq-medium-only {
            font-size: 14px;
          }
        } // tombol add
        .button-upcoming {
          width: 255px;
          height: 36px;
          display: block;
          border-radius: 4px;
          background-color: $c-theme-purple;
          text-decoration: none;
          position: relative;
          text-align: center;
          font-family: $f-circularstd;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 36px;
          letter-spacing: normal;
          color: #ffffff;
          @include mq-medium-only {
            width: 135px;
            height: 36;
            font-size: 12px;
          }
        }
      }
    }
  }
}

// box Row
// box Statistic
.box-row {
  display: flex;
  flex-flow: row;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  @include mq-medium-only {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .box-statistic {
    width: 50%;
    position: relative;
    @include mq-medium-only {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 100%;
      &.mr-10 {
        margin-right: 0px;
      }
    }
    .head-statistic {
      .statistic-text {
        margin: 18px;
        font-family: $f-circularstd;
        font-size: 12px;
        color: #999999;
      }
      .line-box-row-statistic {
        width: 100%;
        height: 2px;
        opacity: 0.2;
        border: solid 1px #979797;
      }
      .arrow-box-row-statistic {
        position: absolute;
        top: 15px;
        right: 10px;
        .arrow-purple {
          width: 150px;
          height: 140px;
          font-size: 15px;
          color: $c-theme-purple;
        }
      }
      @include mq-medium-only {
        width: 100%;
      }
    }
    .body-statistic {
      .statistic-activity {
        position: relative;
        margin-left: 10px;
        img {
          width: 100%;
          position: relative;
          @include mq-medium-only {
            width: 100%;
          }
        }
      }
    }
  }
  .box-review {
    display: inline-block;
    width: 50%;
    position: relative;
    @include mq-medium-only {
      margin-top: 8px;
      margin-bottom: 8px;
      overflow: hidden;
      width: 100%;
      &.ml-10 {
        margin-left: 0px;
      }
    }
    .head-review {
      .review-text {
        margin: 18px;
        font-family: $f-circularstd;
        font-size: 12px;
        color: #999999;
      }
      .line-box-row-review {
        width: 100%;
        height: 2px;
        opacity: 0.2;
        border: solid 1px #979797;
      }
      .arrow-box-row-review {
        position: absolute;
        top: 15px;
        right: 10px;
        .arrow-purple {
          width: 150px;
          height: 140px;
          font-size: 15px;
          color: $c-theme-purple;
        }
      }
    }
    .body-review {
      margin: auto;
      text-align: center;
      .illustration-no-activity-2 {
        position: relative;
        margin-top: 60px;
        @include mq-medium-only {
          margin-top: 30px;
          margin-bottom: 50px;
        }
        img {
          width: 120px;
          height: 109px;
          @include mq-medium-only {
            width: 170px;
            height: 143px;
          }
        }
        .no-available {
          opacity: 0.5;
          font-family: $f-circularstd;
          font-size: 14px;
          color: #999999;
        }
      }
    }
  }
}

//box revenue
.box-revenue {
  width: 100%;
  @include mq-medium-only {
    width: 100%;
  }
  .head-revenue {
    .revenue-text {
      padding: 18px;
      font-family: $f-circularstd;
      font-size: 12px;
      color: #999999;
    }
    .line-box-full-revenue {
      width: 100%;
      height: 1px;
      opacity: 0.2;
      border: solid 1px #979797;
    }
    .arrow-box-full-revenue {
      position: absolute;
      right: 10px;
      top: 15px;
      .arrow-purple {
        font-size: 15px;
        color: $c-theme-purple;
      }
    }
  }
  .body-revenue {
    .gradient-line {
      position: absolute;
      left: 50%;
      width: 1.2px;
      height: 127px;
      background-image: linear-gradient(to bottom, #ffffff, #dfe2e5);
      bottom: 0;
    }
    .box-row-revenue {
      display: flex;
      flex-flow: row;
      position: relative;
      .box-col-revenue-month {
        display: inline-block;
        position: relative;
        width: 50%;
      }
      .this-month-text {
        font-family: $f-circularstd;
        font-size: 14px;
        color: #7f8fa4;
        position: relative;
        padding-top: 22.5px;
        padding-left: 37px;
        @include mq-medium-only {
          font-size: 12px;
        }
      }
      .rp--1 {
        font-family: $f-circularstd;
        font-size: 30px;
        color: $c-theme-purple;
        position: relative;
        padding-top: 18px;
        padding-left: 37px;
        @include mq-medium-only {
          color: $c-theme-orange;
          font-size: 16px;
        }
      }
      .last-month-rp-- {
        margin-top: 10px;
        font-family: $f-circularstd;
        font-size: 14px;
        color: #7f8fa4;
        position: relative;
        padding-top: 18px;
        padding-left: 37px;
        padding-bottom: 30px;
        @include mq-medium-only {
          font-size: 12px;
        }
      }
      .box-col-revenue-year {
        display: inline-block;
        position: relative;
        width: 50%;
      }
      .this-year-text {
        font-family: $f-circularstd;
        font-size: 14px;
        color: #7f8fa4;
        position: relative;
        padding-top: 22.5px;
        padding-left: 10%;
        @include mq-medium-only {
          font-size: 12px;
        }
      }
      .rp--2 {
        font-family: $f-circularstd;
        font-size: 30px;
        color: $c-darkergray;
        position: relative;
        padding-top: 18px;
        padding-left: 10%;
        @include mq-medium-only {
          font-size: 16px;
        }
      }
    }
  }
}
