<template>
	<div class="popup-base-layer">
		<div class="modal-box additional-charge">
			<h3 class="modal-title">Additional Charge</h3>
			<span class="modal-close icon-close" @click="closePopup"></span>
			<p class="text-gray f-14">
				Additional charge is required to be paid after booking process. You will be directed to pay through partner’s instruction. <br><br>

				Steps:<br>
				<ul>
					<li>1. Clik book this activity</li>
					<li>2. Partner will notify you the instruction to transfer the additional charge</li>
					<li>3. Complete additional charge payment</li>
					<li>4. Reservation done</li>
				</ul>	
			</p>
		</div>
	</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'

export default {
	name: "AdditionalCharge",
	methods:{
		closePopup(){
			this.$emit("close")
		}
	}
};
</script>

<style lang="scss" scoped src="./style.scss" />

