@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import '~/assets/style/_pagination.scss';

.additional-charge {
	width:500px;
	@include mq-medium-only {
		width:100%;
		height:100vh;
		padding: 40px 25px 40px 25px;
    	margin: 10vh auto 0 auto;
	}
	p {
		line-height:18px;
	}
}

