<template>
	<div class="dashboard">
		<app-header />
		<div class="wrapper">
			<aside class="dashboard-sidebar">
				<div class="sidebar-container">
					<sidebar-menu />
				</div>
			</aside>
			<div class="dashboard-container">
				<nuxt />
			</div>
		</div>
	</div>
</template>

<script>
import AppHeader from "~/components/header/index.vue";
import SidebarMenu from "~/components/guideline/sidebar-menu/index.vue";

export default {
	components: {
		AppHeader,
		SidebarMenu
	},
	beforeCreate: function() {
		if(process.client) {
			document.body.className = 'body-partner';
		}
	}
};
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
</style>
