<template>
	<div class="app dashboard">
		<transition name="fade">
			<app-alert v-if="alert.show" v-bind="alert" />
		</transition>
		<app-header :isSidebarMenuClose="isSidebarMenuClose" @isSidebarMenuClosed="isSidebarMenuClosed" />
		<div class="wrapper">
		</div>
		<nuxt />
		<app-footer />
	</div>
</template>

<script>
import AppHeader from '~/components/header/index.vue';
import SidebarMenu from "~/components/dashboard/sidebar-menu/index.vue";
import SidebarHead from "~/components/dashboard/sidebar-head/index.vue";
import AppFooter from '~/components/AppFooter.vue';
import AppAlert from '~/components/alert/index.vue';

export default {
	components: {
		AppAlert,
		AppHeader,
		SidebarMenu,
		SidebarHead,
		AppFooter
	},
	data(){
		return {
			isSidebarMenuClose: false
		}
	},
	computed: {
		alert() {
			return this.$store.state.alert
		},
		account(){
			return this.$store.state.account.account
		}
	},
	methods:{
		closeSidebarMenu(){
			this.isSidebarMenuClose = true
		},
		isSidebarMenuClosed(){
			this.isSidebarMenuClose = false
		}
	},
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.button-add-activity{
	display: block;
	height: 28px;
	width: 100%;
	line-height: 28px;
	border-radius: 4px;
	background-color: $c-theme-purple;
	font-family: $f-circularstd;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: $c-white;
	text-align: center;
	transition: all .4s ease;
	margin-bottom: 20px;
	&:hover{
		background-color: #a98dd9;
	}
	@include mq-medium-only{
		height: 36px;
		line-height: 36px;
	}
}
</style>
