<template>
	<div class="app">
		<app-header />
		<transition name="fade">
			<app-alert v-if="alert.show" v-bind="alert" />
		</transition>
		<nuxt />
		<app-footer />
	</div>
</template>

<script>
import AppHeader from '~/components/header/index.vue';
import AppFooter from '~/components/AppFooter.vue';
import AppAlert from '~/components/alert/index.vue';

export default {
	components: {
		AppAlert,
		AppHeader,
		AppFooter
	},
	computed: {
		alert() {
			return this.$store.state.alert
		}
	},
	beforeCreate() {
		if(process.client) {
			document.body.className = 'body-parent';
		}
	}
}
</script>

<style lang="scss" scoped>

</style>
