<template>
	<div class="container">		
			<div v-if="error.statusCode == 404" class="wrapper-error-404">
				<app-header/>
					<div class="image-oops"></div>
					<div class="center-content-400">
						<h2 class="someone-broke-this-page">Someone broke this page</h2>
						<h3 class="could-find-page">We couldn’t find the page you are looking for</h3>
						<nuxt-link :to="$i18n.path('')" class="button-back-mainpage">Back to Main Page</nuxt-link>
					</div>
			</div>
			<div v-else class="wrapper-error-500">
				<div class="image-uh-oh"></div>
				<div class="center-content-500">
					<h2 class="somenthing-wrong">Something went wrong at our end</h2>
					<h3 class="we-working-now">We are working on it right now!</h3>
				</div>
				
		    </div>
	</div>
</template>

<script>
  import AppHeader from "../components/header/index";
  export default {
    components: {AppHeader},
    props: ['error']

  }

</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
.wrapper-error-404 {
  overflow: hidden;
  padding-top: 95px;
  .image-oops {
    background-image: url('~/assets/images/error-404.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 509px;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    @include mq-medium-only {
      width: 70%;
    }
  }
  .center-content-400 {
    .someone-broke-this-page {
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      font-family: $f-nexa;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.5px;
      text-align: center;
      color: #a9a6ad;
      @include mq-medium-only {
        font-size: 22px;
      }
    }
    .could-find-page {
      display: block;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: $f-circularstd;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      text-align: center;
      color: #a9a6ad;
      @include mq-medium-only {
        font-size: 13px;
      }
    }
    .button-back-mainpage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 244px;
      height: 40px;
      line-height: 40px;
      border: 1px solid orange;
      border-radius: 4px;
      background-color: #faa61a;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
.wrapper-error-500 {
  overflow: hidden;
  padding-top: 95px;
  .image-uh-oh {
    background-image: url('~/assets/images/error-500.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 509px;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    @include mq-medium-only {
      width: 70%;
    }
  }
  .center-content-500 {
    .somenthing-wrong {
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      font-family: $f-nexa;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.5px;
      text-align: center;
      color: #a9a6ad;
      @include mq-medium-only {
        font-size: 22px;
      }
    }
    .we-working-now {
      display: block;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: $f-circularstd;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      text-align: center;
      color: #a9a6ad;
      @include mq-medium-only {
        font-size: 13px;
      }
    }
  }
}
</style>
