<template>
	<div class="parent-dashboard">
		<app-header :isSidebarMenuClose="isSidebarMenuClose" @isSidebarMenuClosed="isSidebarMenuClosed" />
		<transition name="fade">
			<app-alert v-if="alert.show" v-bind="alert" />
		</transition>
		<ParentTopBar />
		<div class="title-page is-mobile">
			{{ title }}
		</div>
		<div class="wrapper flex">
			<ParentSideBar />
			<div class="parent-dashboard-container">
				<nuxt />
			</div>
		</div>
		<app-footer />
	</div>
</template>

<script>
import ParentSideBar from "~/components/parent-sidebar/index.vue"
import ParentTopBar from "~/components/parent-topbar/index.vue"
import AppHeader from "~/components/header/index.vue";
import SidebarMenu from "~/components/dashboard/sidebar-menu/index.vue";
import SidebarHead from "~/components/dashboard/sidebar-head/index.vue";
import AppAlert from '~/components/alert/index.vue'
import AppFooter from '~/components/AppFooter.vue';

export default {
	components: {
		AppHeader,
		SidebarMenu,
		SidebarHead,
		AppAlert,
		ParentSideBar,
		ParentTopBar,
		AppFooter
	},
	data() {
		return {
			isSidebarMenuClose: false
		}
	},
	computed: {
		alert() {
			return this.$store.state.alert
		},
		account() {
			return this.$store.state.account.account
		},
		title() {
			const path = this.$route.path
			function isSameUrl(a, b) {
				return a == b || a == (b + '/')
			}
			if (isSameUrl(path, '/parent')) return this.$t('parent.profile_title')
			if (isSameUrl(path, '/parent/favorites')) return this.$t('parent.favorite_title')
			if (isSameUrl(path, '/parent/bookings')) return this.$t('parent.bookings_title')
			if (isSameUrl(path, '/parent/subscriptions')) return this.$t('parent.memberships_title')
			if (isSameUrl(path, '/parent/settings')) return this.$t('parent.settings_title')
			if (isSameUrl(path, '/parent/transactions')) return this.$t('parent.transaction_history')
			return ''
		}
	},
	methods: {
		closeSidebarMenu() {
			this.isSidebarMenuClose = true
		},
		isSidebarMenuClosed() {
			this.isSidebarMenuClose = false
		}
	},
}
</script>

<style lang="scss" scoped>
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.parent-dashboard {
	padding: 0px 0 240px 0;
	background-color: #f0f4f6;

	@include mq-medium-only {
		padding: 60px 0 0 0;
	}
}

.title-page {
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: #fff;
	color: #666666;
	font-size: 16px;
}

.wrapper {
	&.flex {
		display: flex;
	}
}

.parent-dashboard-container {
	flex-grow: 1;
	margin: 30px 0 0 30px;
	border-radius: 4px;

	@include mq-medium-only {
		margin: 10px;
	}
}
</style>
