<template>
	<aside class="parent-profile-sidebar">
		<ul>
			<li v-for="item in menuItems" :key="item.keyString">
				<nuxt-link v-bind:to="$i18n.path(item.path)"><span :class="item.iconClass"></span> {{ $t(item.keyString) }} </nuxt-link>
			</li>
		</ul>
	</aside>
</template>

<script>
function MenuItem(keyString, iconClass, path) {
	this.keyString = keyString
	this.iconClass = iconClass
	this.path = path
}

export default {
	name: "ParentSidebar",
	data() {
		return {
			menuItems: [
				new MenuItem('dashboard.sidebar.activities', 'icon-home', 'activity'),
				new MenuItem('dashboard.sidebar.profile', 'icon-profile', 'parent'),
				new MenuItem('dashboard.sidebar.favorites', 'icon-menu-favorites', 'parent/favorites'),
				new MenuItem('dashboard.sidebar.bookings', 'icon-menu-bookings', 'parent/bookings'),
				new MenuItem('dashboard.sidebar.subscriptions', 'icon-menu-subscription', 'parent/subscriptions'),
				new MenuItem('dashboard.sidebar.transaction', 'icon-menu-transaction-history', 'parent/transactions'),
				new MenuItem('dashboard.sidebar.settings', 'icon-menu-settings', 'parent/settings')
			]
		}
	}
}
</script>

<style lang="scss">
@import './style.scss';
</style>
