@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.parent-profile-sidebar {
    width:275px;
    display:block;
    margin-top:30px;
    @include mq-medium-only {
        display:none;
    }

    ul {
        background-color:#fff;
        border-radius: 4px;
    }
    li {
        span {
            font-size:18px;
            color:#DCD1F0;
            display:inline-block;
            padding-right:5px;
        }
        border-bottom:solid 1px #ebecf0;
        &:last-child {
            border-bottom:1px solid #fff;
        }
        a {
            color:#534d5c;
            display:block;
            padding:15px 0px 15px 30px;
            font-size:14px;
				}
        &:hover {
            a {
                color: $c-lightergray;
            }
        }
		}
		.nuxt-link-exact-active {
			padding-left: 23px;
			border-left: 7px #8c67cd solid;
			background-color:#fbfbfb;
		}
}
