<template>
	<div>
		<app-header/>
		<div class = "box box-border box-full-gray">
			<h2 class="section-title">{{$t('contact-us.section-title')}}</h2>
		</div>
		<div class = "box box-border box-full-white">
			<div class="wrapper-center-content">
				<div class="box-purple-contact is-desktop">
					<h2 class="sub-section-question">{{$t('contact-us.question')}}</h2>
				</div>
					<!-- general info -->
					<h3 class="for-general">{{$t('contact-us.for-general')}}</h3>
					<p class="contact-general-email"><span class="icon-mail general-mail"></span>{{$t('contact-us.email-us')}}<span class="contact-info-email">{{$t('contact-us.general-info')}}</span></p>
					<p class="contact-general-phone"><span class="icon-whatsapp general-whatsapp"></span>{{$t('contact-us.chat-us')}}<span class="contact-info-email">{{$t('contact-us.phone-number')}}</span></p>
					<!-- general info -->
					<h3 class="for-partner">{{$t('contact-us.for-partner')}}</h3>
					<p class="contact-partner-email"><span class="icon-mail partner-mail"></span>{{$t('contact-us.email-us')}}<span class="contact-info-email">{{$t('contact-us.partner-info')}}</span></p>
					<p class="contact-general-phone"><span class="icon-whatsapp partner-whatsapp"></span>{{$t('contact-us.chat-us')}}<span class="contact-info-email">{{$t('contact-us.phone-number')}}</span></p>
					<!-- Parentstory -->
					<h3 class="parentstory">Parentstory</h3>
					<p class="address-parentstory">Bellezza Shopping Arcade Unit 101A/B Jl. Letnan Jendral Soepeno no. 34 Jakarta Selatan 12210</p>
			</div>
		</div>
		<app-footer/>
	</div>
</template>

<script>
import AppHeader from "~/components/header/index";
import AppFooter from "~/components/AppFooter.vue";

export default {
  components: {
	AppHeader,
    AppFooter
  }
};
</script>
<style lang="scss" src="./style.scss" scoped />