@import "~/assets/style/_variables.scss";
@import "~/assets/style/_mixins.scss";

.box-full-gray {
  position: relative;
  width: 100%;
  background-color: #8c67cd;

  @include mq-medium-only {
    background-color: #8c67cd;
  }

  .section-title {
    margin-top: 131px;
    margin-bottom: 97px;
    font-family: $f-circularstd;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: -0.6px;
    text-align: center;
    color: #ffffff;

    @include mq-medium-only {
      color: #ffffff;
      font-size: 21px;
      margin-top: 110px;
      margin-bottom: 50px;
    }
  }
}

.wrapper-center-content {
  width: 456px;
  height: 648px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;

  @include mq-medium-only {
    width: 100%;
    padding: 26px 16px 66px 16px;
    height: auto;
  }

  .box-full-white {
    position: relative;
    background-color: #ffffff;
  }

  .box-purple-contact {
    width: 456px;
    background-color: #8c67cd;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    @include mq-medium-only {
      width: 100%;
    }

    .sub-section-question {
      padding-top: 33px;
      padding-bottom: 33px;
      text-align: center;
      font-family: $f-intro;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #ffffff;
    }
  }


  .for-general {
    margin-left: 0px;
    margin-top: 13px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #534d5c;
  }

  .for-partner {
    margin-left: 0px;
    margin-top: 13px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #534d5c;
  }

  .general-mail {
    margin-right: 6px;
    font-size: 17px;
    color: #6f41c0;
  }

  .general-whatsapp {
    margin-right: 6px;
    font-size: 17px;
    color: #6f41c0;
  }

  .partner-mail {
    margin-right: 6px;
    font-size: 17px;
    color: #6f41c0;
  }

  .partner-whatsapp {
    margin-right: 6px;
    font-size: 17px;
    color: #6f41c0;

  }

  .parentstory {
    margin-left: 0px;
    margin-top: 24px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #534d5c;


  }

  .address-parentstory {
    width: 242px;
    margin-left: 0px;
    margin-top: 7px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #7e7a85;

  }

  .contact-general-email {
    margin-left: 0px;
    margin-top: 5px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #7e7a85;

  }

  .contact-partner-email {
    margin-left: 0px;
    margin-top: 5px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #7e7a85;

  }

  .contact-general-phone {
    margin-left: 0px;
    margin-top: 5px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #7e7a85;

  }

  .contact-info-email {
    margin-left: 3px;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #6f41c0;
  }
}
