<template>
	<form @submit.prevent="changePassword">
		<div>
		<label class="text-password">{{$t('dashboard.settings.change_password.old_password')}}</label>
		<input v-model="passwordData.current_password" class="fill-password" type="password" />
		<input-error :isVisible="showCurrentPasswordError" :text="$t('dashboard.settings.change_password.error_length')" />
		</div>
		<div>
		<label class = "text-password">{{$t('dashboard.settings.change_password.new_password')}} <span class = "rules-password">{{$t('dashboard.settings.change_password.new_password_instruction')}}</span></label>
		<input v-model="passwordData.new_password" class="fill-password" type="password" />
		<input-error :isVisible="showNewPasswordError" :text="$t('dashboard.settings.change_password.error_length')" />
		</div>
		<div>
		<label class = "text-password">{{$t('dashboard.settings.change_password.new_password_confirm')}}</label>
		<input v-model="passwordData.confirm_password" class = "fill-password" type="password" />
		<input-error :isVisible="showConfirmPasswordError" :text="$t('dashboard.settings.change_password.error_length')" />
		</div>
		<button class="button-save">{{$t('dashboard.settings.change_password.new_password_save')}}</button>
	</form>
</template>

<script>
import accountAPI from '@/api/account';
import { showSuccessAlert, showErrorAlert } from '~/plugins/helpers';
import InputError from '~/components/form/input-error/index.vue';

export default {
	name: 'ChangePassword',
	data() {
		return {
			isSubmitted: false,
			passwordData: {
				current_password: '',
				new_password: '',
				confirm_password: ''
			}
		};
	},
	components: {
		InputError
	},
	computed: {
		showCurrentPasswordError() {
			return this.isSubmitted && this.passwordData.current_password.length < 6;
		},
		showNewPasswordError() {
			return this.isSubmitted && this.passwordData.new_password.length < 6;
		},
		showConfirmPasswordError() {
			return this.isSubmitted && this.passwordData.confirm_password.length < 6;
		}
	},
	methods: {
		changePassword() {
			this.isSubmitted = true;
			if (this.passwordData.current_password.length >= 6 && this.passwordData.new_password.length >= 6 &&
				this.passwordData.confirm_password.length >= 6) {
				if (this.passwordData.new_password != this.passwordData.confirm_password) {
					showErrorAlert(this,this.$t('dashboard.settings.change_password.missmatch_alert'),true);
					return;
				}
				let accountApi = new accountAPI(this.$axios)
				accountApi.changePassword(this.passwordData).then(response => {
					showSuccessAlert(this,this.$t('dashboard.settings.change_password.success_alert'),true);
					this.passwordData = {
						current_password: '',
						new_password: '',
						confirm_password: ''
					};
					this.isSubmitted = false;
				},
				error => {
					if (error.response.status == 403)
						showErrorAlert(this,this.$t('dashboard.settings.change_password.error_alert'),true);
					else 
						showErrorAlert(this, this.$t('general.error'), true);
				});
			}
		}
  	}
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
