@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
.text-password {
	display: block;
	padding-left: 29px;
	padding-bottom: 6px;
	font-family: $f-circularstd;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #444444;
	:last-child {
	padding-top: 20px;
	}
}
.rules-password {
	padding-left: 4px;
	font-family: $f-circularstd;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #a9a6ad;
}
.fill-password {
	width: 300px;
	height: 40px;
	padding: 8px 12px;
	margin-left: 29px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #dedede;
	cursor: pointer;
	@include mq-medium-only {
	width: 80%;
	}
}
.button-save {
	width: 160px;
	height: 40px;
	margin-left: 29px;
	margin-top: 32px;
	margin-bottom: 32px;
	border-radius: 4px;
	color: #ffffff;
	background-color: $c-theme-purple;
	cursor: pointer;
	@include mq-medium-only {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
}
.form-error{
	margin-left: 29px;
}


