<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box w-680">
				<div class="popup-header">
					<h3 v-if="actionType == 'add'">{{$t('popup.class_schedule.add')}}</h3>
					<h3 v-else-if="actionType == 'edit'">{{$t('popup.class_schedule.edit')}}</h3>
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content popup-long-content">
					<div class="class-schedule">
						<div class="gridspan">
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1">
								<div class="form-input">
									<label>{{$t('popup.class_schedule.number_session')}}</label>
									<div class="form-append form-increase-decrease">
										<input readonly type="number" v-model="classData.session" name="total-sessions">
										<div class="append-symbol">
											<a v-if="classData.session > 1" @click="decreaseSession" class="decrease">&ndash;</a>
											<a v-if="classData.session < 64" @click="increaseSession"  class="increase">&#43;</a>
										</div>
									</div>
								</div>
							</div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1 relative">
								<div class="info-additional">
									<span class="icon-info"></span>
									<p>{{$t('popup.class_schedule.info')}}</p>
								</div>
							</div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1 is-desktop"></div>
						</div>
						<div class="gridspan">
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1">
								<div class="form-input">
									<label>{{$t('popup.class_schedule.max_participant')}}</label>
									<input type="number" v-model="classData.capacity" name="total-participants" class="form-number-nospin">
									<input-error :isVisible="showCapacityError" text="Error" />
								</div>
							</div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1 is-desktop"></div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1 is-desktop"></div>
						</div>
						<div class="gridspan" v-for="(session,index) in classData.sessions" :key="session.id">
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1">
								<div class="form-input">
									<label>{{$t('popup.class_schedule.date')}}</label>
									<div class="form-append">
										<datepicker class="custom-datepicker"
													name="date"
													:monday-first="true"
													:full-month-name="true"
													:highlighted="state.highlighted"
													:disabledDates="state.disabledDates"
													v-model="session.start_date"
													/>
										<div class="append-text datepicker-icon">
											<img src="~/assets/images/class-calendar.png" />
										</div>
									</div>
								</div>
							</div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1">
								<div class="form-input">
									<label>{{$t('popup.class_schedule.hour')}}</label>
									<input @change="onChangeTime($event,session)" type="time" name="starthour" :value="currentTime(session.start_date)" />
								</div>
							</div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1">
								<div class="form-input form-number-nospin">
									<label>{{$t('popup.class_schedule.duration')}}</label>
									<div class="form-append form-no-divider">
										<input type="number" name="duration" v-model="session.duration" class="form-number-nospin">
										<div class="append-text pr-10">{{$t('popup.class_schedule.minute')}}</div>
									</div>
									<input-error :isVisible="showDurationError(session)" text="Error" />
								</div>
							</div>
						</div>
						<div class="form-input" v-if="actionType == 'add' && classData.session == 1">
							<label class="form-checkbox-togglecheck left" for="recurringdate">
								<input v-model="isRecurring" type="checkbox" id="recurringdate" />
								<span class="check"></span>
							</label>
							<label for="recurringdate">{{$t('popup.class_schedule.recurring_date')}}</label>
						</div>

						<div class="class-recurring" v-if="actionType == 'add' && classData.session == 1">
							<div class="form-input" :class="{ 'is-disabled' : !isRecurring }">
								<label class="form-radio-toggletext">
									<input v-model="classData.recurring.type" value="weekly" type="radio"/>
									<span>{{$t('popup.class_schedule.weekly')}}</span>
								</label>
								<label class="form-radio-toggletext">
									<input v-model="classData.recurring.type" value="fix" type="radio"/>
									<span>{{$t('popup.class_schedule.fix')}}</span>
								</label>
							</div>
							<div class="form-input" v-if="isRecurring && classData.recurring.type == 'weekly'">
								<ul class="recurring-days">
									<li>
										<label class="form-checkbox-toggletext">
											<input type="checkbox" @click="addDay(1)"/>
											<span>{{$t('popup.class_schedule.monday')}}</span>
										</label>
									</li>
									<li>
										<label class="form-checkbox-toggletext">
											<input type="checkbox"  @click="addDay(2)"/>
											<span>{{$t('popup.class_schedule.tuesday')}}</span>
										</label>
									</li>
									<li>
										<label class="form-checkbox-toggletext">
											<input type="checkbox"  @click="addDay(3)"/>
											<span>{{$t('popup.class_schedule.wednesday')}}</span>
										</label>
									</li>
									<li>
										<label class="form-checkbox-toggletext">
											<input type="checkbox" @click="addDay(4)"/>
											<span>{{$t('popup.class_schedule.thursday')}}</span>
										</label>
									</li>
									<li>
										<label class="form-checkbox-toggletext">
											<input type="checkbox" @click="addDay(5)"/>
											<span>{{$t('popup.class_schedule.friday')}}</span>
										</label>
									</li>
									<li>
										<label class="form-checkbox-toggletext">
											<input type="checkbox" @click="addDay(6)"/>
											<span>{{$t('popup.class_schedule.saturday')}}</span>
										</label>
									</li>
									<li>
										<label class="form-checkbox-toggletext">
											<input type="checkbox" @click="addDay(7)"/>
											<span>{{$t('popup.class_schedule.sunday')}}</span>
										</label>
									</li>
								</ul>
								<input-error :isVisible="showRecurringDayError" text="Error" />
							</div>
							<div class="form-input form-input-datepicker" v-if="isRecurring && classData.recurring.type == 'fix'">
								<DatePickerWidget class="ps-datepicker psdp-multiple psdp-double psdp-inline"
									mode="m"
									:nMonth="2"
									:holidays=[]
									:selectedDates=[]
									:to="$moment().add(3, 'M').format()"
									:from="$moment().subtract(1, 'days').format()"
									@select-date="onMultipleDateSelect"
									/>
								<input type="text" name="fixdate"  />
							</div>
						</div>

						<div class="gridspan" v-if="isRecurring && classData.recurring.type == 'weekly' && classData.session == 1">
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1">
								<div class="form-input">
									<label><span>{{$t('popup.class_schedule.end_date')}}</span></label>
									<div class="form-append">
										<datepicker class="custom-datepicker"
													name="enddate"
													:monday-first="true"
													:full-month-name="true"
													:highlighted="state.highlighted"
													:disabledDates="state.disabledDates"
													v-model="classData.recurring.end_date"
													 />
										<div class="append-text datepicker-icon">
											<img src="~/assets/images/class-calendar.png" />
										</div>
									</div>
								</div>
							</div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1 is-desktop"></div>
							<div class="gridcol-1-3 gridcol-1-3-medium-1-1 is-desktop"></div>
						</div>

						<div class="form-textarea">
							<label><span>{{$t('popup.class_schedule.note')}}</span></label>
							<div class="form-counter">
								<textarea v-model="classData.notes" name="note" placeholder=""></textarea>
								<span class="counter">{{classData.notes.length}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-footer">
					<button class="btn-right btn-alt" @click="submitThenClosePopup">{{$t('popup.class_schedule.submit')}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway';
import klassAPI from '@/api/klass'
import SelectOption from "~/components/form/select-option/index.vue"
import Datepicker from 'vuejs-datepicker'
import DatePickerWidget from '~/components/widget/date-picker/index.vue';
import InputError from '~/components/form/input-error/index.vue'
import { showSuccessAlert, showErrorAlert } from '~/plugins/helpers'

export default {
	name: "PopupClassSchedule",
	props: ["activityId","classId","actionType","klass"],
	components: {
		SelectOption,
		Datepicker,
		DatePickerWidget,
		InputError
	},
	mixins: [ clickaway ],
	data() {
		return {
			isSubmitted: false,
			isRecurring: false,
			classData: {
				id: (this.klass && this.klass.id) || null,
				activity_id: this.activityId,
				session: (this.klass && this.klass.session) || 1,
				capacity: (this.klass && this.klass.capacity) || 0,
				notes: (this.klass && this.klass.notes) || "",
				sessions: (this.klass && this.klass.sessions) || [{
					start_date: this.$moment().format(),
					duration: 60
				}],
				recurring: {
					type: "weekly",
					end_date: this.$moment().add(3, 'M').format(),
					day: [],
					date: []
				}
			},
			state: { // holidays date
			  disabledDates: {
					to: new Date(this.$moment().subtract(1, "days").format()), // Disable all dates up to specific date
					from: new Date(this.$moment().add(3, 'M').format()), // Disable all dates after specific date
				}
			},

		}
	},
	computed:{
		showCapacityError(){
			return this.isSubmitted && this.classData.capacity <= 0
		},
		showRecurringDayError(){
			return this.isSubmitted && this.classData.recurring.day.length == 0 && this.isRecurring && this.classData.recurring.type == 'weekly'
		}
	},
	methods: {
		closePopup(){
			this.$emit("popUpClassSheduleClose")
			document.body.classList.remove('is-modal-open');
		},
		submitThenClosePopup(){
			this.formatClassData()
			this.isSubmitted=true
			if (this.validateData()){
				this.isSubmitted=false
				let klassApi = new klassAPI(this.$axios)
				if (this.actionType == 'add'){
					if (!this.isRecurring)
						this.classData.recurring.type = 'None'
					klassApi.createClass(this.classData).then((response)=>{
						showSuccessAlert(this, this.$t('popup.class_schedule.add_success_alert'),true)
						this.closePopup()
					},(err)=>{
						showErrorAlert(this, this.$t('general.error'),true)
					})
				}
				else if (this.actionType == 'edit'){
					klassApi.editClass(this.classData.id,this.classData).then((response)=>{
						showSuccessAlert(this, this.$t('popup.class_schedule.edit_success_alert'),true)
						this.closePopup()
					},(err)=>{
						showErrorAlert(this, this.$t('general.error'),true)
					})
				}
			}
		},
		validateData(){
			return !this.showCapacityError && !this.showRecurringDayError && !this.checkAllDurationError()
		},
		increaseSession(){
			this.classData.session++
			this.classData.sessions.push({
				id:null,
				start_date: this.$moment().format(),
				duration: 60
			})
		},
		decreaseSession(){
			this.classData.session--
			this.classData.sessions.pop()
		},
		addDay(item){
			let index = this.classData.recurring.day.indexOf(item)
			if (index >= 0)
				this.classData.recurring.day.splice(index,1)
			else
				this.classData.recurring.day.push(item)
		},
		showDurationError(session){
			return session.duration <= 0
		},
		checkAllDurationError(){
			let isError = false
			this.classData.sessions.forEach(session=>{
				if (session.duration <= 0){
					isError=true
				}
			})
			return isError
		},
		onChangeTime(event,session){
			let time = event.target.value.split(":")
			session.start_date = this.$moment(session.start_date).set({hours: time[0], minutes:time[1]}).format()
		},
		formatClassData(){
			let time = null
			this.classData.sessions.forEach(session=>{
				session.start_date = this.$moment.utc(session.start_date).set({seconds: 0}).format()
				time = this.$moment.utc(session.start_date).set({seconds: 0}).format("HH:mm").split(":")
			})
			this.classData.recurring.end_date =  this.$moment.utc(this.classData.recurring.end_date).set({seconds: 0}).format()
			this.classData.recurring.date.forEach((date,index)=>{
				this.classData.recurring.date[index] = this.$moment(date).set({hours: time[0],minutes:time[1],seconds: 0}).format()
			})
		},
		currentTime(time){
			return this.$moment(time).format("HH:mm")
		},
		onMultipleDateSelect(value){
			this.classData.recurring.date = value.sort()

		}
	},
	beforeCreate() {
		document.body.className += ' is-modal-open';
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

