@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.popup-content{
	.class-schedule{
		padding: 30px 20px 160px 35px;
		overflow: hidden;
		@include mq-medium-only{
			padding: 10px 15px 160px;
		}
		h3{
			font-family: $f-circularstd;
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
		}
		time{
			font-family: $f-circularstd;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			color: #7e7a85;
		}
		.datepicker-icon{
			width: 40px;
			img{
				position: absolute;
				top: 10px;
				margin-left: -10px;
				pointer-events: none;
			}
		}
		.info-additional{
			border-radius: 3px;
			background-color: rgba(216,216,216,0.1);
			padding: 10px 10px;
			width: 340px;
			position: absolute;
			margin-top: 10px;
			margin-left: 10px;
			@include mq-medium-only{
				position: relative;
				width: 100%;
				margin-left: 0;
				margin-top: -10px;
				margin-bottom: 20px;
			}
			.icon-info{
				color: #8a72b3;
				font-size: 25px;
				float: left;
			}
			p{
				overflow: hidden;
				font-family: $f-circularstd;
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #666666;
				padding-left: 8px;
			}
		}
		
		.form-input .form-radio-toggletext{
			margin-right: 10px;
			span{
				border: 1px solid #dedede;
				background-color: transparent;
				font-size: 15px;
				color: #666666;
				padding: 10px 15px;
				height: 40px;
				line-height: 20px;
			}
			input[type=radio]:checked + span{
				border-color: #8c67cd;
				background-color: #8c67cd;
				color: #ffffff;
			}
		}
		.form-input.is-disabled .form-radio-toggletext{
			label, input, span{
				pointer-events: none;
				cursor: not-allowed;
			}
			span, input[type=radio]:checked + span{
				border-color: #dedede;
				color: #dedede;
				background-color: transparent;
			}
		}

		.class-recurring .form-input{
			padding-left: 37px;
		}

		.recurring-days{
			overflow: hidden;
			margin-top: -15px;
			@include mq-medium-only{
				margin-top: 0px;
			}
			li{
				float: left;
				margin-right: 5px;
			}
			.form-checkbox-toggletext span{
				width: 70px;
			}
		}

		[class*='gridcol-']{
			@include mq-medium-only{
				padding-right: 0;
			}
		}
	}
}