<template>
	<div>
		<div class="modal-backdrop" v-on:click="closePopup"></div>
		<div class="modal">
			<div class="popup-box w-300">
				<div class="popup-header">
					<h3>Information</h3>
					<a class="icon-close" v-on:click="closePopup"></a>
				</div>
				<div class="popup-content">
					<p class="profile-update-success">Your profile has been updated</p>
				</div>
				<div class="popup-footer">
					<button class="btn-right" v-on:click="closePopup">Ok</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "PopupSuccessUpdateProfile",
	methods: {
		closePopup: function(){
				this.$parent.$data.openpopup = false;
				document.body.classList.remove('is-modal-open');
		}
	},
	beforeCreate: function() {
		document.body.className += ' is-modal-open';
	}
};
</script>

<style lang="scss" src="./style.scss" />
