@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.popup-content{
	.profile-update-success{
		font-family: $f-circularstd;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #666666;
		padding: 45px 0 85px;
	}
}