<template>
	<div class="partners">
		<h1 class="is-mobile">{{ $t('partner_list.title') }}</h1>
		<h2>{{ numberOfPartners }}</h2>
		<ul>
			<li @click="goToPartner(partner.slug)" v-for="partner in partners" :key="partner.id" class="partner-item">
				<img v-if="partner.cover" :src="partner.cover" alt="" />
				<img v-else src="~/assets/images/parent/default-partner-image.png"/>
				<div class="partner-info">
					<h3>{{ partner.name | capitalize }}</h3>
					<p class="about">{{ partner.about }}</p>
					<p class="icon-location location">{{ partner.city }}</p>
					<p class="icon-tag categories">{{ partner.categories | categoryString }}</p>
				</div>
			</li>
		</ul>
		<div class="box-bottom"></div>
	</div>
</template>

<script>
import listingActivityApi from '@/api/listingActivity'

export default {
	layout: "DefaultParent",
	middleware: ['authenticated'],
	data() {
		return {

		}
	},
	computed: {
		partners() {
			return this.$store.state.partners.partners.list
		},
		numberOfPartners() {
			const count = this.$store.state.partners.partners.meta.total
			return this.$tc('partner_list.number_of_partners', count, { count })
		}
	},
	methods: {
		goToPartner(slug){
			return this.$nuxt.$router.push({path:'/partner/'+slug})
		}
	},
	filters: {
		categoryString(values) {
			let result = values[0]
			if (values.length > 1) {
				result += ", " + values[1]
			}
			return result
		}
	},
	async fetch({store, query, route, $axios}) {
		const api = new listingActivityApi($axios)
		const partners = await api.getPartners()
		store.dispatch('setPartners', partners)
	}
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
