@import '~/assets/style/_mixins.scss';

.partners {
	width: 100%;
	max-width: 1200px;

	@include mq-medium-up {
		margin: 40px auto;
		width: 90vw;
		max-width: 1200px;
	}

	h1 {
		height: 48px;
		line-height: 48px;
		text-align: center;
		background-color: white;
		font-size: 16px;
		color: #666;
	}

	h2 {
		display: none;
		font-size: 20px;
		color: #534d5c;

		@include mq-medium-up {
			display: block;
		}
	}

	ul {
		margin-bottom: 8px;
		overflow: hidden;

		@include mq-medium-up {
			margin-top: 20px;
			padding: 0px;
			overflow: visible;
		}
	}
}

.partner-item {
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.04);
	background-color: white;
	height: 104px;
	padding: 10px;
	width: 30%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 2.5%;
	border-radius: 4px;
	cursor: pointer;

	&:not(:first-child) {

		@include mq-medium-up {
			margin-top: 16px;
		}
	}

	&:nth-child(3n-1) {
		margin-left: 0;
		margin-right: 0;
	}

	@include mq-medium-up {
		height: 152px;
		padding: 16px 21px 16px 21px;
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 0 auto;
		display: block;

		@include mq-medium-up {
			width: 125px;
			height: 125px;
			float: left;
			margin: 0;
			display: inline;
		}
	}
}

.partner-info {
	text-align: center;
	margin-top: 12px;

	@include mq-medium-up {
		margin-left: 144px;
		margin-top: 8px;
		text-align: left;
	}

	h3 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 11px;
		color: #333333;

		@include mq-medium-up {
			font-size: 18px;
		}
	}

	.about {
		font-size: 12px;
		color: #a9a6ad;
		margin-top: 4px;
		line-height: 1.3;
		display: none;

		@include mq-medium-up {
			display: block;
		}
	}

	.location, .categories {
		font-size: 12px;
		color: #7e7a85;
		margin-top: 14px;
		display: none;

		&::before {
			color: #dfe1e5;
			margin-right: 6px;
		}

		@include mq-medium-up {
			display: block;
		}
	}

	.categories {
		margin-top: 8px;
	}
}