<template>
	<div class="top-bar is-desktop">
		<div class="wrapper">
			<div class="top-bar-profile">
				<div class="initial-name">{{ initial }}</div>
				<div class="name-tag">
					<h2 class="real-name">{{ name }}</h2>
					<p class="email">{{ email }}</p>
					<p class="phone">{{ phone }}</p>
				</div>
			</div>

			<div class="validate-information">
				<div class="upcoming-book mr-30">
					<span>{{ $t('parent.header.upcoming_bookings') }}</span>
					<p>{{ upcomingBookings }}</p>
				</div>

				<div class="remaining-pass mr-30">
					<span>{{ $t('parent.header.remaining_passes') }}</span>
					<p>{{ remainingPasses }}</p>
				</div>

				<div class="validate">
					<span>{{ $t('parent.header.valid_until') }}</span>
					<p>{{ remainingPassesValidUntil }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import bookingApi from '@/api/booking'

import { initialOf } from '@/plugins/helpers'

export default {
	name: "ParentTopbar",
	mounted() {
		let bookingAPI = new bookingApi(this.$axios)
		bookingAPI.getParentUpcomingBookings().then(response => {
			this.$store.dispatch('setBookings', response.data.data)
		}).catch(err => console.log(err))
		bookingAPI.getMemberships().then(response => {
			this.$store.dispatch('setMemberships', response.data.data)
		}).catch(err => console.log(err))
	},
	computed: {
		initial() {
			return initialOf(this.$store.state.account.account.name)
		},
		name() {
			return this.$store.state.account.account.name
		},
		email() {
			return this.$store.state.account.account.email
		},
		phone() {
			const contacts = this.$store.state.account.account.account_contact
			for (let i = 0; i < contacts.length; i++) {
				const contact = contacts[i]
				if (contact.contact_type_id == 1) return contact.value
			}
			return ''
		},
		upcomingBookings() {
			if (this.$store.state.booking.bookingsMeta) return this.$store.state.booking.bookingsMeta.total
		},
		remainingPasses() {
			if (this.$store.state.membership) return this.$store.state.membership.remainingPasses
		},
		remainingPassesValidUntil() {
			if (this.$store.state.membership && this.$store.state.membership.remainingPassesValidUntil) {
				return this.$moment(this.$store.state.membership.remainingPassesValidUntil).format('DD/MM/YYYY')
			} else {
				return '-'
			}
		}
	}
}
</script>

<style lang="scss">
@import './style.scss'
</style>
