@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
.top-bar {
    background:url('~/assets/images/parent/background-orange.png');
    background-size:cover;
    padding:90px 0 90px 0;
    margin-top:60px;
    overflow:hidden;
    color:#fff;
    @include mq-medium-only {
        padding:30px 0 30px 0;
    }
    .top-bar-profile {
        width:350px;
        overflow:hidden;
        float:left;
        @include mq-medium-only {
            float:none;
            width:90%;
            margin:auto;
        }
        .initial-name {
          width: 80px;
					height: 80px;
					line-height: 80px;
          border-radius:60px;
          background-color: #fdcca3;
          font-weight:500;
          font-size:42px;
          text-align:center;
          float:left;
          @include mq-medium-only {
            font-size:30px;
            width: 60px;
            height: 60px;
          }
        }
        .name-tag {
            float:left;
            width:205px;
            padding-left:25px;
            h2 {
                font-size:22px;
                font-weight:bold;
                padding-top:5px;
                margin-bottom:8px;
                @include mq-medium-only {
                    font-size:16px;
                }
            }
            p {
                font-size:16px;
                margin-bottom:7px;
                @include mq-medium-only {
                    font-size:14px;
                }
            }
        }

    }

    .validate-information {
        background-color: #f5821f;
        width:540px;
        padding:25px;
        color:#fff;
        display:flex;
        float:right;
        border-radius:4px;
        @include mq-medium-only {
            float:none;
            display:block;
            margin:20px auto 0 auto;
            width:90%;
        }
        span {
            font-size:14px;
            @include mq-medium-only {
                font-size:12px;
            }
        }
        p {
            font-weight:bold;
            font-size:34px;
            @include mq-medium-only {
                font-size:20px;
            }
        }
        div {
            flex-grow:1;
        }
    }

    .wrapper {
        display:block;
    }
}
