<template>
	<div class="transaction-container">
        <table class="transaction-table" cellpadding="20">
            <thead>
                <tr>
                    <td>No</td>
                    <td class="flex">
                        <div class="trans-id">Transaction ID</div>
                        <div class="date">Date</div>
                        <div class="subs">Item</div>
                        <div class="status">Status</div>
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(transaction,index) in transactions" :key="transaction.id">
                    <td>
                        {{(page-1)*10 + (index+1) }}
                    </td>
                    <td class="flex info">
                        <div class="trans-id">{{transaction.payment_code}}</div>
                        <div class="date">{{$moment(transaction.created_at).format("DD/MM/YYYY")}}</div>
                        <div class="subs">
                            <span class="is-mobile-info">Item</span>
                            <span class="is-mobile">&nbsp;:&nbsp;</span>
                            {{transaction.item}}
                        </div>

                        <div class="status">
                            <span :class="{'waiting': transaction.status  == 0, 'paid': transaction.status  == 1 }">
                                <span class="is-mobile-info">Status</span>
                                <span class="is-mobile">&nbsp;:&nbsp;</span>
								{{transaction.status  == 1 ? 'Paid' : 'Pending' }}
                        </span>
                       </div>
                    </td>
                    <td>
                        <span @click="openTransactionDetail(transaction.payment_code)">View</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <transition name="fade">
            <PopupTransactionHistoryDetail :paymentCode="paymentCode" @close="closeTransactionDetail" v-if="showTransactionHistoryDetail"/>
        </transition>
    </div>
</template>

<script>
import PopupTransactionHistoryDetail from "~/components/popup/transaction-history-detail/index.vue"
import bookingAPI from '@/api/booking'
export default {
	middleware: ["authenticated", 'verifiedParent'],
	layout: "ParentDashboard",
	components: {
		PopupTransactionHistoryDetail
	},
	data(){
		return {
			page: 1,
			showTransactionHistoryDetail :false
		}
	},
	computed:{
		transactions(){
			return this.$store.state.booking.transactions
		}
	},
	methods:{
		openTransactionDetail(paymentCode){
			this.paymentCode = paymentCode
			this.showTransactionHistoryDetail = true
		},
		closeTransactionDetail(){
			this.showTransactionHistoryDetail = false
		}
	},
	async fetch({store, query, route, $axios}){
		let bookingApi = new bookingAPI($axios)
		let transactions = await bookingApi.getTransactionList()
		store.dispatch('setTransactions',transactions.data.data)
	}
}
</script>


<style lang="scss" src="./style.scss" ></style>
