@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';


.transaction-container {
	padding:30px;
    border-radius:4px;
    background-color:#fff;

    @include mq-medium-only {
    	padding:15px;
    }
	.flex {
		@include mq-medium-only {
			display: block;
		}
	}
	.transaction-table {
		width:100%;
		border:1px solid #e6eaee;
		.trans-id {
			width:30%;
			@include mq-medium-only {
				line-height: 7px;
				font-size:13px;
				color:#a9a6ad;
				width: 100%;
				display: block;
			}
		}
		.date {
			width:20%;
			@include mq-medium-only {
				font-size:13px;
				color:#a9a6ad;
				width: 100%;
				display: block;
			}
		}
		.subs {
			width:30%;
			@include mq-medium-only {
				width: 100%;
			}
		}
		.status {
			width:20%;
			@include mq-medium-only {
				width: 100%;
			}
		}
		thead {
			height:50px;
			background-color: #f4f5f8;
			color:#666;
			font-size:13px;
			@include mq-medium-only {
				display:none;
			}
			td {
				line-height:50px;
				border-bottom:1px solid #e6eaee;
				&:first-child {
					padding-left:20px;
					@include mq-medium-only {
						display:none;
					}
				}
			}
		}
		tbody {
			td {
				line-height:50px;
				border-bottom:1px solid #e6eaee;
				color:#666;
				font-size:13px;
				@include mq-medium-only {
					line-height:30px;
				}
				&:first-child {
					padding-left:20px;
					@include mq-medium-only {
						display:none;
					}
				}
				&:last-child {
					font-size:14px;
					color:#6f41c0;
					text-align:right;
					padding-right:20px;
					cursor:pointer;
				}
			}
			.info {
				.is-mobile-info {
					width:20%;
					display:none;
					@include mq-medium-only {
						display:inline-block;
						line-height: 10px;
					}
				}
				@include mq-medium-only {
					padding:0px 10px 0 10px;
					display: -moz-box;
					display: box;
					-webkit-box-orient: vertical;
					box-orient: vertical;
					width:100%;
				}
			}
			.status {
				.waiting {
					display:block;
					color:#ff93a0;
				}
				.paid {
					color:#534d5c;
					display:block;
					font-weight:bold;
				}
			}
		}
	}
}