<template>
	<li :class="{ 'is-unread': !read }">
		<a v-if="initial != null" href="#">
			<div class="initial">{{ initial }}</div>
			<div class="snippet">
				<strong>{{ sender }}</strong>
				<p>{{ message }}</p>
			</div>
			<span class="datetime">{{ datetime }}</span>
		</a>
		<a v-else href="#">
			<strong v-html="message" />
			<span class="datetime">{{ datetime }}</span>
		</a>
	</li>
</template>

<script>
export default {
	name: "BadgeDropdownItem",
	props: {
		datetime: String,
		initial: String,
		message: {
			type: String,
			required: true
		},
		read: {
			type: Boolean,
			default: false
		},
		sender: String
	}
}
</script>

<style lang="scss">
@import './style.scss';
</style>
