<template>
	<li class="benefit-item" v-animate.repeat="'animate'">
		<img :src="item.imageUrl" :alt="item.alt" class="benefit-item__img">
		<div class="benefit-item__text-wrapper">
			<div>
				<div class="benefit-item__text-wrapper__filler"></div>
				<h3 class="benefit-item__title">{{ $t(item.title) }}</h3>
				<p class="benefit-item__desc">{{ $t(item.desc) }}</p>
				<div class="benefit-item__text-wrapper__filler"></div>
			</div>
		</div>
	</li>
</template>

<script>
import { Benefit } from "~/models";

export default {
  name: "BenefitItem",
  props: {
    item: Benefit
  }
};
</script>

<style lang="scss">
@import "~/assets/style/_mixins.scss";
@import "./style.scss";
</style>
