.benefit-item {
  width: 100%;
  padding: 10vw 7vw;
  overflow: hidden;

  @include mq-medium-up {
    height: 36vw;
    padding: 4.16666vw 11.45833%;
    position: relative;
  }

  &.animate {

    .benefit-item__img,
    .benefit-item__text-wrapper {
      transition-delay: .1s;
      transition-duration: .5s;
      transition-timing-function: linear;
      opacity: 0;
      transform: translateX(-100px);
    }
  }

  &.animate-active {

    .benefit-item__img,
    .benefit-item__text-wrapper {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.benefit-item__img {
  width: 160px;
  display: block;
  margin: 0 auto;
  max-width: 360px;

  @include mq-medium-up {
    width: 30.20833vw;
    max-width: none;
    height: 25.69444vw;
    float: left;
  }
}

.benefit-item__text-wrapper {
  width: 100%;
  margin-top: 27px;
  position: relative;
  z-index: 1;

  @include mq-medium-up {
    display: inline-block;
    width: 45vw;
    height: 25.69444vw;
    padding-left: 4.513888vw;
    padding-top: 0;
  }
}

.benefit-item__text-wrapper div {
  @include mq-medium-up {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.benefit-item__text-wrapper__filler {
  display: none;

  @include mq-medium-up {
    flex-grow: 1;
  }
}

.benefit-item__title {
  text-transform: uppercase;
  width: 500px;
  height: 96px;
  font-family: intro;
  font-size: 32px;
  padding-right: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #282133;

  @include mq-medium-only {
    padding-right: 0;
    width: 300px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.7px;
  }

  @include mq-medium-up {
    padding-right: 0;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.7px;
    line-height: 1.4;
  }
}

.benefit-item__desc {
  width: 580px;
  height: 144px;
  color: #7e7a85;
  font-family: Nexa;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  line-height: 1.8;
  padding-top: 40px;

  @include mq-medium-only {
    width: 100%;
    height: 100px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.2px;
    padding-top: 20px;
    overflow: hidden;
  }

  @include mq-medium-up {
    color: #7e7a85;
    font-size: 20px;
    letter-spacing: -0.3px;
    line-height: 2;
    margin-top: 2.29166%;
  }
}

.benefit-item__desc_expand {
  width: 580px;
  height: 144px;
  color: #7e7a85;
  font-family: Nexa;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  line-height: 1.8;
  padding-top: 40px;
  text-align: right;

  @include mq-medium-only {
    width: 100%;
    height: 100px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.2px;
    padding-top: 20px;
    overflow: hidden;
  }

  @include mq-medium-up {
    color: #7e7a85;
    font-size: 20px;
    letter-spacing: -0.3px;
    line-height: 2;
    margin-top: 2.29166%;
  }
}

.benefit-item:nth-child(2n) {
  background-color: #f0f4f6;
  text-align: right;

  .benefit-item__title,
  .benefit-item__desc {
    width: auto;
    margin-right: -20px;
  }

  .benefit-item__img {
    @include mq-medium-up {
      float: right;
    }
  }

  .benefit-item__text-wrapper {
    @include mq-medium-up {
      padding-left: 0;
      padding-right: 4.513888vw;
    }
  }

  &.animate {

    .benefit-item__img,
    .benefit-item__text-wrapper {
      transition-delay: .1s;
      transition-duration: .5s;
      transition-timing-function: linear;
      opacity: 0;
      transform: translateX(100px)
    }
  }

  &.animate-active {

    .benefit-item__img,
    .benefit-item__text-wrapper {
      opacity: 1;
      transform: translateX(0px)
    }
  }
}
