<template>
	<div>
		<div class="modal-backdrop"></div>
		<div class="modal">
			<div class="popup-box w-680 booking-review-popup">
				<div class="popup-header">
					<h3 class="center-title">{{$t('popup.review.title')}}</h3>
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content">
					<span class="block text-gray mb-5 f-16 center mt">{{booking.activity_name}}</span>
					<span class="block text-dark-gray f-14 center">{{$t('popup.review.booking_code')}} {{booking.booking_code}}</span>
					<p class="mt-30 center">{{$t('popup.review.question')}}</p>
					<div class="rate-category">
						<div class="category">
							<span class="block pt-10 text-dark-gray">{{$t('popup.review.happiness.title')}}</span>
							<div class="review">
								<span @click="rateHappiness(rating)" v-for="(rating) in reviewData.happiness_rating" class="star filled"></span>
								<span @click="rateHappiness(reviewData.happiness_rating+rating)" v-for="(rating) in 5-reviewData.happiness_rating" class="star unfilled"></span>
							</div>
						</div>
						<div class="category">
							<span class="block pt-10 text-dark-gray">{{$t('popup.review.cleanliness.title')}}</span>
							<div class="review">
								<span @click="rateCleaniness(rating)" v-for="(rating) in reviewData.cleanliness_rating" class="star filled"></span>
								<span @click="rateCleaniness(reviewData.cleanliness_rating+rating)" v-for="(rating) in 5-reviewData.cleanliness_rating" class="star unfilled"></span>
							</div>
						</div>
						<div class="category">
							<span class="block pt-10 text-dark-gray">{{$t('popup.review.service.title')}}</span>
							<div class="review">
								<span @click="rateService(rating)" v-for="(rating) in reviewData.service_rating" class="star filled"></span>
								<span @click="rateService(reviewData.service_rating+rating)" v-for="(rating) in 5-reviewData.service_rating" class="star unfilled"></span>
							</div>
						</div>
						<div class="category">
							<span class="block pt-10 text-dark-gray">{{$t('popup.review.safety.title')}}</span>
							<div class="review">
								<span @click="rateSafety(rating)" v-for="(rating) in reviewData.safety_rating" class="star filled"></span>
								<span @click="rateSafety(reviewData.safety_rating+rating)" v-for="(rating) in 5-reviewData.safety_rating" class="star unfilled"></span>
							</div>
						</div>
						
						<div  @click="openRatingGuide()"  class="rate-info is-mobile">
							<span>i</span>
							{{$t('popup.review.guide')}}
						</div>

						<div class="rate-info is-desktop">
							<div  @click="openRatingGuide()" >
								<span>i</span>
								{{$t('popup.review.guide')}}
							</div>
							<div v-if="showRatingGuide"  class="info-content">
								<a class="icon-close" @click="closeRatingGuide()"></a>
								<p class="mb-10">
									<strong>{{$t('popup.review.happiness.title')}}</strong>
									{{$t('popup.review.happiness.guide')}}
								</p>
								<p class="mb-10">
									<strong>{{$t('popup.review.cleanliness.title')}}</strong>
									{{$t('popup.review.cleanliness.guide')}}
								</p>

								<p class="mb-10">
									<strong>{{$t('popup.review.service.title')}}</strong>
									{{$t('popup.review.service.guide')}}
								</p>

								<p class="mb-10">
									<strong>{{$t('popup.review.safety.title')}}</strong>
									{{$t('popup.review.safety.guide')}}
								</p>
							</div>
						</div>
						
					</div>
					<p class="center">{{$t('popup.review.comment')}}</p>
					<textarea v-model="reviewData.content" class="comment-text" :placeholder="$t('popup.review.placeholder')"></textarea>
					<button @click="postReview" :class="{'disabled': !validate() }" class="button orange button-block">{{$t('popup.review.submit')}}</button>
				</div>
			</div>
		</div>
	</div>

</template>
<script>
import reviewAPI from '@/api/review'
import { showErrorAlert } from '~/plugins/helpers'

export default {
	name: "PopupBookingReview",
	props:["booking"],
	data(){
		return {
			showRatingGuide: false,
			reviewData:{
				activity_id: this.booking.activity_id,
				content: '',
				happiness_rating: 0,
				safety_rating: 0,
				service_rating: 0,
				cleanliness_rating: 0
			}
		}
	},
	methods: {
		closePopup(){
			this.$emit("close")
			document.body.classList.remove('is-modal-open');
		},
		openRatingGuide(){
            this.showRatingGuide = true
        },
        closeRatingGuide(){
			this.showRatingGuide = false
		},
		rateHappiness(value){
			this.reviewData.happiness_rating = value
		},
		rateSafety(value){
			this.reviewData.safety_rating = value
		},
		rateService(value){
			this.reviewData.service_rating = value
		},
		rateCleaniness(value){
			this.reviewData.cleanliness_rating = value
		},
		validate(){
			return this.reviewData.content.length && this.reviewData.happiness_rating &&
				this.reviewData.safety_rating && this.reviewData.service_rating && this.reviewData.cleanliness_rating
		},
		postReview(){
			if (this.validate()){ 
				let reviewApi = new reviewAPI(this.$axios)
				reviewApi.postReview(this.reviewData).then((response)=>{
					this.$emit("save")
					document.body.classList.remove('is-modal-open');
				},(error)=>{
					showErrorAlert(this, this.$t('general.error'),true)
				})
			}
		}

	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

