@import "~/assets/style/_variables.scss";
@import "~/assets/style/_mixins.scss";

.booking-review-popup {
  padding: 55px 55px 70px 55px;
  height: 540px;
  overflow-y: scroll;
  .popup-content {
    padding-bottom: 30px;
  }
  .popup-header {
    border-bottom: none;
    margin-bottom: 15px;
    .center-title {
      @include mq-medium-only {
        margin-left: -110px;
        margin-top: 15px;
      }
    }
    .icon-close {
      @include mq-medium-only {
        right: 80px;
        top: 30px;
      }
    }
  }
  h3 {
    text-align: center;
    font-size: 22px;
  }
  p {
    color: #534d5c;
  }
  .rate-category {
    border-bottom: solid 1px #dfe1e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-top: 25px;
    .category {
      margin-bottom: 25px;
      display: flex;
      .text-dark-gray {
        color: #545454;
      }
    }
    .rate-info {
      position: absolute;
      color: #8c67cd;
      font-size: 14px;
      bottom: 10px;
      right: 0px;
      cursor: pointer;
      width: 100%;
      text-align: right;
      span {
        display: inline-block;
        height: 13px;
        width: 13px;
        border-radius: 10px;
        border: 1px solid #8c67cd;
        padding-left: 4px;
        padding-bottom: 0px;
        font-size: 10px;
        text-align: left;
      }
      .info-content {
        display: block;
        position: absolute;
        bottom: -225px;
        background-color: #444;
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        .icon-close {
          color: #fff;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        p {
          color: #fff;
          font-size: 12px;
          line-height: 16px;
          text-align: left;
          strong {
            font-weight: bold;
            display: block;
            margin-bottom: 4px;
          }
        }
      }

      .info-content:after,
      .info-content:before {
        bottom: 100%;
        right: 17%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .info-content:after {
        border-color: rgba(68, 68, 68, 0);
        border-bottom-color: #444;
        border-width: 8px;
        margin-left: -8px;
      }
      .info-content:before {
        border-color: rgba(0, 0, 0, 0);
        border-width: 14px;
        margin-left: -14px;
      }
      &:hover {
        .info-content {
          display: block;
        }
      }
    }
    .review {
      width: 120px;
      text-align: right;
      font-size: 10px;
      color: #666;
      flex-grow: 1;
      .star {
        height: 24px;
        width: 24px;
        cursor: pointer;
        margin-left: 12px;
        @include mq-medium-only {
          height: 12px;
          width: 12px;
          margin-left: 1px;
        }
        display: inline-block;
        &.filled {
          background: url("~/static/star-filled.png");
          background-size: cover;
        }
        &.unfilled {
          background: url("~/static/star-unfilled.png");
          background-size: cover;
        }
      }
    }
  }
  .comment-text {
    background-color: #f7f7f7;
    height: 130px;
    display: block;
    padding: 10px;
    border: 1px solid #ebecf0;
    border-radius: 4px;
    resize: none;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
    &:placeholder {
      color: red;
      font-size: 12px;
    }
  }
}
