<template>
	<div class="dp">
		<single-date-picker v-for="calIndex in nMonth"
			:key="calIndex"
			:index="calIndex - 1"
			:dates="dates[calIndex - 1]"
			:mode="mode"
			:month-string="monthString(calIndex - 1)"
			:show-prev-button="showPrevButton(calIndex - 1)"
			:show-next-button="showNextButton(calIndex - 1)"
			@click-prev="onClickPrev"
			@click-next="onClickNext"
			@click-cell="onClickCell"
			/>
	</div>
</template>

<script>
import SingleDatePicker from './single.vue';

const dateFormat = 'YYYY-MM-DD';
const SATURDAY = 5;
const SUNDAY = 6;

export default {
	name: "DatePicker",
	components: { SingleDatePicker },
	data() {
		return {
			x: 0,
			dates: [],
			selectedCell: null,
			minX: -1,
			maxX: -1
		}
	},
	created() {
		const thisMonth = this.$moment().month()
		const thisYear = this.$moment().year()
		if (this.from !== '') {
			const fromMonth = this.$moment(this.from, dateFormat).month()
			const fromYear = this.$moment(this.from, dateFormat).year()

			this.x = fromMonth - thisMonth + (fromYear - thisYear) * 12
			this.minX = this.x
		}
		if (this.to !== '') {
			const toMonth = this.$moment(this.to, dateFormat).month()
			const toYear = this.$moment(this.to, dateFormat).year()
			this.maxX = toMonth - thisMonth + (toYear - thisYear) * 12;
		}
		for (let i = 0; i < this.nMonth; i++) {
			this.dates.push(this.getDates(this.x + i, i));
		}
	},
	props: {
		nMonth: {
			type: Number,
			default: 1
		},
		mode: {
			type: String,
			default: 'multiple'
		},
		holidays: {
			type: Array,
			default: []
		},
		selectedDates: {
			type: Array,
			default() {
				return [];
			}
		},
		from: {
			type: String,
			default: ""
		},
		to: {
			type: String,
			default: ""
		}
	},
	methods: {
		isSingleMode() {
			return this.mode == 'single' || this.mode == 's';
		},
		isMultipleMode() {
			return this.mode == 'multiple' || this.mode == 'm';
		},
		onClickPrev() {
			this.x -= 1;
			if (this.isSingleMode() && this.selectedCell !== null) {
				if (this.selectedCell.calIndex == this.nMonth - 1) {
					this.selectedCell = null;
				} else {
					const newCalIndex = this.selectedCell.calIndex + 1;
					this.selectedCell = Object.assign(this.selectedCell, { calIndex: newCalIndex })
				}
			}
			this.dates.unshift(this.getDates(this.x, 0));
			this.dates.pop();
		},
		onClickNext() {
			this.dates.push(this.getDates(this.x + this.nMonth, this.nMonth));
			this.dates.shift();
			if (this.isSingleMode() && this.selectedCell !== null) {
				if (this.selectedCell.calIndex == 0) {
					this.selectedCell = null;
				} else {
					const newCalIndex = this.selectedCell.calIndex - 1;
					this.selectedCell = Object.assign(this.selectedCell, { calIndex: newCalIndex })
				}
			}
			this.x += 1;
		},
		onClickCell(param) {
			const { index: calIndex, row, col, el } = param;

			if (!el.inThisMonth) return;

			// add/remove clicked date from selected dates
			const index = this.selectedDates.indexOf(el.moment);
			if (index > -1) {
				if (this.isMultipleMode()) this.selectedDates.splice(index, 1);
			} else {
				if (this.isMultipleMode()) this.selectedDates.push(el.moment);
				else if (this.isSingleMode()) {
					this.selectedDates.pop();
					this.selectedDates.push(el.moment);
				}
			}

			// update cells' state
			if (this.isMultipleMode()) {
				const updated = Object.assign(el, {
					selected: !el.selected
				});
				this.dates[calIndex][row].splice(col, 1, updated);
			} else if (this.isSingleMode() && !el.selected) {
				// deselect previous selected cell
				if (this.selectedCell !== null) {
					let previousCellSelected = this.dates[this.selectedCell.calIndex][this.selectedCell.x][this.selectedCell.y];
					this.dates[this.selectedCell.calIndex][this.selectedCell.x].splice(this.selectedCell.y, 1,
						Object.assign(previousCellSelected, { selected: false })
					);
				}
				this.dates[calIndex][row].splice(col, 1, Object.assign(el, { selected: true }));
				this.selectedCell = { calIndex, x: row, y: col };
			}

			this.$emit('select-date', this.selectedDates);
		},
		showPrevButton(index) {
			let atFromMonth = false
			if (this.minX != -1) {
				atFromMonth = this.minX == (this.x + index)
			}
			return index == 0 && !atFromMonth;
		},
		showNextButton(index) {
			let atToMonth = false
			if (this.maxX != -1) {
				atToMonth = (this.x + index) == this.maxX
			}
			return index == this.nMonth - 1 && !atToMonth;
		},
		monthString(index) {
			return this.$moment().add(this.x + index, 'M').format('MMMM YYYY');
		},
		firstDayInCal(monthFromNow) {
			return this.$moment().date(1)
				.add(monthFromNow, 'M')
				.date(1)
				.add(-1, 'days')
				.startOf('week')
				.add(1, 'days');
		},
		lastDayInCal(monthFromNow) {
			return this.$moment().date(1)
				.add(monthFromNow, 'M')
				.add(1, 'M')
				.date(0)
				.add(-1, 'days')
				.endOf('week')
				.add(1, 'days');
		},
		dayIndex(x) {
			return (x + 6) % 7;
		},
		getDates(monthFromNow, calIndex) {
			let result = [];
			const month = this.$moment().add(monthFromNow, 'M');
			const firstDayInCal = this.firstDayInCal(monthFromNow);
			const lastDayInCal = this.lastDayInCal(monthFromNow);

			let currentDay = firstDayInCal;
			let week = 0;
			result[week] = [];
			let dayIndex = this.dayIndex(currentDay.day()); // 0 is Monday

			const from = (this.from === '') ?
				this.$moment('1970-01-01', dateFormat) :
				this.$moment(this.from, dateFormat);
			const to = (this.to === '') ?
				this.$moment('2070-12-31', dateFormat) :
				this.$moment(this.to, dateFormat);

			while (currentDay.isSameOrBefore(lastDayInCal)) {
				const date = currentDay.clone();
				const inThisMonth = currentDay.month() == month.month();
				const selected = (this.selectedDates.indexOf(date) > -1 && inThisMonth);
				const isHoliday = dayIndex == SATURDAY || dayIndex == SUNDAY ||
					(this.holidays.indexOf(date) > -1);

				result[week][dayIndex] = {
					moment: date,
					inThisMonth: currentDay.month() == month.month(),
					selected,
					holiday: isHoliday,
					inRange: currentDay.isBetween(from, to, null, [])
				}
				if (this.isSingleMode() && selected) {
					this.selectedCell = {
						calIndex,
						x: week,
						y: this.dayIndex(currentDay.day())
					};
				}

				currentDay = currentDay.add(1, 'd');
				if (currentDay.isAfter(lastDayInCal)) break;
				dayIndex = this.dayIndex(currentDay.day());

				if (dayIndex == 0) {
					week = week + 1;
					result[week] = [];
				}
			}
			return result;
		}
	}
}
</script>

<style>
@import './style.css';
</style>
