<template>
	<div class="dp__single">
		<div class="dp__header">
			<button class="dp__btn"
				:class="{ 'is-hidden' : !showPrevButton }"
				@click="onClickPrev">
				<span class="prev">
					<span class="icon-arrow-left"></span>
				</span>
			</button>
			<p class="dp__month">{{ monthString }}</p>
			<button class="dp__btn"
				:class="{ 'is-hidden' : !showNextButton }"
				@click="onClickNext">
				<span class="next">
					<span class="icon-arrow-right"></span>
				</span>
			</button>
		</div>
		<div class="dp__cal">
			<div class="dp__header-row">
				<div v-for="dayIndex in 7" :key="dayIndex" class="dp__header-cell">
					{{ dayName(dayIndex - 1) }}
				</div>
			</div>
			<div v-for="(week, row) in dates" :key="row" class="dp__row">
				<date-picker-cell
					v-for="(day, column) in week"
					:key="column"
					:cell="day"
					@click='onClickCell(index, row, column, day)'
					/>
			</div>
		</div>
	</div>
</template>

<script>
import DatePickerCell from './cell/index.vue';

export default {
	name: "SingleDatePicker",
	components: { DatePickerCell },
	data() {
		return {
		};
	},
	props: {
		index: {
			type: Number,
			required: true
		},
		monthString: {
			type: String,
			required: true
		},
		dates: {
			type: Array,
			required: true
		},
		selectedCell: { // only used in single mode
			type: Object,
			default: function() {
				return { x: -1, y: -1 };
			}
		},
		holidays: {
			type: Array,
			default: function() {
				return [];
			}
		},
		mode: {
			type: String,
			default: 'multiple'
		},
		showPrevButton: {
			type: Boolean,
			default: true
		},
		showNextButton: {
			type: Boolean,
			default: true
		}
	},
	methods: {
		onClickPrev() {
			this.$emit('click-prev');
		},
		onClickNext() {
			this.$emit('click-next');
		},
		dayName(dayIndex) {
			return this.$moment().startOf('week').add(dayIndex + 1, 'days').format('ddd');
		},
		onClickCell(index, row, col, el) {
			this.$emit('click-cell', {index, row, col, el});
		}
	}
}
</script>

<style>

</style>
