.dp__single {
	display: inline-block;
	width: 280px;
	vertical-align: top;
}

.dp__single:not(:first-child) {
	margin-left: 16px;
}

.dp__header {
	display: flex;
	height: 30px;
}

.dp__month {
  flex-grow: 1;
  text-align: center;
  line-height: 30px;
}

.dp__btn {
	width: 40px;
	display: inline-block;
}

.dp__cal {
  width: 100%;
}

.dp__header-row {
	height: 30px;
}

.dp__header-cell {
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  border-right: 0;
  text-align: center;
}

.dp__cell,
.dp__cell--inactive {
	display: inline-block;
	width: 40px;
	height: 30px;
	line-height: 30px;
	border: 1px solid black;
	border-right: 0;
	text-align: center;
}

.dp__header-cell:last-child {
	border-right: 1px solid black;
}

.dp__cell--inactive {
	background-color: gray;
	color: white;
}

.dp__cell--holiday {
	color: red;
}

.dp__cell--selected {
	background-color: #7f00ff;
	color: white;
}

.dp__cell:hover {
	background-color: #ccf;
	color: white;
	cursor: pointer;
}

.dp__cell--selected:hover {
	background-color: #7f00ff;
	color: white;
}

.dp__cell:last-child,
.dp__cell--inactive:last-child {
	border-right: 1px solid black;
}
