<template>
	<div class="breadcrumb">
		<ul>
			<li v-for="item in list" v-bind:key="item.index">
				<nuxt-link v-bind:to="$i18n.path(item.link)">{{ item.title }}</nuxt-link>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: "AppBreadcrumb",
	props: ['list']
};
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
