.dashboard{
	.breadcrumb{
		overflow: hidden;
		margin-bottom: 25px;
		@include mq-medium-only{
			margin-bottom: 15px;
			padding-left: 8px;
		}
		ul{
			padding: 3px 0;
			li{
				float: left;
				position: relative;
				padding-right: 20px;
				a{
					text-decoration: none;
					font-family: $f-circularstd;
					font-size: 12px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: left;
					color: #666666;
				}
				&::after{
					content: $icon-arrow-right;
					font-family: $f-psicon;
					font-size: 7px;
					color: #999999;
					position: absolute;
					right: 6px;
					top: 7px;
				}
				&:last-child{
					pointer-events: none;
					&::after{
						display: none;
					}
					a{
						color: #999999;
					}
				}
			}
		}
	}
}
