<template>
	<div class="parent">
		<div class="parent-jumbtron">
			<div class="wrapper">
				<h2 class="mb-25 center section-title mid">
					{{$t('parent.landing.section_login.section_title_login')}}
				</h2>
				<div class="get-started">
					<p class="mb-30 text-white center">{{$t('parent.landing.section_login.get_started')}}</p>
					<!--<button class="button facebook button-md">
						Facebook
					</button>
					<button class="button google button-md">
						Google
					</button>
					<div class="divider mt-15 mb-15">
						<span class="block text-white">or</span>
					</div> -->
					<button class="button button-block purple-no-bg" @click="onClickLoginButton">
						{{$t('parent.landing.section_login.sign_up_parent')}}
					</button>

				</div>
			</div>
		</div>
			<transition name="fade">
				<popup-login v-if="showPopUpLogin" @popup-login-close="onClickLoginPopupClose" :form-type="formType" />
			</transition>

		<div class="discover">
			<div class="wrapper">
				<h2 class="mb-25 center section-title">{{$t('parent.landing.section_discover.section_title_discover')}}</h2>
				<p class="section-subtitle center">{{$t('parent.landing.section_discover.section_subtile_discover')}}

				</p>
			</div>
		</div>

		<div class="feature is-desktop">
			<div class="feat-top"></div>
			<div class="feat-btm"></div>
			<div class="wrapper">
				<h2 class="center section-title">{{$t('parent.landing.section_kids_activity.section_title_kids_center')}}</h2>
				<div class="flex">

					<ul class="feat-left">

						<li :class="{'is-active': showFeat2}" @mouseover="feat2()" @click="feat2()">
							<h3 class="purple">{{$t('parent.landing.section_kids_activity.section_choose')}}</h3>
							<p>{{$t('parent.landing.section_kids_activity.sub_section_choose')}}</p>
							<span class="icon icon-filter-item purple"></span>
						</li>
						<li :class="{'is-active': showFeat1}" @mouseover="feat1()" @click="feat1()">

							<h3 class="orange">{{$t('parent.landing.section_kids_activity.section_explore_daily')}}</h3>
							<p>{{$t('parent.landing.section_kids_activity.sub_section_explore_daily')}}</p>
							<span class="icon icon-calendar-12 orange">

							</span>

						</li>
						<li :class="{'is-active': showFeat3}" @mouseover="feat3()" @click="feat3()">
							<h3 class="orange">{{$t('parent.landing.section_kids_activity.section_clear_information')}}</h3>
							<p>{{$t('parent.landing.section_kids_activity.sub_section_clear_information')}}</p>
							<span class="icon icon-search-doc orange"></span>
						</li>
					</ul>

					<div class="phone">
						<div class="sparkle-top "></div>
						<div class="image-fit">
							<div v-if="showFeat1">
								<img src="~/assets/images/parent/feat1.png">
							</div>
							<div v-if="showFeat2">
								<img src="~/assets/images/parent/feat2.png">
							</div>
							<div v-if="showFeat3">
								<img src="~/assets/images/parent/feat3.png">
							</div>
							<div v-if="showFeat4">
								<img src="~/assets/images/parent/feat4.png">
							</div>
							<div v-if="showFeat5">
								<img src="~/assets/images/parent/feat5.png">
							</div>
							<div v-if="showFeat6">
								<img src="~/assets/images/parent/feat6.png">
							</div>
						</div>
						<div class="sparkle-btm "></div>
					</div>

					<ul class="feat-right">
						<li  :class="{'is-active': showFeat4}" @mouseover="feat4()" @click="feat4()" >
							<h3 class="purple">{{$t('parent.landing.section_kids_activity.section_easy_booking')}}</h3>
							<p>{{$t('parent.landing.section_kids_activity.sub_section_easy_booking')}}</p>
							<span class="icon icon-easy-bookings purple"></span>
						</li>
						<li  :class="{'is-active': showFeat5}" @mouseover="feat5()" @click="feat5()">
							<h3 class="orange">{{$t('parent.landing.section_kids_activity.section_effortless')}}</h3>
							<p>{{$t('parent.landing.section_kids_activity.sub_section_effortless')}}</p>
							<span class="icon icon-paperless orange"></span>
						</li>
						<li  :class="{'is-active': showFeat6}" @mouseover="feat6()" @click="feat6()">
							<h3 class="purple">{{$t('parent.landing.section_kids_activity.section_from_parent')}}</h3>
							<p>{{$t('parent.landing.section_kids_activity.sub_section_from_parent')}}</p>
							<span class="icon icon-bold-star purple"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="feature is-mobile">
			<div class="feat-top"></div>
			<div class="feat-btm"></div>
			<div class="wrapper">
				<h2 class="center section-title">What We Have for You</h2>
				<div class="image-slide">
					<span @click="prevFeat" class="icon-arrow-left"></span>
					<div class="phone is-mobile">
						<div v-if="showFeat1" class="image-fit is-mobile">
							<img class="is-mobile" src="~/assets/images/parent/feat1.png">
						</div>
						<div v-if="showFeat2" class="image-fit is-mobile">
							<img class="is-mobile" src="~/assets/images/parent/feat2.png">
						</div>
						<div v-if="showFeat3" class="image-fit is-mobile">
							<img class="is-mobile" src="~/assets/images/parent/feat3.png">
						</div>
						<div v-if="showFeat4" class="image-fit is-mobile">
							<img class="is-mobile" src="~/assets/images/parent/feat4.png">
						</div>
						<div v-if="showFeat5" class="image-fit is-mobile">
							<img class="is-mobile" src="~/assets/images/parent/feat5.png">
						</div>
						<div v-if="showFeat6" class="image-fit is-mobile">
							<img class="is-mobile" src="~/assets/images/parent/feat6.png">
						</div>
					</div>
					<span @click="nextFeat" class="icon-arrow-right"></span>
				</div>
				<div v-if="showFeat1" class="detail-feat relative">
					<span class="icon icon-calendar-12 orange is-mobile"></span>
					<h3 class="orange">{{$t('parent.landing.section_kids_activity.section_explore_daily')}}</h3>
					<p>{{$t('parent.landing.section_kids_activity.sub_section_explore_daily')}}</p>
				</div>
				<div v-if="showFeat2" class="detail-feat relative">
					<span class="icon icon-filter-item purple is-mobile"></span>
					<h3 class="purple">{{$t('parent.landing.section_kids_activity.section_choose')}}</h3>
					<p>{{$t('parent.landing.section_kids_activity.sub_section_choose')}}</p>
				</div>
				<div v-if="showFeat3" class="detail-feat relative">
					<span class="icon  icon-search-doc orange is-mobile"></span>
					<h3 class="orange">{{$t('parent.landing.section_kids_activity.section_clear_information')}}</h3>
					<p>{{$t('parent.landing.section_kids_activity.sub_section_clear_information')}}</p>
				</div>
				<div v-if="showFeat4" class="detail-feat relative">
					<span class="icon icon-search-doc purple is-mobile"></span>
					<h3 class="purple">{{$t('parent.landing.section_kids_activity.section_easy_booking')}}</h3>
					<p>{{$t('parent.landing.section_kids_activity.sub_section_easy_booking')}}</p>
				</div>
				<div v-if="showFeat5" class="detail-feat relative">
					<span class="icon icon-paperless orange is-mobile"></span>
					<h3 class="orange">{{$t('parent.landing.section_kids_activity.section_effortless')}}</h3>
					<p>{{$t('parent.landing.section_kids_activity.sub_section_effortless')}}</p>
				</div>
				<div v-if="showFeat6" class="detail-feat relative">
					<span class="icon icon-bold-star purple is-mobile"></span>
					<h3 class="purple">{{$t('parent.landing.section_kids_activity.section_from_parent')}}</h3>
					<p>{{$t('parent.landing.section_kids_activity.sub_section_from_parent')}}</p>
				</div>
			</div>
		</div>

		<div class="partner">
			<div class="wrapper">
				<h2 class="section-title mb-25 center">
					{{$t('parent.landing.section_partner.our_partner')}}
				</h2>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/funletcis.png">
					</div>
				</div>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/ohayo-logo.jpg">
					</div>
				</div>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/let-s-champ.png">
					</div>
				</div>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/riang-kemintang.jpg">
					</div>
				</div>

				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/masa-kecil.png">
					</div>
				</div>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/lil-hoopsters.png">
					</div>
				</div>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/club-kembang.png">
					</div>
				</div>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/kidsbekids.jpg">
					</div>
				</div>
				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/ganara-art.png">
					</div>
				</div>

				<div class="list-partner">
					<div class="circle">
						<img  src="~/assets/images/parent/partners/kindy-cloud.png">
					</div>
				</div>

				<a href="#" class="block center pt-40 f-14 text-light-gray">{{$t('parent.landing.section_partner.any_many_more')}}</a>
			</div>
		</div>

		<div class="package">
			<h2 class="section-title">{{$t('parent.landing.section_join_parent.title_join_parent')}}<br>
			<span class="text-orange">{{$t('parent.landing.section_join_parent.title_special_offer')}}</span></h2>
			<div class="wrapper">

				<div class="package-thumb">

					<h3 class="package-name">{{$t('parent.landing.section_packages.packages_type_1')}}</h3>
					<span class="f-14 text-light-gray mt-20 mb-30">{{$t('parent.landing.section_packages.unused_pass')}}</span>
					<div @click="openPassDetail" class="pass-details">
                        <span>i</span> {{$t('parent.landing.section_packages.pass_details')}}
                    </div>
					<span class="divider"></span>
					<span class="price">RP 359,000</span>
					<span class="month block">{{$t('parent.landing.section_packages.per_month')}}</span>
					<button class="Large-Button" @click="onClickLoginButton">{{$t('parent.landing.section_packages.join_now')}}</button>

				</div>
				<div class="package-thumb">

					<h3 class="package-name">{{$t('parent.landing.section_packages.packages_type_2')}}</h3>
					<span class="f-14 text-light-gray mt-20 mb-30">{{$t('parent.landing.section_packages.unused_pass')}}</span>
					<div @click="openPassDetail" class="pass-details">
                        <span>i</span> {{$t('parent.landing.section_packages.pass_details')}}
                    </div>
					<span class="divider"></span>
					<span class="price">Rp 549,000</span>
					<span class="month block">{{$t('parent.landing.section_packages.per_month')}}</span>
					<button class="Large-Button" @click="onClickLoginButton">{{$t('parent.landing.section_packages.join_now')}}</button>

				</div>
				<div class="package-thumb">
					<h3 class="package-name">{{$t('parent.landing.section_packages.packages_type_3')}}</h3>
					<span class="f-14 text-light-gray mt-20 mb-30">{{$t('parent.landing.section_packages.unused_pass')}}</span>
					<div @click="openPassDetail" class="pass-details">
                        <span>i</span>{{$t('parent.landing.section_packages.pass_details')}}
                    </div>
					<span class="divider"></span>
					<span class="price">Rp 999,000</span>
					<span class="month block">{{$t('parent.landing.section_packages.per_month')}}</span>
					<button class="Large-Button" @click="onClickLoginButton">{{$t('parent.landing.section_packages.join_now')}}</button>
				</div>
			</div>
		</div>

		<!-- Start subcribe section -->
		<!-- <div class="subscribe">
			<div class="wrapper">
				<h2 class="section-title center">Subscribe to Our Newsletter</h2>
				<p class="center mt-20 section-subtitle">Join our subscribe list to get the newest updates and latest offers <br> delivered directly to your inbox</p>
				<form class="mt-35">
					<input type="text" name="email" placeholder="E-mail Address">
					<button>Subscribe</button>
				</form>
			</div>
		</div> -->
		<!-- End subcribe section -->
		<div class="section-app-promotion">
			<div class="ornament-top"></div>
			<div class="ornament-bot"></div>
			<div class="wrapper">
				<div class="app-ios"></div>
				<div class="content-app">
					<h2 class="text-book">{{$t('parent.landing.section_app_promotion.section_app_title')}}</h2>
					<h3 class="text-lowest-price">{{$t('parent.landing.section_app_promotion.section_sub_app')}}</h3>
					<span class="app-store"></span>
				</div>
			</div>
		</div>

		<div class="become-partner">
			<div class="wrapper">
				<h2 class="section-title center">{{$t('parent.landing.section_become_partner.section_title')}}</h2>
				<p class="center mt-20 section-subtitle">{{$t('parent.landing.section_become_partner.section_provide_kids')}}<br>{{$t('parent.landing.section_become_partner.section_sub_provide_kids')}}</p>
				<nuxt-link :to="$i18n.path('partner')" class="center">{{$t('parent.landing.section_become_partner.section_button_become')}}</nuxt-link>
			</div>
		</div>

		<transition name="fade">
			<PopupPassDetail v-if="showPassDetail" @close="closePassDetail" />
		</transition>

	</div>
</template>

<script>
import PopupLogin from '~/components/popup/login';
import PopupPassDetail from "~/components/popup/pass-detail/index.vue";

export default {
  layout: "DefaultParent",
  components: {
    PopupLogin,
    PopupPassDetail
  },
  data() {
    return {
      popUpForm: "",
      showPassDetail: false,
      showFeat1: true,
      showFeat2: false,
      showFeat3: false,
      showFeat4: false,
      showFeat5: false,
	  showFeat6: false,
	  showPopUpLogin: false,
	  formType: 'login',
	  feat:1
    };
  },
  props: {
    popupLogin: {
      type: Boolean,
      default: false
    }
  },
  methods: {
	openPassDetail(){
		this.showPassDetail = true
	},
	closePassDetail(){
		this.showPassDetail = false
	},
	onClickLoginButton() {
		this.$nuxt.$router.push({path:'/login'})
	},
	onClickLoginPopupClose() {
		this.showPopUpLogin = false;
	},
    openPopupLogin() {
      this.popUpForm = "login";
      this.popupLogin = true;
    },
    closePopupLogin() {
      this.popupLogin = false;
	},
	prevFeat(){
		this.feat--
		if (this.feat==0)
			this.feat=6
		this['feat'+this.feat]()
	},
	nextFeat(){
		this.feat++
		if (this.feat==7)
			this.feat=1
		this['feat'+this.feat]()
	},
    feat1() {
      this.showFeat1 = true;
      this.showFeat2 = false;
      this.showFeat3 = false;
      this.showFeat4 = false;
      this.showFeat5 = false;
	  this.showFeat6 = false;
	  this.feat=1
    },
    feat2() {
      this.showFeat1 = false;
      this.showFeat2 = true;
      this.showFeat3 = false;
      this.showFeat4 = false;
      this.showFeat5 = false;
	  this.showFeat6 = false;
	  this.feat=2
    },
    feat3() {
      this.showFeat1 = false;
      this.showFeat2 = false;
      this.showFeat3 = true;
      this.showFeat4 = false;
      this.showFeat5 = false;
	  this.showFeat6 = false;
	  this.feat=3
    },
    feat4() {
      this.showFeat1 = false;
      this.showFeat2 = false;
      this.showFeat3 = false;
      this.showFeat4 = true;
      this.showFeat5 = false;
	  this.showFeat6 = false;
	  this.feat=4
    },
    feat5() {
      this.showFeat1 = false;
      this.showFeat2 = false;
      this.showFeat3 = false;
      this.showFeat4 = false;
      this.showFeat5 = true;
	  this.showFeat6 = false;
	  this.feat=5
    },
    feat6() {
      this.showFeat1 = false;
      this.showFeat2 = false;
      this.showFeat3 = false;
      this.showFeat4 = false;
      this.showFeat5 = false;
	  this.showFeat6 = true;
	  this.feat=6
    }
  }
};
</script>


<style lang="scss" src="./style.scss" scoped />


