@import "~/assets/style/_variables.scss";
@import "~/assets/style/_mixins.scss";
.parent {
  padding-bottom: 180px;
  @include mq-medium-only {
    padding-bottom: 0px;
  }
  .mid {
    margin: auto;
    width: 50%;
  }
  h2 {
    font-family: $f-intro;
  }
  .section-title {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
    @include mq-medium-only {
      font-size: 20px;
    }
  }
  .section-subtitle {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
    font-family: $f-circularstd;
  }
  .parent-jumbtron {
    background-image: url("~/assets/images/parent/bg-parent-landing-page.jpg");
    background-size: cover;
    padding: 50px 0px 50px 0px;
    .section-title {
      width: 648px;
      @include mq-medium-only {
        width: 100%;
        font-size: 18px;
        padding: 0 50px 0 50px;
      }
    }
    .get-started {
      width: 320px;
      margin: 30px auto 0 auto;
      .facebook {
        margin-right: 20px;
      }
      @include mq-medium-only {
        width: 300px;
        p {
          font-size: 12px;
        }
        .facebook {
          width: 142px;
          margin-right: 10px;
        }
        .google {
          width: 145px;
        }
      }
      .divider {
        width: 100%;
        span {
          width: 30px;
          height: 10px;
          margin: auto;
        }
      }
    }
  }
  .discover {
    background-color: #faa61a;
    background-image: url("~/assets/images/parent/regis-landing.png");
    background-size: cover;
    padding: 50px 0px 50px 0px;
    @include mq-medium-only {
      padding: 50px 15px 50px 15px;
    }
    p {
      font-size: 18px;
      text-align: center;
      color: #ffffff;
      margin: 30px auto 0 auto;
      width: 665px;
      @include mq-medium-only {
        width: 100%;
      }
    }
  }
  .feature {
    padding: 50px 0px 100px 0px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    &.is-mobile {
      padding: 50px 0px 20px 0px;
      .image-slide {
        position:relative;
        .icon-arrow-left {
          position:absolute;
          left:10px;
          top:45%;
          font-size:25px;
          color:#8c67cd;
          cursor:pointer;
        }
        .icon-arrow-right {
          position:absolute;
          right:10px;
          top:45%;
          font-size:25px;
          color:#8c67cd;
          cursor:pointer;
        }
      }
      .detail-feat {
        width:300px;
        padding:25px 20px 20px 20px;
        border-radius:10px;
        background-color:#fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
        margin: -44px auto 0 auto;
        h3 {
          text-align:center;
          font-size:20px;
          &.orange {
            color:#faa61a;
          }
        }
        p {
          text-align:center;
          color:#534d5c;
          margin-top:10px;
        }
        .icon {
          top:-14px;
          right:46%;
          &.is-mobile {
            height:30px;
            width:30px;
            font-size: 18px;
            padding-top: 6px;
          }
          &.orange {
            color: #fff;
            background-color:#faa61a;
          }
          &.purple {
            background-color: #8c67cd;
            color: #fff;
          }
        }
      }
    }
    
    h2 {
      margin-bottom: 55px;
      @include mq-medium-only {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    h3 {
      margin-bottom: 7px;
      font-weight: bold;
      color: #a9a6ad;
      font-family: $f-intro;
      font-size: 18px;
    }
    p {
      color: #d4d3d6;
      font-size: 16px;
      line-height: 18px;
    }
    .wrapper {
      padding-left: 57px;
      padding-right: 57px;
      @include mq-medium-only {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .section-title {
      color: #444;
    }
    .feat-left,
    .feat-right {
      height: 545px;
      width: 445px;
    }
    .icon {
      position: absolute;
      right: 15px;
      top: 25px;
      height: 50px;
      width: 50px;
      overflow: hidden;
      background-color: #f4f5f7;
      display: block;
      border-radius: 40px;
      color: #a9a6ad;
      text-align: center;
      font-size: 24px;
      padding-top: 11px;
    }
    .feat-left {
      li {
        position: relative;
        padding: 25px 80px 0px 25px;
        margin-right: 30px;
        text-align: right;
        height: 150px;
        cursor: pointer;
        &.is-active {
          transition: box-shadow 0.5s ease-in-out;
          border-radius: 10px;
          -webkit-box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          -moz-box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          background-color: #ffffff;
          .orange {
            color: #faa61a;
            transition: color 0.4s;
          }
          p {
            color: #534d5c;
            transition: color 0.5s;
          }
          .icon {
            color: #fff;
            &.purple {
              background-color: #8c67cd;
              color: #fff;
            }
            &.orange {
              background-color: #faa61a;
              color: #fff;
            }
          }
        }
        &:hover {
          transition: box-shadow 0.5s ease-in-out;
          border-radius: 10px;
          -webkit-box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          -moz-box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          background-color: #ffffff;
          .orange {
            color: #faa61a;
            transition: color 0.4s;
          }
          .icon {
            color: #fff;
            &.purple {
              background-color: #8c67cd;
              color: #fff;
            }
            &.orange {
              background-color: #faa61a;
              color: #fff;
            }
          }
          .purple {
            color: #8c67cd;
            transition: color 0.4s;
          }
          p {
            color: #534d5c;
            transition: color 0.5s;
          }
        }
      }
    }
    .feat-right {
      li {
        text-align: left;
        position: relative;
        padding: 25px 25px 0px 80px;
        margin-left: 30px;
        height: 150px;
        cursor: pointer;
        &:hover {
          cursor: pointer;
          border-radius: 10px;
          -webkit-box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          -moz-box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          box-shadow: -2px -2px 30px 2px rgba(189, 185, 189, 0.73);
          background-color: #ffffff;
          transition: box-shadow 0.5s ease-in-out;
          .orange {
            color: #faa61a;
            transition: color 0.4s;
          }
          .icon {
            color: #fff;
            &.purple {
              background-color: #8c67cd;
              color: #fff;
            }
            &.orange {
              background-color: #faa61a;
              color: #fff;
            }
          }
          .purple {
            color: #8c67cd;
            transition: color 0.4s;
          }
          p {
            color: #534d5c;
            transition: color 0.5s;
          }
        }
      }
      .icon {
        left: 15px;
        top: 25px;
      }
    }
    .phone {
      height: 545px;
      background-image: url("~/assets/images/parent/hp-silver.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center top;
      width: 273px;
      flex-grow: 1;
      position: relative;
      &.is-mobile {
        width:185px;
        height:388px;
        margin:auto;
        img {

        }
      }
      .image-fit {
        width: 90%;
        height: 74%;
        margin: 20% auto 0 auto;
        overflow: hidden;
        &.is-mobile {
          height:88%;
          margin:0% auto 0 auto;
        }
        img {
          object-fit: fill;
          width: 100%;
          &.is-mobile {
            margin-top:35px;
          }
        }
      }
      .sparkle-top {
        background-image: url("~/assets/images/parent/sparkle-top.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 64px;
        height: 62px;
        top: -35px;
        right: -40px;
        position: absolute;
      }
      .sparkle-btm {
        background-image: url("~/assets/images/parent/sparkle-btm.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 35px;
        height: 80px;
        bottom: 20px;
        left: -35px;
        position: absolute;
      }
    }
    .feat-top {
      background-image: url("~/assets/images/parent/feat-top.png");
      background-size: contain;
      background-repeat: no-repeat;
      top: 40px;
      left: -20px;
      width: 160px;
      height: 336px;
      position: absolute;
      @include mq-medium-only {
        width: 55px;
      }
    }
    .feat-btm {
      background-image: url("~/assets/images/parent/feat-btm.png");
      background-size: contain;
      background-repeat: no-repeat;
      bottom: -4px;
      right: 0px;
      width: 268px;
      height: 229px;
      position: absolute;
      @include mq-medium-only {
        width: 100px;
        height: 84px;
        bottom: 0px;
      }
    }
  }
  .partner {
    min-height: 100px;
    padding: 50px 0px 50px 0px;
    background-color: #fafafa;
    .section-title {
      color: #444;
    }
    .list-partner {
      width: 20%;
      display: inline-block;
      margin-top: 20px;
      @include mq-medium-only {
        width: 50%;
      }
      img {
        display: block;
        width: 100%;
      }
      .circle {
        width: 130px;
        height: 130px;
        @include mq-medium-only {
          width: 60px;
          height: 60px;
        }
        border-radius: 140px;
        background-color: #fff;
        margin: auto;
      }
    }
  }
  .package {
    background-color: #8c67cd;
    background-size: cover;
    background-image: url("~/assets/images/parent/choose-your-plan-pattern.png");
    padding: 50px 0 50px 0;
    .wrapper {
      display: flex;
      padding-top: 30px;
      @include mq-medium-only {
        display: block;
      }
    }
    .package-thumb {
      flex-grow: 1;
      display: inline-block;
      text-align: center;
      border-radius: 4px;
      background-color: #ffffff;
      padding: 40px;
      color: #7e7a85;
      width: 300px;
      &:nth-child(2) {
        margin-left: 6%;
        margin-right: 6%;
        @include mq-medium-only {
          margin-left: 5%;
          margin-right: 5%;
        }
      }
      @include mq-medium-only {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        flex-grow: 0;
        margin-bottom: 20px;
        padding: 20px;
      }
      .pass-details {
        color: #8c67cd;
        font-size: 14px;
        cursor: pointer;
        span {
          font-size: 14px;
          display: inline-block;
          border: 1px solid #8c67cd;
          border-radius: 25px;
          height: 16px;
          width: 15px;
          padding-top: 1px;
        }
      }
      .package-name {
        font-size: 24px;
        color: #534d5c;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .activity {
        margin-bottom: 10px;
        font-size: 24px;
        text-transform: uppercase;
      }
      .class-info {
        font-size: 14px;
      }
      .divider {
        width: 94.2px;
        height: 2.7px;
        border-top: solid 1px #c1c7d0;
        margin: 15px auto 45px auto;
      }
      .price {
        font-size: 24px;
        color: #ff5e72;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .month {
        font-size: 14px;
      }
      span {
        display: block;
      }
      .Large-Button {
        width: 80%;
        height: 40px;
        border-radius: 3px;
        background-color: #faa61a;
        color: #fff;
        font-family: $f-circularstd;
        font-size: 14px;
        border: 1px solid #faa61a;
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
  .subscribe {
    padding: 50px 0 50px 0;
    .section-title {
      color: #444444;
    }
    .section-subtitle {
      font-size: 18px;
      margin-top: 20px;
      color: #444444;
    }
    form {
      width: 540px;
      @include mq-medium-only {
        width: 100%;
        padding: 20px 20px 0 20px;
        margin: 10px auto 0 auto;
      }
      margin: 30px auto 0 auto;
      input[type="text"] {
        width: 74%;
        margin-right: 3%;
        height: 40px;
        border-radius: 3px;
        border: solid 1px #dedede;
        font-size: 16px;
        color: #7e7a85;
        padding-left: 15px;
        font-family: $f-circularstd;
        @include mq-medium-only {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      button {
        width: 23%;
        height: 40px;
        border-radius: 4px;
        background-color: #8c67cd;
        border: 1px solid #8c67cd;
        color: #fff;
        font-family: $f-circularstd;
        @include mq-medium-only {
          width: 100%;
        }
      }
    }
  }
  .section-app-promotion {
    background-color: #ffffff;
    height: 350px;
    overflow: hidden;
    position: relative;
    @include mq-medium-only {
      overflow: initial;
      height: 204px;
      padding-top: 43px;
    }
    .ornament-top {
      background-image: url("~/assets/images/parent/ornament-top.png");
      background-size: contain;
      background-repeat: no-repeat;
      right: 0px;
      width: 290px;
      height: 211px;
      position: absolute;
      @include mq-medium-only {
        top: 0px;
        width: 167px;
        height: 122px;
      }
    }
    .ornament-bot {
      background-image: url("~/assets/images/parent/ornament-bot.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 0;
      bottom: -1px;
      left: 0px;
      width: 395px;
      height: 175px;
      position: absolute;
      @include mq-medium-only {
        width: 167px;
        bottom: -47px;
        height: 122px;
      }
    }
    .wrapper {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      .app-ios {
        background-image: url("~/assets/images/parent/app-promotion-ios.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        margin-top: 60px;
        float: left;
        width: 509px;
        height: 290px;
        object-fit: contain;
        @include mq-medium-only {
          float: none;
          margin-top: 0px;
          margin-left: 25px;
          width: 290px;
          height: 161px;
          object-fit: contain;
        }
      }
      .content-app {
        overflow: hidden;
        padding-left: 40px;
        @include mq-medium-only {
          overflow: initial;
          padding-left: 0px;
        }
        .text-book {
          margin-top: 105px;
          font-family: Intro;
          font-size: 32px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.75;
          letter-spacing: -0.5px;
          color: #444444;
          @include mq-medium-only {
            background-color: #ffffff;
            padding-top: 24px;
            position: absolute;
            padding-left: 16px;
            line-height: 1.33;
            letter-spacing: -0.4px;
            top: 56px;
          }
        }
        .text-lowest-price {
          margin-top: 5px;
          font-family: $f-circularstd;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.6px;
          color: #444444;
          @include mq-medium-only {
            background-color: #ffffff;
            padding-top: 6px;
            padding-bottom: 80px;
            margin-top: 108px;
            padding-left: 16px;
          }
        }
        .app-store {
          background-image: url("~/assets/images/parent/app-store.jpg");
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 205px;
          width: 195px;
          height: 64px;
          @include mq-medium-only {
            margin-top: 129px;
            margin-left: 16px;
            width: 137px;
            height: 45px;
          }
        }
      }
    }
  }
  .become-partner {
    padding: 50px 0 50px;
    background-color: #f0f4f6;
    @include mq-medium-only {
      font-size: 20px;
      padding: 262px 15px 50px;
    }
    .section-title,
    .section-subtitle {
      color: #444444;
      @include mq-medium-only {
        font-size: 18px;
      }
    }
    a {
      width: 213px;
      padding: 15px 0 15px 0;
      border-radius: 3px;
      background-color: #faa61a;
      color: #fff;
      display: block;
      margin: 35px auto 0 auto;
      @include mq-medium-only {
        font-size: 14px;
      }
    }
  }
}
