<template>
	<div class="parentstory-logo">
		<nuxt-link :to="$i18n.path('')">
			<img class="parentstory-logo__image" src="~/static/parentstory-logo-orange.svg" />
		</nuxt-link>
	</div>
</template>

<script>
export default {
	name: "ParentLogo"
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
