.parentstory-logo {
	float: left;
	margin-left: 5px;
	margin-top: 16px;
	width: 112px;

	a {
		text-decoration: none;
		display: inline-block;
	}

	&.right-of-burger {
		margin-left: 0px;

		@include mq-medium-up {
			margin-left: 5px;
		}
	}

	@include mq-medium-up {
		width: auto;
	}
}

.parentstory-logo__image {
	width: 112px;
	height: 20px;

	@include mq-medium-up {
		width: 198px;
		height: 32px;
	}
}

.parentstory-logo__text {
	color: $c-darkergray;
	font-size: 10px;
	display: block;
	text-transform: uppercase;

	@include mq-medium-up {
		display: inline;
		position: relative;
		bottom: 12px;
		left: 16px;
		font-size: 14px;
		opacity: 0.8;
		font-weight: 300;
	}
}