<template>
	<div class = "body-total-average-rating">
				 <div class="rating-class">
						<h2 class = "number-of-reviews">{{reviewsMeta.total}} {{$t('dashboard.review.reviews')}}</h2>
						<div class = "progress">
							<div v-for="(rating, index) in ratings" :key="index" class="rating-line">
								<p class="rating-label"> {{ $t(rating.label) }}</p>
								<div class="rating-bar">
									<div class="rating-bar-fill" :style="{ width: (rating.average * 100 / 5 + '%')}"></div>
								</div>
								<p class="rating-value">{{ rating.average }}/5</p>
							</div>
						</div>
						<div class="clearfix">
							<div id="div_loading_progress" class="c100 orange p0">
								<span class = "big-number">
								<span class = "rating-review">{{reviewsMeta.avg.toFixed(1)}}</span>
								<span class = "average-rating" style = "font-size: 14px; color: lightgray">/5</span>
								</span>
								<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
								</div>
							</div>
						</div>
						<div class="circle-mobile is-mobile">
							<h2 class = "number-of-reviews-mobile">{{reviewsMeta.total}} {{$t('dashboard.review.reviews')}}</h2>
							<div class="clearfix-small">
							 <div id="div_loading_progress_mobile" class="c100 small orange p0">
									<span class = "big-number">
									<span class = "rating-review">{{reviewsMeta.avg.toFixed(1)}}</span>
									<span class = "averae-rating" style = "font-size: 14px; color: lightgray"> /5</span>
									</span>
									<div class="slice">
										 <div class="bar"></div>
										 <div class="fill"></div>
									</div>
							 </div>
							</div>
						</div>
				 </div>
			</div>
</template>

<script>
function Rating(label, average) {
	this.label = label
	this.average = average
}

export default {
	name: "ReviewRating",
	props: ["reviewsMeta"],
	methods: {
	progress() {
		var pct = 0,
			div_loading_progress = document.getElementById("div_loading_progress"),
			div_loading_progress_mobile = document.getElementById(
			"div_loading_progress_mobile"
			),
			prog = this.reviewsMeta.avg / 5 * 100;

		function display_pct(p) {
			div_loading_progress.className = "c100 orange p" + p;
			div_loading_progress_mobile.className = "c100 small orange p" + p;
		}

		function update_pct() {
			display_pct(pct++);

			if (pct <= prog) {
			setTimeout(update_pct, 10);
			}
		}

		setTimeout(update_pct, 100);
		}
	},
	mounted() {
		this.progress();
	},
	watch: {
		reviewsMeta() {
		this.progress();
		}
	},
	computed: {
		ratings() {
			return [
				new Rating('dashboard.review.total.happiness', this.reviewsMeta.avg_happiness),
				new Rating('dashboard.review.total.cleanliness', this.reviewsMeta.avg_cleanliness),
				new Rating('dashboard.review.total.service', this.reviewsMeta.avg_service),
				new Rating('dashboard.review.total.safety', this.reviewsMeta.avg_safety)
			]
		}
	}
}
</script>

<style lang="scss" src="./style.scss" scoped></style>


