<template>
	<div class="alert-wrapper">
		<div :class="'alert alert-' + category">
			<span class="icon-alert" :class="'icon-alert-icon-' + category"></span>
			<span v-if="!autoHide" class="icon-close alert-close" @click="onClickX"></span>
			<p class="alert-body">{{ message }}</p>
		</div>
	</div>
</template>

<script>
import { hideAlert } from '~/plugins/helpers';

export default {
	name: "AppAlert",
	props: {
		category: {
			validator(value) {
				return ['success', 'warning', 'error'].indexOf(value) !== -1;
			},
			default: "success"
		},
		autoHide: {
			type: Boolean,
			default: false
		},
		message: {
			type: String,
			required: true
		}
	},
	methods: {
		onClickX() {
			hideAlert(this)
		}
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
