.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.alert-wrapper {
	width: 100%;
	position: fixed;
	top: 60px;
	z-index: 99;

	@include mq-medium-up {
		top: 77px;
	}
}

.alert {
	padding-top: 13px;
	padding-bottom: 12px;
	width: 100%;
	position: relative;

	@include mq-medium-up {
		border: 1px solid #dfe1e5;
		width: 82.5vw;
		max-width: 1188px;
		height: 60px;
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin: 0px auto;
	}
}

.alert-success {
	background-color: #def0e8;
}

.alert-warning {
	background-color: #feeed2;
}

.alert-error {
	background-color: #fcd6db;
}

.icon-alert {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 8px;
	transform: translateY(-50%);

	@include mq-medium-up {
		font-size: 24px;
		margin-left: 11px;
		position: static;
		top: auto;
		left: auto;
		transform: none;
		float: left;
		line-height: 60px;
	}
}

.alert-close {
	font-size: 20px;
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);

	@include mq-medium-up {
		font-size: 24px;
		margin-left: 11px;
	}
}

.alert-close:hover {
	cursor: pointer;
}

.icon-alert-icon-success {
	color: #36b37e;
}

.icon-alert-icon-warning {
	color: #faa61a;
}

.icon-alert-icon-error {
	color: #ff5e72;
}

.alert-body {
	font-size: 13px;
	line-height: normal;
	margin-left: 44px;
	margin-right: 16px;
	line-height: 1.3;

	@include mq-medium-up {
		font-size: 14px;
		line-height: 60px;
		display: inline-block;
		margin-left: 10px;
		margin-top: 0px;
		margin-right: 0px;
	}
}

.alert-show {
	animation-name: fadeIn;
	animation-duration: 1s;
}

.alert-hide {
	animation-name: fadeOut;
	animation-duration: 1s;
}

.alert-close ~ .alert-body {
	margin-right: 40px;
	@include mq-medium-up {
		margin-right: 0px;
	}
}