<!-- 
A very basic component for popup 
use this template to crate a new popup
-->

<template>
	<div>
		<div class="modal-backdrop" @click="closePopup"></div>
		<div class="modal">
			<div class="popup-box cancel-booking">
				<div class="popup-header">
					<a class="icon-close" @click="closePopup"></a>
				</div>
				<div class="popup-content">
					<h3 class="title">Cancel Your Booking</h3>
					<p class="content">Are you sure you want to cancel your  booking for this activity?</p>
					<button class="button-yes-cancel-booking" @click="cancelBooking">Yes</button>
					<button class="button-no-cancel-booking" @click="closePopup">Cancel</button>
				</div>	
			</div>
		</div>
	</div>

</template>
<script>
import bookingAPI from "@/api/booking"
import { showErrorAlert,showSuccessAlert } from '~/plugins/helpers'

export default {
	name: "CancelBooking",
	props: ["bookingCode"],
	methods: {
		closePopup(){
			this.$emit("close")
			document.body.classList.remove('is-modal-open');
		},
		cancelBooking(){
			let bookingApi = new bookingAPI(this.$axios)
			let data = {
				booking_code: this.bookingCode,
				reason: ""
			}
			bookingApi.cancelBooking(data).then(response => {
				this.closePopup()
				showSuccessAlert(this, "Your Activity has been successfully cancelled",true)
				this.$nuxt.$router.push({path:'/parent/bookings'})
			},error=>{
				showErrorAlert(this, this.$t('general.error'),true)
			})
		}
	}

};
</script>

<style lang="scss" scoped src="./style.scss" />

