@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.cancel-booking {
  width: 600px;
  height: 470px;

  .popup-header {
    .icon-close {
      right: 20px;

      @include mq-medium-only {
        right: 15px;
        top: 41px;
      }
    }
  }

  .popup-content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    background-color: #ffffff;
    background-color: var(--white);
    padding: 0 40px 50px 40px;

    .title {
      margin-top: 42px;
      font-family: CircularStd;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #444444;

      @include mq-medium-only {
        font-size: 20px;
      }
    }

    .content {
      width: 344px;
      margin-left: 83px;
      margin-right: auto;
      display: block;
      margin-top: 120px;
      font-size: 20px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: center;
      color: #534d5c;
      cursor: pointer;

      @include mq-medium-only {
        width: auto;
        margin-left: auto;
      }
    }

    .button-yes-cancel-booking {
      margin-top: 65px;
      margin-left: 83px;
      margin-right: auto;
      display: block;
      width: 380px;
      height: 40px;
      border: none;
      border-radius: 4px;
      font-family: CircularStd;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      background-color: #faa61a;

      @include mq-medium-only {
        width: 185px;
        margin-left: auto;
      }
    }

    .button-no-cancel-booking {
      margin-left: 85px;
      margin-right: auto;
      display: block;
      width: 380px;
      height: 40px;
      border: none;
      border-radius: 4px;
      font-family: CircularStd;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #534d5c;
      background-color: #ffffff;
      cursor: pointer;

      @include mq-medium-only {
        width: 185px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
