<template>
	<div class="parent-dashboard">
		<div class="wrapper">

			<!-- partner info if desktop view -->
			<div class="partner-info is-desktop">

				<div class="partner-detail">

					<div class="row">
						<span class="row-title">{{$t('partner.detail.provider')}}</span>
						<div class="content">
							<h2 class="partner-name">
								{{partner.display_name}}
							</h2>
							<div class="review-star">
								<span v-for="rating in parseInt(reviewsMeta.avg)" :key="rating.id" class="star filled"></span>
								<span v-for="rating in  parseInt(5-reviewsMeta.avg)" :key="rating.id" class="star unfilled"></span>
								<span class="total-reviews">{{reviewsMeta.total}} {{$t('partner.detail.review')}}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<span class="row-title">{{$t('partner.detail.description')}}</span>
						<div class="content">
							<p class="f-14 text-gray">{{partner.accountable.about}}</p>
						</div>
					</div>

					<div class="row">
						<span class="row-title">{{$t('partner.detail.address')}}</span>
						<div class="content">
							<p class="f-14 text-gray">{{partner.accountable.address}}</p>
						</div>
					</div>
				</div>

				<div class="partner-image">
					<img v-if="partner.accountable.cover && partner.accountable.cover != ''" :src="partner.accountable.cover">
					<img v-else src="~/assets/images/parent/default-partner-image.png"/>
				</div>
			</div>

			<!-- partner info is mobile view -->

			<div class="partner-info is-mobile">
				<div class="row bordered">
					<div class="partner-image">
						<img v-if="partner.accountable.cover && partner.accountable.cover != ''" :src="partner.accountable.cover">
						<img v-else src="~/assets/images/parent/default-partner-image.png"/>
					</div>

					<div class="pt-15">
						<h2 class="partner-name">
							{{partner.display_name}}
						</h2>

						<div class="review-star">
							<span v-for="rating in  parseInt(reviewsMeta.avg)" :key="rating.id" class="star filled"></span>
							<span v-for="rating in  parseInt(5-reviewsMeta.avg)" :key="rating.id" class="star unfilled"></span>
							<span class="total-reviews">{{reviewsMeta.total}} {{$t('partner.detail.review')}}</span>
						</div>
					</div>
				</div>

				<div class="row">
					<span class="row-title mt-15">{{$t('partner.detail.description')}}</span>
					<p class="f-14 text-dark-gray">
						{{partner.accountable.about}}
					</p>

					<span class="row-title mt-25">{{$t('partner.detail.address')}}</span>
					<p class="f-14 text-dark-gray">
						{{partner.accountable.address}}
					</p>
				</div>
			</div>
			<!-- end partner info mobile -->

			<!-- start gallery -->
			<div v-if="partner.accountable.media.length > 0" class="gallery">
				<div class="row">
					<span class="row-title">{{$t('partner.detail.gallery')}}</span>
					<div class="image-container">
						<div v-for="gallery in partner.accountable.media" :key="gallery.id" class="image-thumbnail">
							<img :src="gallery.image_url">
						</div>
					</div>
				</div>
			</div>
			<!-- end gallery -->

			<div class="review-info wrapper-total-average wrapper-recent-review">
				<span class="row-title">{{$t('partner.detail.reviews')}}</span>
					<div class="box-total-average-rating">
						<review-rating :reviewsMeta="reviewsMeta" />
					</div>
					<div class="box-recent-review">
						<div class="body-recent-review">
							<review-list :reviews="reviews" :reviewsMeta="reviewsMeta" @goToPage="goToPage" />
						</div>
					</div>
			</div>

			<div class="classes-info">
				<h2 class="title">{{ $t('partner_detail.classes_title') }}</h2>
				<ul v-if="upcomingActivities.length > 0" class="activities">
					<li v-for="activity in upcomingActivities" :key="activity.id" class="activity-item" @click="goToActivity(activity.id)">
						<no-ssr>
							<carousel :per-page="1" :paginationEnabled="false" :paginationActiveColor="orange" :loop="true">
								<slide  v-for="(gallery) in activity.activity.images" :key="gallery.id">
									<img class="activity-cover" :src="$cloudinaryUrl(getImageId(gallery),{width: 150,height:96})">
								</slide>
							</carousel>
						</no-ssr>
						
						<div class="activity-info-wrapper">
							<div class="activity-info">
								<h3 class="activity-name">{{ activity.activity.name | capitalize}}</h3>
								<p class="activity-age-range">{{ $t('partner_detail.activity_age_range', { ages: ageRangeString(activity.activity) }) }}</p>
								<p class="activity-category">{{ $t('partner_detail.activity_category', { categories: categoryString(activity.activity) }) }}</p>
							</div>
							<div class="activity-item-time-info">
								<p class="activity-date">{{ $moment(activity.class_date).format('dddd, D MMMM YY') }}</p>
								<p class="activity-time">{{ timeRangeString(activity) }}</p>
								<p class="activity-duration">{{ durationString(activity) }}</p>
							</div>
						</div>
					</li>
				</ul>
				<div v-else class="no-activities">
					<img src="~/assets/images/parent/not-found.png">
					<h3>{{ $t('partner_detail.no_activity_title') }}</h3>
					<p>{{ $t('partner_detail.no_activity_description') }}</p>
				</div>
			</div>

		</div>
	</div>

</template>

<script>
import partnerAPI from '@/api/partner'
import reviewAPI from "@/api/review"
import activityAPI from "@/api/activity"
import DashboardReviewRating from "~/components/dashboard/review/review-rating/index.vue"
import DashboardReviewList from "~/components/dashboard/review/review-list/index.vue"
import ReviewRating from "~/components/review/rating/index.vue"
import ReviewList from "~/components/review/list/index.vue"
import { getImageId} from "~/plugins/helpers.js"

export default {
	middleware: 'authenticated',
	layout: "DefaultParent",
	components: {
		DashboardReviewRating,
		DashboardReviewList,
		ReviewRating,
		ReviewList
	},
	data(){
		return {
			page: 1,
			orange: '#f8a431'
		}
	},
	computed:{
		partner(){
			return this.$store.state.account.partner
		},
		reviews(){
			return this.$store.state.review.reviews
		},
		reviewsMeta(){
			return this.$store.state.review.reviewsMeta
		},
		upcomingActivities() {
			return this.$store.state.activity.activities
		}
	},
	methods:{
		goToPage(page){
			this.page=page
			this.fetchReviews()
		},
		fetchReviews(pge){
			let reviewApi = new reviewAPI(this.$axios)
			reviewApi.getPartnerReviews(this.partner.accountable.id,this.page).then((response)=>{
				this.$store.dispatch('setReviews',response.data.data.list)
				this.$store.dispatch('setReviewsMeta',response.data.data.meta)
			},(err)=>{

			})
		},
		ageRangeString(activity) {
			let result = activity.ages[0]
			for (let i = 1; i < activity.ages.length; i++) {
				result += ', ' + activity.ages[i]
			}
			return result
		},
		categoryString(activity) {
			let result = activity.tags[0]
			for (let i = 1; i < activity.tags.length; i++) {
				result += ', ' + activity.tags[i]
			}
			return result
		},
		timeRangeString(activity) {
			const start = this.$moment(activity.class_date).format('HH:mm')
			const durationInMin = parseInt(activity.duration.split(' ')[0])
			const end = this.$moment(activity.class_date).add(durationInMin, 'minutes').format('HH:mm')
			return `${start} - ${end}`
		},
		durationString(activity) {
			return activity.duration.split(' ')[0] + " min"
		},
		goToActivity(id){
			this.$nuxt.$router.push({path:'/activity/'+id})
		},
		getImageId(url){
			return getImageId(url)
		}
	},
	async fetch({store,params,error,$axios}){
		try {
			let partnerApi = new partnerAPI($axios)
			let reviewApi = new reviewAPI($axios)
			let activityApi = new activityAPI($axios)

			let partner = await partnerApi.getPartner(params.slug,"slug")
			store.dispatch('setPartner',partner.data.data)

			let review = await reviewApi.getPartnerReviews(store.state.account.partner.accountable.id)
			store.dispatch('setReviews',review.data.data.list)
			store.dispatch('setReviewsMeta',review.data.data.meta)

			let upcomingActivities = await activityApi.getUpcomingActivities(store.state.account.partner.accountable.id)
			store.dispatch('setActivities', upcomingActivities)
		} catch (err){
			if (err.response.status == 404)
				error({ statusCode: 404, message: 'Page not found' })
		}

	}
}

</script>


<style lang="scss" src="./style.scss" scoped></style>

