@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.partner-info {
  width: 100%;
  padding: 30px 30px 10px 30px;
  background-color: #fff;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 3px;

  &.is-mobile {
    display: none;

    @include mq-medium-only {
      display: block;
    }
  }

  &.is-desktop {
    display: flex;

    @include mq-medium-only {
      display: none;
    }
  }

  @include mq-medium-only {
    padding: 30px 10px 30px 10px;
  }

  .row {
    overflow: hidden;
    padding-bottom: 25px;

    @include mq-medium-only {
      padding-bottom: 20px;
      display: block;

      p {
        line-height: 1.43;
      }
    }

    &.bordered {
      border-bottom: 1px solid #dfe1e5;
    }

    .row-title {
      display: inline-block;
      float: left;
      width: 18%;
      height: 50px;
      margin-bottom: 20px;

      @include mq-medium-only {
        float: none;
        width: 100%;
        display: block;
        height: auto;
        margin-bottom: 7px;
        font-size: 14px;
      }
    }

    .content {
      display: inline-block;
      width: 82%;
      float: right;

      .partner-name {
        color: #282123;
        font-size: 20px;
        font-weight: 500;
      }

      p {
        line-height: 19px;
      }
    }
  }

  .partner-detail {
    float: left;
    display: inline-block;
    width: 80%;
    padding-right: 45px;
  }

  .partner-image {
    width: 345px;
    overflow: hidden;

    @include mq-medium-only {
      height: 80px;
      width: 80px;
      border-radius: 60px;
      float: left;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    img {
      max-width: 100%;

      @include mq-medium-only {
        border-radius: 60px;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        max-width: 160%;
        max-height: 100%;
      }
    }
  }

  .review-star {
    display: flex;
    margin-top: 15px;

    @include mq-medium-only {
      margin-top: 10px;
    }

    .star {
      height: 20px;
      width: 20px;
      margin-right: 3px;
      display: inline-block;

      @include mq-medium-only {
        height: 10px;
        width: 10px;
      }

      &.filled {
        background: url('~/static/star-filled.png');
        background-size: cover;
      }

      &.unfilled {
        background: url('~/static/star-unfilled.png');
        background-size: cover;
      }
    }

    .total-reviews {
      font-size: 12px;
      color: #a4a1a9;
      margin-top: 6px;
      margin-left: 20px;

      @include mq-medium-only {
        font-size: 10px;
        margin-top: 1px;
        margin-left: 10px;
      }
    }
  }


}

.gallery {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  margin-top: 30px;
  border-radius: 3px;

  @include mq-medium-only {
    margin-top: 10px;
    padding: 30px 10px 30px 10px;
    ;
  }

  .row {
    overflow: hidden;
    display: flex;

    @include mq-medium-only {
      display: block;
    }

    .image-container {
      flex-grow: 1;
      width: 88%;

      .image-thumbnail {
        width: 25%;
        display: inline-block;
        margin-bottom: 15px;
        height: 210px;
        border-radius: 3px;
        overflow: hidden;

        @include mq-medium-only {
          width: 50%;
          height: 110px;
          margin-bottom: 10px;
        }

        img {
          width: 100%;
          padding-right: 20px;
          object-fit: contain;
          height: 210px;

          &:nth-child(4n) {
            padding-right: 0px;
          }

          @include mq-medium-only {
            padding-right: 10px;
            height: 110px;

            &:nth-child(2n) {
              padding-right: 0px;
            }
          }
        }
      }
    }
  }

  .row-title {
    width: 12%;
    margin-bottom: 20px;

    @include mq-medium-only {
      margin-bottom: 15px;
      width: 100%;
      display: block;
    }
  }


}

.review-info {
  padding: 42px;
  background-color: #fff;
  width: 100%;
  margin-top: 30px;
  border-radius: 3px;
  margin-bottom: 30px;

  @include mq-medium-only {
    margin-top: 10px;
    margin-bottom: 10px;

	}

	.box-recent-review {
		margin-top: 40px;
	}
}

.classes-info {
  background-color: white;
  padding: 38px 109px 48px 45px;

  @include mq-medium-only {
    padding: 30px 15px 30px 45px;
    width: 100%;
    overflow: hidden;
  }

  .title {
    float: left;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #282123;

    @include mq-medium-only {
      margin-top: -21px;
      margin-left: -25px;
      padding-bottom: 53px;
    }
  }

  .activity-name {
    font-family: $f-circularstd;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #444444;
  }

  .activities {
	margin-left: 227px;
	cursor: pointer;
  }

  .activity-cover {
    width: 150px;
    height: 96px;
    border-radius: 5px;
  }

  .activity-item {
    margin-left: -40px;
    border-radius: 4px;
    border: 1px solid #e6eaee;
    padding: 20px;
    display: flex;

    @include mq-medium-only {
      margin-left: -254px;
      margin-top: 18px;
    }
  }

  .activity-item:not(:first-child) {
    margin-top: 16px;
  }

  .activity-info-wrapper{
    display: table;
    @include mq-medium-only{
      display: block;
      overflow: hidden;
    }
  }

  .activity-info {
    padding-left: 16px;
    display: table-cell;
    @include mq-medium-only{
      display: block;
    }
    .activity-age-range {
      width: 235px;
      margin-top: 13px;
      font-family: $f-circularstd;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #a9a6ad;
    }
    .activity-category {
      font-family: $f-circularstd;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #a9a6ad;
    }
  }

  .activity-item-time-info {
    display: table-cell;
    padding-right: 84px;
    @include mq-medium-only{
      padding-left: 16px;
      display: block;
      padding-right: 0;
    }
    .activity-date {
      width: 235px;
      font-family: $f-circularstd;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #534d5c;
      @include mq-medium-only{
        width: auto;
      }
    }

    .activity-time {
      margin-top: 8px;
      font-family: $f-circularstd;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #534d5c;
    }

    .activity-duration {
      font-family: $f-circularstd;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #7e7a85;
    }

  }

}
