<template>
	<div>
		<app-header/>
		<div class = "box box-border box-full-purple">
			<h2 class="section-title">{{$t('terms_condition.section-title')}}</h2>
		</div>
		<div class = "box box-border box-full-white box-bottom">
			<div class="wrapper-center-content">
				<h2>
					Effective date: October 1 st , 2018
				</h2>
				<h3>
					OVERVIEW
				</h3>
				<p>
					This website is operated by Parentstory. Throughout the site, the terms "we", "us" and "our" refer toParentstory. Parentstory offers this website, including all information, tools and services available fromthis site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and noticesstated here.
				</p>
				<p>
					By visiting our site and/ or purchasing something from us, you engage in our "Service" and agree to bebound by the following terms and conditions ("Terms of Service", "Terms"), including those additionalterms and conditions and policies referenced herein and/or available by hyperlink. These Terms ofService apply to all users of the site, including without limitation users who are browsers, partners,parents, customers, merchants, events and/ or contributors of content.
				</p>
				<p>
					Please read these Terms of Service carefully before accessing or using our website. By accessing or usingany part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the termsand conditions of this agreement, then you may not access the website or use any services. If these Termsof Service are considered an offer, acceptance is expressly limited to these Terms of Service.
				</p>
				<p>
					Any new features or tools which are added shall also be subject to the Terms of Service. You can reviewthe most current version of the Terms of Service at any time on this page. We reserve the right to update,change or replace any part of these Terms of Service by posting updates and/or changes to our website. Itis your responsibility to check this page periodically for changes. Your continued use of or access to thewebsite following the posting of any changes constitutes acceptance of those changes.
				</p>
				<h3>
					SECTION 1 - USER PROFILE TERMS
				</h3>
				<p>
					By agreeing to these Terms of Service, you represent that you are at least the age of majority in your stateor province of residence, or that you are the age of majority in your state or province of residence and youhave given us your consent to allow any of your minor dependents to use this site.
				</p>
				<p>
					You may not use our services for any illegal or unauthorized purpose nor may you, in the use of theService, violate any laws in your jurisdiction (including but not limited to copyright laws).
				</p>
				<p>
					You must not transmit any worms or viruses or any code of a destructive nature.
				</p>
				<p>
					A breach or violation of any of the Terms will result in an immediate termination of your Services.
				</p>
				<h3>
					SECTION 2 - GENERAL CONDITIONS
				</h3>
				<p>
					We reserve the right to refuse service to anyone for any reason at any time.
				</p>
				<p>
					You understand that your content (not including credit card information), may be transferred unencryptedand involve (a) transmissions over various networks; and (b) changes to conform and adapt to technicalrequirements of connecting networks or devices. Credit card information is always encrypted duringtransfer over networks.
				</p>
				<p>
					You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of theService, or access to the Service or any contact on the website through which the service is provided,without express written permission by us.
				</p>
				<p>
					The headings used in this agreement are included for convenience only and will not limit or otherwiseaffect these Terms.
				</p>
				<h3>
					SECTION 3 - PARENTSTORY PLATFORM
				</h3>					
				<p>
					1. Parentstory Platform. The Parentstory platform enables users to reserve, schedule, purchase,access and attend a wide range of kids activities, events and classes offered and operated by ourpartners. Parentstory itself is not a place of amusement or recreation, kids club, facility or similarestablishment and does not own, operate or control any of the Activities that are offered at orthrough such facilities. 
				</p>
				<p>
					2. Membership Options. In order to participate in Activities through Parentstory, user need topurchase a membership pass. Each membership pass subject to different conditions, prices,policies and limitations. The validity of each membership pass will vary depend on the package you purchased. We reserve the right to modify, terminate or otherwise amend our offered optionsand packages at any time in our discretion. From time to time we may permit free users to accesscertain Activities, content or features for a cost or at no cost. Parentstory makes no commitmenton the quantity, availability, type or frequency at which such Activities, content and features willbe available to free users and may modify, discontinue, remove or suspend access at any time andfor any reason in our sole discretion. You acknowledge and agree that these Terms apply to any such purchase you make, and you willbe responsible to pay the applicable fees, which may change at any time.
				</p>
				<p>
					3. Use of Membership Pass. Depending on the membership plan you choose and purchase, you willbe allotted certain number of pass or access to be used solely to book Activities for one or morechild per month. You can choose how you use your pass across the various Activities available to you.Membership pass will expire at the end of its validity period, meaning that any pass you don't useduring the applicable validity period will not roll over into future months, and it will be expired.However, unused pass will be rolled over into future months within the validity period if themembership is still active. There will be no refund or payment for any unused amount. If you have any questions about how to use your membership pass, please contact us and we can help you.Membership pass have no cash value or any other value outside of the Parentstory platform and are not redeemable for cash. You may not transfer, trade, gift or otherwise exchange Parentstory membership pass without Parentstory consent.
				</p>
				<p>
					4. Activity Availability and Allocation. The exact number and type of Activities you can take willdepend on the package of Membership pass you purchase. One membership pass is onlyapplicable to one child and one time access only.Parentstory does not guarantee the availability of particular Activities, services, experiences,content, inventory, spots or other features, and availability may change over time and at any time(including during the course of any given Membership Cycle). The type, quantity, allocation andavailability of classes, and other services offered, are determined by Parentstory in its solediscretion. Parentstory takes certain steps to release, promote and otherwise make available spotsand classes at varying times and in an ongoing and evolving way.
				</p>
				<p>
					5. Parentstory Membership Pass and Account. Your Parentstory account is personal to you and youagree not to create more than one account. You cannot transfer or give your membership pass orclasses to third parties or allow third parties to use your Parentstory account, including otherParentstory users. You must not use or exploit the Site and/or Activities for commercial purposes.We continually update and test various aspects of the Parentstory platform. You understand andagree that Parentstory may take actions we deem reasonably necessary to prevent fraud andabuse.You agree that the information you provide to Parentstory at sign up and at all other times will betrue, accurate, current, and complete and that you will keep this information accurate and up-to-date at all times. When you sign up, you will be asked to change your given temporary password.You are solely responsible for all activity that occurs under your account, including any activityby unauthorized users. To use the Site you must have access to the Internet and may be requiredto download a Parentstory mobile application to use some or all of Parentstory features. You aresolely responsible for providing your own access (e.g., computer, mobile device, Internetconnection, etc.) to the Site and Activities.
				</p>
				<p>
					6. Communications: By providing your information or creating an account, you agree thatParentstory may contact you by email, direct mail, telephone or text messages at any of theaddresses or phone numbers, as applicable, provided by you or on your behalf in connection witha Parentstory account, including for marketing purposes. You may opt-out of marketing emailsvia the provided unsubscribe link or otherwise opt-out by contacting us at any time.
				</p>
				<h3>
					SECTION 4 - ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION
				</h3>
				<p>
					We are not responsible if information made available on this site is not accurate, complete or current. Thematerial on this site is provided for general information only and should not be relied upon or used as thesole basis for making decisions without consulting primary, more accurate, more complete or more timelysources of information. Any reliance on the material on this site is at your own risk.
				</p>
				<p>
					This site may contain certain historical information. Historical information, necessarily, is not current andis provided for your reference only. We reserve the right to modify the contents of this site at any time,but we have no obligation to update any information on our site. You agree that it is your responsibility tomonitor changes to our site.
				</p>
				<h3>
					SECTION 5 - MODIFICATIONS TO THE SERVICE AND PRICES
				</h3>
				<p>
					Prices for our subscriptions are subject to change without notice.
				</p>
				<p>
					We reserve the right at any time to modify or discontinue the Service (or any part or content thereof)without notice at any time.
				</p>
				<p>
					We shall not be liable to you or to any third-party for any modification, price change, suspension ordiscontinuance of the Service.
				</p>
				<h3>
					SECTION 6 - SERVICES
				</h3>
				<p>
					We reserve the right, but are not obligated, to limit the sales of our Services to any person, geographicregion or jurisdiction. We may exercise this right on a case-by-case basis. We reserve the right to limit thequantities of any services that we offer. All descriptions of services or pricing are subject to change atanytime without notice, at the sole discretion of us. We reserve the right to discontinue any service at anytime. Any offer for any service made on this site is void where prohibited.
				</p>
				<p>
					We do not warrant that the quality of any services or information obtained by you will meet yourexpectations, or that any errors in the Service will be corrected.
				</p>
				<h3>
					SECTION 7 - FEES, PAYMENT, CANCELLATION
				</h3>
				<p>
					1. Membership Package. By initiating a Parentstory membership, you authorize us to charge you foryour membership fee using the payment method you chose when checking out from Parentstory Platform. Note that even if you do not use the membership or access the Site and/or Activities,you will be responsible for membership fees until you cancel your membership, or it is otherwiseterminated.
				<p>
					2. Refunds. Generally, our fees for your membership pass are nonrefundable unless we specificallycommunicate otherwise at the time of purchase.
				</p>
				<p>
					3. Price Changes. We reserve the right to adjust pricing at any time.
				<p>
					4. Payment Methods. Parentstory will not store any personal information related to payment, such asCredit Card details. If a payment is not successfully settled due to expiration, insufficient funds or otherwise, you nonetheless will remain responsible for any uncollected amounts and authorize usto continue billing the Payment Method or any other payment method you have provided, as itmay be updated, including in the event you attempt to create a new account, reactivate theunsettled account or sign up for a new account. If we cannot charge your account, we reserve theright, but are not obligated, to terminate your membership and your access to our Site or anyportion thereof. You can choose one of the following payment methods available to purchaseyour membership : Credit Card (full payment), 0% Credit Card Installment, and Bank Transferwith term options of 3, 6 or 12 months. Parentstory reserves the right to add or modify thepayment methods. However, no changes will be made to payment method you selected onprevious transactions.
				</p>
				<p>
					5. Cancellation of Membership.  If you cancel your membership or it is terminated for any reason,you will lose access to all Activities, bookings or features available. Your cancellation will takeeffect at the end of the membership month in which you cancel.
				</p>
				<p>
					6. Booking and Cancellation of Activities. As a Parentstory user, you must reserve and cancel yourActivities only through the Site. It is a breach of these Terms if you reserve or cancel directlywith our partner, including through any online or mobile account you have with the partner,independent of Parentstory. You will be responsible for redeeming your membership passaccording to the requirement stated by Partners if you: (a) book / reserve the Activity theyprovide; (b) and / or cancel the reservation beyond the term in cancellation policy stated by thePartner for the specific Activity.
				</p>
				<p>
					7. Fees Charged by Partners. In addition to fees we charge, Partners may also charge equipment orother amenity fees that you will be responsible for directly. Further, Parentstory only gives youaccess to the Activity for which you signed up on the Site (and at the specified time and location).Partners may have additional fees for use of additional activities, spaces, amenities, or facilities.
				</p>
				<p>
					8. Third Party Fees for Using Parentstory. You are also responsible for all third-party charges andfees associated with connecting to and using the Site and/or Activities, including fees such asinternet service provider fees, telephone and computer equipment charges, sales tax and any otherfees necessary to access the Site and/Activities.
				</p>
				<h3>
					SECTION 8 - TERMINATION AND MODIFICATION BY PARENSTORY
				</h3>
				
				<p>
					You understand and agree that, at any time and without prior notice Parentstory may (1) terminate,cancel, deactivate, disable, delete and/or suspend your membership, your account, any bookings made, oryour access to or use of the Site, your membership and/or Activities (or any portion thereof, including butnot limited to your access to any or all classes or services) and/or (2) discontinue, disable, suspend,modify or alter any aspect, feature or policy of the Site , including of your membership. Upon anytermination or otherwise, we may immediately deactivate your account and all related information and/orbar any further access to your account information and the Site. Parentstory shall have no liability for, andyou shall have no recourse for, any such termination or deactivation, except as set forth in the followingsentence. You agree that Parentstory will not be liable to you or any third party for any termination ormodification to the service regardless of the reason for such termination or modification. Youacknowledge that your only right with respect to any dissatisfaction with any modification ordiscontinuation of service made by us is to cancel or terminate your membership.
				</p>
				<h3>
					SECTION 9 - THIRD-PARTY LINKS
				</h3>
				<p>
					Certain content and services available via our Service may include materials from third-parties.
				</p>
				<p>
					Third-party links on this site may direct you to third-party websites that are not affiliated with us. We arenot responsible for examining or evaluating the content or accuracy and we do not warrant and will nothave any liability or responsibility for any third-party materials or websites, or for any other materials orservices of third-parties.
				</p>
				<p>
					We are not liable for any harm or damages related to the purchase or use of goods, services, resources,content, or any other transactions made in connection with any third-party websites. Please reviewcarefully the third-party's policies and practices and make sure you understand them before you engage inany transaction. Complaints, claims, concerns, or questions regarding third-party services should bedirected to the third-party.
				</p>
				<h3>
					SECTION 10 - USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS
				</h3>
				<p>
					If, at our request, you send certain specific submissions (for example reviews) or without a request fromus you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, bypostal mail, or otherwise (collectively, 'comments'), you agree that we may, at any time, withoutrestriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments thatyou forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence;(2) to pay compensation for any comments; or (3) to respond to any comments.
				</p>
				<p>
					We may, but have no obligation to, monitor, edit or remove content that we determine in our solediscretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwiseobjectionable or violates any party's intellectual property or these Terms of Service.
				</p>
				<p>
					You agree that your comments will not violate any right of any third-party, including copyright,trademark, privacy, personality or other personal or proprietary right. You further agree that yourcomments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain anycomputer virus or other malware that could in any way affect the operation of the Service or any relatedwebsite. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwisemislead us or third-parties as to the origin of any comments. You are solely responsible for any commentsyou make and their accuracy. We take no responsibility and assume no liability for any comments postedby you or any third-party.
				</p>
				<h3>
					SECTION 11 - PERSONAL INFORMATION
				</h3>
				<p>
					Your submission of personal information through the store is governed by our Privacy Policy. To viewour Privacy Policy.
				</p>
				<h3>
					SECTION 12 - ERRORS, INACCURACIES AND OMISSIONS
				</h3>
				<p>
					Occasionally there may be information on our site or in the Service that contains typographical errors,inaccuracies or omissions that may relate to classes and services descriptions, pricing, promotions, offersand availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change orupdate information or cancel orders if any information in the Service or on any related website isinaccurate at any time without prior notice (including after you have submitted your order).
				</p>
				<p>
					We undertake no obligation to update, amend or clarify information in the Service or on any relatedwebsite, including without limitation, pricing information, except as required by law. No specified updateor refresh date applied in the Service or on any related website, should be taken to indicate that allinformation in the Service or on any related website has been modified or updated.
				</p>
				<h3>
					SECTION 12 - PROHIBITED USES
				</h3>
				<p>
					In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using thesite or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in anyunlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or localordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual propertyrights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminatebased on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) tosubmit false or misleading information; (g) to upload or transmit viruses or any other type of maliciouscode that will or may be used in any way that will affect the functionality or operation of the Service or ofany related website, other websites, or the Internet; (h) to collect or track the personal information ofothers; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoralpurpose; or (k) to interfere with or circumvent the security features of the Service or any related website,other websites, or the Internet. We reserve the right to terminate your use of the Service or any relatedwebsite for violating any of the prohibited uses.
				</p>
				<h3>
					SECTION 13 - DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY
				</h3>
				<p>
					We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely,secure or error-free.
				</p>
				<p>
					We do not warrant that the results that may be obtained from the use of the service will be accurate orreliable.
				</p>
				<p>
					You agree that from time to time we may remove the service for indefinite periods of time or cancel theservice at any time, without notice to you.
				</p>
				<p>
					You expressly agree that your use of, or inability to use, the service is at your sole risk. All servicesbooked by you through this platform are (except as expressly stated by us) provided 'as is' and 'asavailable' for your use, without any representation, warranties or conditions of any kind, either express orimplied, including all implied warranties or conditions, quality, fitness for a particular purpose, durability,title, and non-infringement.
				</p>
				<p>
					In no case shall Parentstory, our directors, employees, affiliates, or partners be liable for any injury, loss,claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind,including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or anysimilar damages, whether based in contract, tort (including negligence), strict liability or otherwise,arising from your use of any of the service or for any other claim related in any way to your use of theservice including, but not limited to, any errors or omissions in any content, or any loss or damage of any
				</p>
				<p>
					kind incurred as a result of the use of the service or any content posted, transmitted, or otherwise madeavailable via the service, even if advised of their possibility. Because some states or jurisdictions do notallow the exclusion or the limitation of liability for consequential or incidental damages, in such states orjurisdictions, our liability shall be limited to the maximum extent permitted by law.
				</p>
				<h3>
					SECTION 14 - INDEMNIFICATION
				</h3>
				<p>
					You agree to indemnify, defend and hold harmless Parentstory and affiliates, partners, officers, directors,and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by anythird-party due to or arising out of your breach of these Terms of Service or the documents theyincorporate by reference, or your violation of any law or the rights of a third-party.
				</p>
				<h3>
					SECTION 15 - SEVERABILITY
				</h3>
				<p>
					In the event that any provision of these Terms of Service is determined to be unlawful, void orunenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted byapplicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service,such determination shall not affect the validity and enforceability of any other remaining provisions.
				</p>
				<h3>
					SECTION 16 - ENTIRE AGREEMENT
				</h3>
				<p>
					The failure of us to exercise or enforce any right or provision of these Terms of Service shall notconstitute a waiver of such right or provision.
				</p>
				<p>
					These Terms of Service and any policies or operating rules posted by us on this site or in respect to TheService constitutes the entire agreement and understanding between you and us and govern your use ofthe Service, superseding any prior or contemporaneous agreements, communications and proposals,whether oral or written, between you and us (including, but not limited to, any prior versions of the Termsof Service).
				</p>
				<p>
					Any ambiguities in the interpretation of these Terms of Service shall not be construed against the draftingparty.
				</p>
				<h3>
					SECTION 17 - GOVERNING LAW
				</h3>
				<p>
					These Terms of Service and any separate agreements whereby we provide you Services shall be governedby and construed in accordance with the laws of Indonesia.
				</p>
				<h3>
					SECTION 18 - CHANGES TO TERMS OF SERVICE
				</h3>
				<p>
					You can review the most current version of the Terms of Service at any time at this page.
				</p>
				<p>
					We reserve the right, at our sole discretion, to update, change or replace any part of these Terms ofService by posting updates and changes to our website. It is your responsibility to check our websiteperiodically for changes. Your continued use of or access to our website or the Service following theposting of any changes to these Terms of Service constitutes acceptance of those changes.
				</p>
				<h3>
					SECTION 19 - CONTACT INFORMATION
				</h3>
				<p>
					Questions about the Terms of Service should be sent to us at support@parentstory.com.
				</p>
			</div>
		</div>
		<app-footer />
	</div>
</template>

<script>
import AppHeader from "~/components/header/index";
import AppFooter from "~/components/AppFooter.vue";

export default {
  components: {
	AppHeader,
    AppFooter
  }
};
</script>
<style lang="scss" src="./style.scss" scoped />