@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';

.box-full-purple {
	position: relative;
	width: 100%;
	background-color: #8c67cd;

	.section-title {
		margin-top: 131px;
		margin-bottom: 97px;
		font-family: $f-circularstd;
		font-size: 34px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.65;
		letter-spacing: -0.6px;
		text-align: center;
		color: #ffffff;
	
		@include mq-medium-only {
		  font-size: 23px;
		  margin-top: 110px;
		  margin-bottom: 50px;
		}
	  }
}

.wrapper-center-content {
  width: 100%;
  padding-bottom: 36px;

  @include mq-medium-only {
    height: auto;
  }

  .box-full-white {
    position: relative;
    background-color: #ffffff;
  }

  h2 {
    margin-top: 27px;
    margin-bottom: 10px;
    margin-left: 125px;
    margin-right: 125px;
    text-align: justify;
    font-family: $f-circularstd;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #534D5C;

    @include mq-medium-only {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 125px;
    margin-right: 125px;
    text-align: justify;
    font-family: $f-circularstd;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #534D5C;

    @include mq-medium-only {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 125px;
    margin-right: 125px;
    text-align: justify;
    font-family: $f-circularstd;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #534D5C;

    @include mq-medium-only {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 125px;
    margin-right: 125px;
    text-align: justify;
    font-family: $f-circularstd;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #a9a6ad;

    @include mq-medium-only {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  ul {
	list-style-type: circle;
	list-style-position: inside;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 125px;
    margin-right: 125px;
    text-align: justify;
    font-family: $f-circularstd;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #a9a6ad;

    @include mq-medium-only {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  a {
	color: #a9a6ad;
  }
}
