<template>
	<div class="parentstory-logo">
		<router-link :to="$i18n.path(path)">
			<img class="parentstory-logo__image" src="~/static/parentstory-logo-orange.png" />
			<span v-if='isPartner' class="parentstory-logo__text">{{ $t('header.partner') }}</span>
		</router-link>
	</div>
</template>

<script>
export default {
	name: "HeaderLogo",
	props: {
		isPartner: {
			type: Boolean,
			default: false
		},
		path: {
			type: String,
			default: '/'
		}
	}
}
</script>

<style lang="scss">
@import '~/assets/style/_variables.scss';
@import '~/assets/style/_mixins.scss';
@import './style.scss';
</style>
